/*

CSS to style any annotations for demos.
To add a note use

<div class="note">
    <div class="annotation">
        <h2>Just a quick note</h2>
        <p>With some info on this part of the page</p>
    </div>
</div>

*/

.note {
    .ion;
    width:20px;
    height:20px;  
    font-size:30px;
    position:absolute;
    right:10px;
    color:@blue;
    cursor:help;
    z-index:100;
    
}
.note:before{
content:@ionicon-var-chatbox-working;

}
.annotation{
    overflow:hidden;
    transition:0.5s height, 0.5s padding;
    box-sizing:border-box;
    line-height:1.4em;
    font-family:@main-font-stack;
    height:0px;
    position:fixed;
    font-size:14px;
    top:0px;
    left:0px;

    background-color:@blue;
    color:@white;

    width:100%;
    z-index:1000;
    background-image:url('/images/weaveability-logo.png');
    background-repeat:no-repeat;
    background-position:bottom 0px right 0px;
    
    p {
        color:@white;
    }
    aside{
        position:absolute;
        top:0px;
        .unit-margin-top(2);
        opacity:0.5;
    }
}
.note:hover > .annotation{
    height:300px;
    .unit-padding(4);
    border-bottom:2px solid @secondary;
}