.dashboard{
	// section > .header{
	// 	background-image: url('../images/grey-tiled.png');
	// 	background-position:0 0;
	// 	background-repeat: repeat-y;
	// }
	// .dashboard-nav{
	// 	list-style:none;
	// 	 .unit-padding-vertical(2);
	// 	 button{
	// 		.unit-padding-vertical(1);
	// 		width:100%;
	// 		margin: 5px 0;
	// 	 }
	// }
	// .calendar {
	// 	.header {
	// 		overflow:hidden;
	// 		h2{
	// 			display:inline-block;
	// 			float:left;
	// 		}
	// 		a{
	// 			float:right;
	// 			line-height:37px;
	// 		}
	// 	}
	// }
	// .reports{
	// 	select{
	// 		width:100%;
	// 		border:1px solid @primary;
	// 	}
	// 	.space-filled{
	// 		text-align:center;
	// 		.value{
	// 			font-size:140px;
	// 			font-size:14rem;
	// 			color: @highlight;
	// 		}
	// 	}
	// }
	// .notifications-table{
	// 	.header{
	// 		text-align:right;
	// 	}
	// 	table{
	// 		width:100%;
	// 		.border-radius(0,10px,10px,0);
	// 	}
	// 	td,th{
	// 		background: @white;
	// 		border:2px solid @primary;
	// 		text-align:center;
	// 	}
	// 	th{
	// 		border-top:0;
	// 	}
	// 	tr:last-child td{
	// 		border-bottom:0;
	// 	}
	// 	td:first-child, th:first-child{
	// 		border-left:0;
	// 	}
	// 	td:last-child, th:last-child{
	// 		border-right:0;
	// 	}
	// 	.desc{
	// 		text-align:left;
	// 	}
	// }
	div[data-view="admin"]{
		button.save{
			float:right;
		}
	}
	table{
		td[data-field="task"]{
			text-align:left;
		}
		.input-field input{
			width:100%;
		}
	}
	.dashboard-access-level-2{
		width: 100%;
		display: inline-block;
		margin-bottom: 0 !important;
		&:nth-child(2){
			margin-left:27%;
		}
		&:first-of-type{
			.unit-margin-right(2);
		}
		.columns.tile-main{
			width:48%;
		}
	}
	.welcome-box,
	.tasks-box{
		.main.row{
			padding: 10px;
			text-align: center;
			margin-bottom: 20px;
			border-bottom-right-radius: 7px;
    		border-bottom-left-radius: 7px;
			table{
				width:100%;
				thead tr th:nth-child(n+2){
					max-width:27px;
				}
			}
			p span{
				font-weight:bold;
			}
			p.warehouse-name{
				font-weight:bold;
				float:left;
			}
			.trays{
				.open{
					background-color: #dff2bf;
				}
				display:block;
				.open-tray-link{
					&:extend(.dashboard-tray);
				}
				a{
					text-align:left;
				}
				td{
					padding-left: 10px;
					padding-left: 1rem;
					padding-right: 10px;
					padding-right: 1rem;
					padding-top: 10px;
					padding-top: 1rem;
					padding-bottom: 10px;
					padding-bottom: 1rem;
					border: 1px solid #d7d7d7;
					background-color:#fff;
				}
				&:nth-child(n+3) a{
					border-top:none;
				}
			}
		}
	}
	.welcome-box{
		.main.row{
			padding: 10px 10px 10px 0;
			p{
				text-align: left;
				margin-left:20px;
			}
		}
	}
	.main{
		padding-left:0;
		padding-top:0;
	}
	a{
		text-decoration: none;
	}
	.banner{
		margin-bottom:0;
	}
	.row.types:first-of-type{
		margin-bottom:20px;
	}
	.dashboard-container{
		display: inline-block;
		margin-top: 20px;
	}
	.first-row{
		.unit-margin-bottom(2);
	}
	button.tile-button{
		text-align: left;
		color: #333;
		text-transform: none;
		padding: 0;
		white-space: normal;
		width:100%;
		.content-box .row{
			min-height:116px;
		}
	}
	.dashboard-back{
		float:left;
	}
	.dashboard-tandc{
		float:right;
	}
	#vertical-nav{
		&.minimised{
			width:4%;
			li[data-view="home"]{
				background: url("/images/small-home-dashboard.png") no-repeat 50% 50%;
			}
			li[data-view="admin"]{
				background: url("/images/small-admin-dashboard.png") no-repeat 50% 50%;
			}
			li[data-view="warehouses"]{
				background: url("/images/small-warehouses-dashboard.png") no-repeat 50% 50%;
			}
			li[data-view="contacts"]{
				background: url("/images/small-contacts-dashboard.png") no-repeat 50% 50%;
			}
			li[data-view="messages"]{
				background: url("/images/small-messages-dashboard.png") no-repeat 50% 50%;
			}
			a{
				color:transparent;
			}
		}
		margin:0;
		background: #6a6666;
		width: 13.5em;
		border-bottom-right-radius: 7px;
		ul{
			margin-bottom:0;
			&.tabs{
				border:none;
			}
		}
		ul li{
			margin:0;
			list-style:none;
			color: #fff;
    		border-top: 1px solid #fff;
			cursor:pointer;
			height:100%;
			height:44px;
			&.active{
				background-color:@primary !important;
			}
			a{
				display: block;
				margin: 10px;
				color: #fff;
			}
			&:last-child{
				border-bottom-right-radius: 7px;
			}
			&:hover{
				background-color:@primary !important;
			}
			&.minimise-dashboard-nav{
				&:before{
					content:@ionicon-var-ios-arrow-left;
					position: absolute;
					font-size: 24px;
					font-size: 2.4rem;
					margin-top: 10px;
					margin-left: 10px;
					&:extend(.ion);
				}
			}
			&.maximise-dashboard-nav{
				&:before{
					content:@ionicon-var-ios-arrow-right;
					position: absolute;
					font-size: 24px;
					font-size: 2.4rem;
					margin-top: 10px;
					margin-left: 10px;
					&:extend(.ion);
				}
			}
		}
	}
	.header.curved{
		width: 18%;
		-webkit-border-top-right-radius: 10px;
		-webkit-border-bottom-right-radius: 0;
		-webkit-border-bottom-left-radius: 0;
		-webkit-border-top-left-radius: 10px;
		-moz-border-radius-topright: 10px;
		-moz-border-radius-bottomright: 0;
		-moz-border-radius-bottomleft: 0;
		-moz-border-radius-topleft: 10px;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		border-top-left-radius: 10px;
		text-align: center;
		background-color: #6a6666;
	}
	div[data-view="contacts"]{
		.header{
			position: relative;
			.button{
				position: absolute;
				right: 0;
				top: 0;
				margin-top: 13px;
				margin-right: 13px;
			}
		}
		.button-container{
			#add-new-contact-container{
				&:extend(.add-new-contacts-container);
			}
		}
		section.master-contacts .main{
			border: 1px solid #d7d7d7;
		}
		p.registered-status{
			&:extend(.registered-status);
		}
		ul{
			li{ 
				padding:0;
				a{
					height: 100%;
					.unit-margin-top(1);
					.unit-margin-left(2);
				}
			}
			&.two-tabs{
				li{
					width:49.5%;
					text-align:left;
					height:42px;
					margin-right:1%;
						@media @mobile{
							width:90%;
						}
					&:nth-child(2){
						margin-right:0;
					}
				}
			}
			&.five-tabs{ 
				li{
					height:64px;
					width:19.2%;
					margin-right:1%;
					&:last-of-type{
						margin-right:0;	
					}
				}
			}
		}
	}
	select[name="warehouses"]{
		margin-left: 0;
		margin-right: 50px;
	}
	.footer{
		button{
			margin-top:6px;
		}
	}
	
	ul.tabs{
		width:100%;
		border-bottom: 5px solid @primary;
	}
	section.tabs{
		border-bottom:none;
	}
	.tab-links{
		margin-bottom:0;
		li{
			margin:0 5px;
			float:left;
			list-style:none;
			padding-bottom:10px;
			width:122.5px;
			margin-left:0;
			font-size: 1.5rem;
			&.active{
				background:@primary;
			}
			&:after{
				content:"";
			}
			a{
				height:100%;
				color:#fff;
				display:block;
			}
		}
		&:after{
			display:block;
			clear:both;
			content:"";
		}
	}
	.right-arrow:after{
		content:"\f3d6";
		color:@primary;
	}
	.tab-content{
		padding:15px;
		background:#fff;
		margin-bottom:20px;
		border: 1px solid rgba(0,0,0,0.15);
		border-bottom-left-radius: 7px;
		border-bottom-right-radius: 7px;
		&.view-edit-warehouse{
			background-color: #d7d7d7;
    		box-shadow: none;
			padding-bottom: 0;
			padding-left: 0;
			padding-right: 0;
			border-radius: 0;
			border:0;
			border-bottom-left-radius: 7px;
    		border-bottom-right-radius: 7px;
			.form-footer{
				min-height:44px;
			}
			.content-box{
		    	margin-bottom: 20px;
    			margin-bottom: 2rem;
			}
		}
		&:last-of-type{
			margin:0;
		}
		.tab{
			&.active{
				display:block;
			}
		}
	}
	#view-edit-warehouse,
	#add-new-warehouse{
		position:relative;
		div[data-view-edit-capture-zone]{
			display:inline-block;
			width:100%;
			.view-warehouse-utility-buttons{
				margin-bottom: 64px;
				.view-edit-buttons{
					position:absolute;
					left:0;
					margin-top:6px;
				}
				.save-button.header{
					position:absolute;
					right:0;
					margin-top:0;
					width:inherit;
				}
			}
		}
		section.tabs{
			border-bottom: 30px solid #f28711;
		}
		section.tabs{
			width:100%;
		}
		ul.tabs{
			border:none;
			li{
				padding:0;
				a{
					font-size:2.1rem;
					font-size:21px;
					color:#fff;
					display: block;
					width: 88%;
					height: 100%;
					margin-top: 10px;
					margin-left: 20px;
					margin-right: 20px;
					margin-bottom: 202px;	
					font-size:1.4rem;
				}
				&:after{
					top:8px;
				}
			}
		}
		div.tab{
			background-color:@tertiary;
			height: 100%;
			#registration,
			#define-space{
				margin-bottom:0;
				.main p.reg-required-fields{
					margin-left:20px;
				}
			}
			.content-box.primary{
				margin-left:20px;
				margin-right:20px;
			}
		}
		#price-and-availability-user-data
			.content-box{
				.view-edit-buttons{
					position:relative;
					float:right;
				}
			}
			form#define-space{
				.view-edit-buttons{
					position:relative;
					float:right;
				}
			}
	}
	.dashboard-table{
		border-collapse:separate;
		border: none;
		tr:last-of-type{
			td:first-of-type{border-bottom-left-radius:7px;}
			td:last-of-type{border-bottom-right-radius:7px;}
		}
		thead tr{
			th:first-of-type{border-top-left-radius:7px;}
			th:last-of-type{border-top-right-radius:7px;}
			&[data-empty="true"]{
				position:relative; 
			}
		}
		td{
			text-align:center;
		}
	}
	.add-new-warehouse-container{
		display: inline-block;
		float: right;
		button{
			margin-left: 20px;
		}
	}
	.secondary.content-box{
		margin-bottom:20px;
		&:last-of-type{
			margin-bottom:0;
		}
	}
	&#contacts-setup,
	&#contacts-explanation{
		section .main{
			padding-left: 0;
			padding-top: 0;
			padding-right: 0;
			padding-bottom: 0;
			a.back{
				.unit-margin-top(2);
				.unit-margin-left(2);
			}
			fieldset.main{
				margin: 20px;
				border-radius: 7px;
				.unit-padding(2);
				td.table-header{
					background-color:#d7d7d7;
					border-top:1px solid #fefefe !important;
					border:none;
					font-weight:bold;
				}
				th.corner{
					border-bottom:1px solid #fefefe;
				}
				td.authorised{
					text-align:center;
					&:after{
						content:@ionicon-var-checkmark-round;
						&:extend(.ion);
						font-size:3rem;
						color:@primary;
					}
				}
			}
		}
		.warehouse-tasks-tray{
			margin-left:0;
			.unit-margin-top(1);
			.unit-margin-bottom(2);
			a{
				&:extend(.dashboard-tray);
			}
			#add-new-contact-container{
				&:extend(.add-new-contacts-container);
			}
			td,th{
				.unit-padding(1);
			}
			p.registered-status{
				&:extend(.registered-status);
			}
			.tray.open{
				background-color: #dff2bf;
				.warehouse-tasks-tray .tray.open{
					background-color: #eee;
				}
			}
		}
		.trays .tray.open{
			display: inline-block;
			width: 96.5%;
		}
		.tray .main{
			.unit-padding(2);
		}
		.footer{
			a.back{
				float:right;
				margin-left:0;
				margin-top:0;
			}
		}
	}
}

.dashboard-tray{
	background-color: #fff;
    border-bottom: none;
    border: 1px solid #ccc;
}

.add-new-contacts-container{
	display:inline-block;
	float:right;
	button{
		margin-left:10px;
	}
}

.registered-status{
	margin-bottom:0;
	&.complete{
		color:@primary;
	}
	&.pending{
		color:@highlight;
	}
	&.expired{
		color:@invalid-dark;
	}
}

.contacts-suggestions{
	font-weight:900;
	border: 1px solid #d7d7d7;
	margin-bottom:-241px;
	margin-bottom:0;
	position:absolute;
	width:20.2%;
	max-height: 97px;
    overflow: auto;
	li{
		position:relative;
		list-style:none;
		cursor:pointer;
		margin-bottom:0;
		a{
			transition:background-color 0.2s ease-in-out;
			-webkit-transition:background-color 0.2s ease-in-out;
			-moz-transition:background-color 0.2s ease-in-out;
			display:block;
			background:#FFF;
			color:#333;
			text-decoration:none;
			margin:0 !important;
			&:hover{
				background:#d7d7d7;
			}
		}
	}
}

#change-password-form{
	div[data-function="save-buttons"] button{
		.unit-margin-top(2);
	}
}