/* FORM STYLES */
// .input-field.select{ //Change
//     background: url('/images/dropdown-arrow.png') no-repeat 97% transparent;
//     overflow: hidden;
//     background-color: #fff;
//     position:relative;
//     &:before{
//         position: absolute;
//         content: '';
//         right: 11px;
//         height: 36px;
//         width: 1.2em;
//         //background: url('/images/dropdown-arrow.png') no-repeat right transparent;
//         top:1px;
//     }
//     select{
//         background-color: rgba(0, 0, 0, 0) !important;
//         -webkit-appearance: none;
//         -moz-appearance:none;
//         -ms-appearance:none;
//         -o-appearance:none;
//         appearance: none;
//         &::-ms-expand{
//             display:none;
//         }
//     }
// }
// td.input-field.select{
//         background: url('/images/dropdown-arrow.png') no-repeat 91% rgba(0, 0, 0, 0) !important;
// }
 .input-field label{
    display:block;
    width:100%;
 }
 input[type="checkbox"]{
	vertical-align: middle;
 }
 input:not([type='checkbox']), select{
    width:100%;
 }
 select{
     line-height:32px;
 }
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="date"], input[type="password"]{
	.border-radius(2px,2px,2px,2px);
    
}
input::-webkit-calendar-picker-indicator{
    display: none;
}
input[type="date"]::-webkit-input-placeholder{ 
    visibility: hidden !important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="checkbox"]{
	width:auto;
	width:@unit-px*2;
	height:@unit-px*2;
}
.input-field.check label,
.checkbox label{
	width:auto;
	display:inline;
	word-wrap: break-word;
}
 td input,td select{
	width:100%;
 }
 .input-field{
    .unit-margin-bottom(2);
    
    .messages{
        height:2rem;
        .hint {
            color:lighten(@dark-text,20%)
        }
        .invalid, .valid {
            display:none;
        }
        
    }
 }
 
 .input-field.valid {
    .messages .valid {
        display:inline;
        color:@valid-dark;
    }
}
.input-field.invalid {
    .messages .invalid{
        display:inline;
        color:@invalid-dark;
    }
    
}
 
 .input-shadow(@color){
    box-shadow: 0px 0px 12px @color;
 }
 
 .valid > input{
    border-color:@valid-dark;
    color:@valid-dark;
    background-color:@valid-light;
 }
 
 .valid > input:focus{
   .input-shadow(@valid-light);
 }
 
 .invalid > input{
    border-color:@invalid-dark;
    color:@invalid-dark;
    background-color:@invalid-light;
 }
 .invalid > input:focus{
   .input-shadow(@invalid-light);
 }
 

 .valid input{
    //images
 }
.invalid input{
    //images
}
.form-footer{
	background: @secondary;
	padding:2*@unit-px 4*@unit-px;
	text-align:right;
	.border-radius(0,5px,5px,0);
	color:@light-text;
}
.form-footer button{
	margin-left: @unit-px;
	margin-right: @unit-px;
}
.form-footer .button.back,
.form-footer button.back{
	float:left;
	border:1px solid @light-text;
}
.form-footer button.back:hover{
	color:@light-text;
}
.input-field .messages{
  max-height: 500px;
  //transition: max-height .2s ease-out;
  //-webkit-transition: max-height .2s ease-out;
  overflow: hidden;
  padding:0 !important;
  margin:0 !important;
  height:auto;
  font-size:12px;
    list-style: none;
     li{
    	padding: .3em 1em .5em;
        margin:0;
    }
    .msg-alert,
    .msg-error{
    	display:none;
    }
    .msg-alert {
      background-color: #fdf8ec;
    }
    .msg-error {
      background-color: #fbedec;
    }
    .msg-success{
    	background-color: #edf8f0;
    }
}
//.input-field.error .messages,
//.input-field.invalid .messages {
    //max-height: 500px;
//}
.input-field.invalid input, .input-field.invalid select {
  border-color: #dd4a3e;
}
.input-field.alert input, .input-field.alert select {
  border-color: #edb648;
}
//.input-field input:focus ~ .messages, .input-field select:focus ~ .messages {
  //max-height: 500px;
  //transition: max-height .4s ease-in;
  //-webkit-transition: max-height .4s ease-in;
//}
.input-field.error-required .msg-alert {
  display: block;
}
.input-field.error .msg-error {
  display: block;
}
.input-field .messages .msg-info {
  background-color: #e8f5fb;
  position: relative;
}
.input-field .msg-info:before {
	color: #009cda;
	margin-right: .5em;
	left: 8px;
	position: absolute;
	top: 5px;
}
.input-field.error .msg-info ,
.input-field.success .msg-info {
  //display: block;
}
// .input-field.success .messages .msg-info {
// 	display:none;
// }
.input-field.error-required .msg-info, .input-field.error-required .msg-error {
  //display: none;
  transition: max-height .2s ease-out;
  -webkit-transition: max-height .2s ease-out;
}
// .input-field.error-required .msg-info{
//     display:none;
// }
.input-field.error.error-required input, .input-field.error.error-required select, .input-field.error.error-required textarea{
  border-color: #edb648;
  background-color:#fff;
}
.input-field.error input, .input-field.error select, .input-field.error textarea{
	border-color:#dd4a3e;
}
@media @mobile {
	.form-footer{
		text-align:center;
	}
}
/* Specific forms */

form.storage-search{
    margin-bottom:0px;
    .input-field input, .input-field select {
            color:@dark-text;
            width:100%;
        }
    .input-field{
        &.hidden{
            margin-top:0;
            margin-bottom:0;
        }
        width:170px;
        display:inline-block;
        .unit-padding-right(2);
        .unit-margin-bottom(1);
        label {
            width:100%;
        }
    }   
    
    .input-field.number{
        width:170px;
    }
    
    .input-field.last{
        float:right;
        margin-top:25px;
        margin-top:2.5rem;
        padding-right:0px;
    }
    
    .input-field.checkbox{
        width:75px;
        position:relative;
        label{
            width:50px;
            padding-left:20px;
        }
        input{
            left:0px;
            top:6px;
            width:20px;
            position:absolute;
        }
    }
}

form.storage-search .input-field.last.invalid-postcode{
    margin-bottom:0;
    top:-52px;
    p.invalid-postcode-message{
        margin-bottom:0;
    }
}

@media @mobile{
form.storage-search{
   
    .input-field {
            width:100%;
        }
}
}

 @media only screen and (min-width:768px){ /* Bigger screens */
    .input-field label
        {display:inline-block;width:25%;vertical-align: middle;}
	.input-field input:not([type='checkbox']){
		width:70%;
	}
    select {width:70%;}
    .input-field .messages{
        padding-left:25%;
    
    }
 }
 