/* FORM STYLES */
 label{
    display:block;
    width:100%;
 }
 input, select{
    width:100%;
    .unit-margin-bottom(0.5);
 }
 
 .input-field{
    .unit-margin-bottom(2);
    
    .messages{
        height:2rem;
        .hint {
            color:lighten(@dark-text,20%)
        }
        .invalid, .valid {
            display:none;
        }
        
    }
 }
 
 .input-field.valid {
    .messages .valid {
        display:inline;
        color:@valid-dark;
    }
}
.input-field.invalid {
    .messages .invalid{
        display:inline;
        color:@invalid-dark;
    }
    
}
 
 .input-shadow(@color){
    box-shadow: 0px 0px 12px @color;
 }
 
 .valid > input{
    border-color:@valid-dark;
    color:@valid-dark;
    background-color:@valid-light;
 }
 
 .valid > input:focus{
   .input-shadow(@valid-light);
 }
 
 .invalid > input{
    border-color:@invalid-dark;
    color:@invalid-dark;
    background-color:@invalid-light;
 }
 .invalid > input:focus{
   .input-shadow(@invalid-light);
 }
 

 .valid input{
    //images
 }
.invalid input{
    //images
}
.form-footer{
	background: @secondary;
	padding:2*@unit-px 4*@unit-px;
	text-align:right;
	.border-radius(0,5px,5px,0);
	color:@light-text;
}
.form-footer button{
	margin:0 @unit-px;
}
.form-footer button.back{
	float:left;
	border:1px solid @light-text;
}
.form-footer button.back:hover{
	color:@light-text;
}

/* Specific forms */

.storage-search{
    
    .inputField{
        width:140px;
        display:inline-block;
        .unit-padding-right(2);
        input,select {
            color:@dark-text;
            width:100%;
        }
        label {
            width:100%;
        }
    }   
    
    .inputField.number{
        width:80px;
    }
    
    .inputField.checkbox{
        width:75px;
        position:relative;
        label{
            width:50px;
            padding-left:20px;
        }
        input{
            left:0px;
            top:6px;
            width:20px;
            position:absolute;
        }
    }

}
 @media only screen and (min-width:768px){ /* Bigger screens */
    label
        {display:inline-block;width:25%;}
    input   {width:75%;}
    select {width:75%;}
    .input-field .messages{
        padding-left:25%;
    
    }
 }
 