.logo{
    max-width:100%;
 }
 
 .main-nav{
    box-sizing:border-box;
    background-color:@primary;
    .unit-padding(0.5);
    .small-font;
    color:@light-text;
    position:absolute;
    right:0px;
    bottom:0px;
    border-radius:5px 5px 0px 0px;
    li {
        text-transform:uppercase;
        .unit-padding-horizontal;
    }
    a{
       color:@white;
        text-decoration:none;       
    } 
    a:hover {
        text-decoration:underline;
    }
 }
 header .home-link{
	position: relative;
	z-index: 100;
 }
 
 header .container{
    position:relative;
 }
 
 header aside{
    position:absolute;
    right:0px;
    top:0px;
    width:330px;
    width:33rem;
 }
 
 /** header elements **/
 .contact-info{
    float:right;
    background-color:@secondary;
    color:@light-text;
    border-radius:0px 0px 5px 5px;
    .unit-padding;
    
    span {
        font-weight:bold;
    }
 }
 
 @media @mobile {
    .contact-info{
        display:none;
    }
 }
 
 .user-links{

    .unit-margin-right(2);
    *{
        margin-bottom:0px;
        .small-font;
    }
 }
 
 @media @mobile {  // Just some quick hacks for now until we sort a responsive header.
    .user-links{
        ul,p {
            display:inline-block;
        }
    }
 }
 
 
 // Very basic mobile nav.. will need some work
 
 @media @mobile{
    header .main-nav{
        .unit-padding(0);
		padding-top:40px;
		height: 0;
		overflow: hidden;
		transition: 0.5s all;
		width:100%;
        position:fixed;
        top:10px;
        z-index:10;
        border-radius:0px;
		background-color: transparent;
	}
    header .main-nav:after{
		content:@ionicon-var-navicon-round;
		color:@white;
		position:absolute;
		right:10px;
		top:2px;
		.ion;
		font-size: 24px;
		color: #9bc11f;
	}
	 header .main-nav:hover{
		height: 249px;
	 }
    header {
    
        aside{
            display:none;
        }
    
        .logo{
            width:160px;
        }
    
    }
    
    .main-nav ul{
        display:none;
        .unit-padding(0);
        border-bottom:2px solid  @secondary;
        border-top:2px solid  @secondary;
		display:block;
		font-size: 16px;
    }
    .main-nav:hover ul{
        .unit-padding-horizontal(0);
        /*padding-top:52px;*/
        overflow:hidden;
        width:100%;
        box-sizing:border-box;
    }
    .main-nav li:hover{
            background-color:@secondary;
            color:@primary;
        }
    .main-nav ul li{
        display:block;
        width:100%;
        text-align:center;
        background-color:@primary;
        a{
            display:inline-block;width:100%;
            .unit-padding-vertical();
        }
        
    }
 }
 
 
 
 