/** home page elements **/
.call-to-action{
    
}

 .call-to-action .columns{
    .unit-padding(3);
    .unit-padding-top(30);
    .mini-content-box{
        text-align:center;
        h2 {
            font-weight:normal;
            span {
                    font-weight:bold;
            }
        }
    }
 }
 
 .call-to-action .fill-your-warehouse{
    background-image:url('../images/lorry.jpg')
 
 }
 .call-to-action .find-warehouse-space{
    background-image:url('../images/lorry.jpg')
 }
 
 .content-box.what-is {
    > .header, > .main{
        .unit-padding-horizontal(6);
    }
    > .header{
        h3 {
            font-weight:bold;
        }
        .unit-padding-top(2);
    }
    > .main{
        padding-top:0px;
    }
    .footer {
    text-align:right;
    }
    button{
        border:0px;
        padding:0px;
    }
 }
  
 .testimonial-footer {
    h5 {
        text-align:right
    }
    blockquote {
        .small-font;
    }
    span {
        .small-font;
        font-weight:bold;
        display:block;
    }
 }
 
 .big-OR{
    width:80px;
    height:80px;
    background-color:@white;
    color:@primary;
    position:absolute;
    left:50%;
    top:200px;
    margin-left:-40px;
    border-radius:80px;
    text-align:center;
    font-size:36px;
    font-weight:bold;
    box-sizing:border-box;
    padding-top:10px;
    .slight-shadow;
 }