/** home page elements **/
.call-to-action{
    
}

 .call-to-action .columns{
    .unit-padding(3);
    .unit-padding-top(30);
    .mini-content-box{
        text-align:center;
		background-image:url('/images/green-tiled.png');
		background-position:0 0 ;
		background-repeat:repeat-y;
        h2 {
            font-weight:100;
            span {
                    font-weight:bold;
            }
        }
    }
 }
 
 #home-page .main-box {
        background-color:@tertiary;
        margin-bottom:0px;
        .unit-padding-bottom(3);
        
 }
 
 #home-page .main-box-footer{
    background-color:@secondary;
    color:@white;
    .unit-margin-bottom(3);
    border-radius: 0px 0px 20px 20px;
    .unit-padding-horizontal(3);
    .unit-padding-vertical(2);
    blockquote{
        position:relative;
        margin:0px;
        .unit-padding(4);
                span {
         color:@primary;

        }

    }
    blockquote:before{
        left:0px;
        top:0px;
    }
    blockquote:after{
    position:absolute;
        right:0px;
    }
 }
 
 #home-page .boxes{
    .unit-padding-horizontal(3);
    .unit-margin-top(4);
    .content-box{
        box-shadow:10px 10px 10px rgba(0,0,0,0.2);
    }
 }
 
 #home-page .banner{
    background-image:url("/images/home-banner.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
    background-color:#EDEDED;
    .unit-padding(3);
    h1,h2,h3{
        color:@dark-text;
        text-align:left;
        padding:0px;
        text-transform:none;
    }
    h1{
        .unit-margin-vertical(2);
        font-weight:600;
        margin-bottom:10px;
        margin-bottom:1rem;
    }
    .free-registration{
        position:absolute;
        right: 90px;
        top: 34%;
        text-align: center;
    }
            
 }
 @media @mobile{
     #home-page .banner{
         .free-registration{
            position:relative;
            left:0;
            top:0;
         }
     }
 }
 
 
 
 #home-page .content-box.secondary{
    .header {
       text-align:center;
        h2 {
            text-transform:none;
            font-weight:normal;
            font-size:24px;
            display:inline-block;
            margin-right:1rem;
            margin-right:20px;
        }
        .action{
            .unit-padding-horizontal(2);
        }
    }
    .main {
        .unit-padding-horizontal(4);
        position:relative;
        h3{
            text-transform:none;
            .unit-margin-bottom(2);
        }
    }
    .helper-icon{
        position:absolute;
        bottom:40px;
        right:40px;
        width: 25%;
        text-align:center;
        img{
            max-width:100%;
        }
    }
    .footer{
        text-align:center;
        font-size:18px;
        font-size:1.8rem;
        text-transform:uppercase;
        button {
            margin-left:10px;
        }
    }
    
    
 }
  @media (max-width:800px){
       #home-page .content-box.secondary{
           .unit-margin-bottom(2);
            .main {
                .unit-padding-horizontal(2);
            }
           .helper-icon{
                position:relative;
                bottom:0;
                right:0;
                width: 100%;
            }
       }
  }
 .content-box.secondary.match-your{
	.header{
		text-align:center;
		min-height: 66px;
		 .unit-padding-left(5);
		 .unit-padding-right(5);
		 h5{
			font-size:22px;font-size:2.2rem;
		 }
	}
    
 }
 .match-your{
	margin-bottom:10px;
 }
 .content-box.what-is {
    > .header, > .main{
        .unit-padding-horizontal(6);
    }
    > .header{
        h3 {
            font-weight:bold;
        }
        .unit-padding-top(2);
    }
    > .main{
        padding-top:0px;
    }
    .footer {
    text-align:right;
    }
	.button,
    button{
        border:0px;
        padding:0px;
    }
 }
  
 .testimonial-footer {
    h5 {
        text-align:right;
		font-weight: bold;
		font-size: 22px;
    }
    blockquote {
        .small-font;
    }
    span {
        .small-font;
        font-weight:bold;
        display:block;
    }
 }
 
 .big-OR{
    width:80px;
    height:80px;
    background-color:@white;
    color:@primary;
    position:absolute;
    left:50%;
    top:200px;
    margin-left:-40px;
    border-radius:80px;
    text-align:center;
    font-size:36px;
    font-weight:bold;
    box-sizing:border-box;
    padding-top:10px;
    .slight-shadow;
 }
 
 @media @mobile{
	.big-OR{
		top: auto;
		margin-top:-40px;
	}
	.fill-your-warehouse, .find-warehouse-space{
		float:none;
	}
 }