#news{
	height:auto;
	overflow:hidden;
    .single-button-container{
        margin-bottom: 0;
        text-align: right;
    }
	.banner{
		margin-bottom: 0;
		margin-top:0;
	}
	.news-posts, .other-posts, .news-post{
		margin-top: 20px;
	}
	.other-posts{
		float:right;
		margin-right:20px;
	}
	.header.curved{
		width: 33%;
		-webkit-border-top-right-radius: 10px;
		-webkit-border-bottom-right-radius: 0;
		-webkit-border-bottom-left-radius: 0;
		-webkit-border-top-left-radius: 10px;
		-moz-border-radius-topright: 10px;
		-moz-border-radius-bottomright: 0;
		-moz-border-radius-bottomleft: 0;
		-moz-border-radius-topleft: 10px;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		border-top-left-radius: 10px;
		text-align: center; 
		background-color:#9BC11F; 
		border-bottom: 1px solid #9BC11F;
		h3{
			margin-bottom:0;
			color: #fff;
			margin-bottom: 0;
		}
	}
	.content-box .header h3{
		margin-bottom: 0;
	}
	.main-footer{
		background-color: #6A6666;
		color: #FEFEFE;
		margin-bottom: 30px;
		margin-bottom: 3rem;
		border-radius: 0px 0px 20px 20px;
		padding-left: 30px;
		padding-left: 3rem;
		padding-right: 30px;
		padding-right: 3rem;
		padding-top: 20px;
		padding-top: 2rem;
		padding-bottom: 20px;
		padding-bottom: 2rem;
		position:relative;
		.button.action.mini{
			position: absolute;
			right: 0;
			margin-right: 30px;
			bottom:18px;
		}
		
		span{
			&:nth-child(3){
				font-size: .9em;
			}
			&.news-title{
				font-weight: bold;
                font-size: 2rem;
			}
		}
	}
	
	.secondary-post{
		margin-left: 0;
	}
	.news-container {
		 background-color: #D7D7D7;
		 display: inline-block;
		 width: 100%;
		 .unit-padding-bottom(2);
		 a.back{
			color: #000;
			position: relative;
			top: 11px;
			left: 0;
			text-decoration: initial;
			&:before{
				content: "\f124";
				color: #000;
				margin-right: 10px;
				&:extend(.ion);
			}
		&:hover{
			text-decoration: underline;
		}
		 }
		 a.previous-news{
			 color: #000;
			 float:right;
			 top: 11px;
			 text-decoration: initial;
			 position: relative;
			 &:after{
				content: "\f125";
				color: #000;
				margin-left: 10px;
				&:extend(.ion);
			 }
			&:hover{
				text-decoration: underline;
			}
		 }
		.latest-post{
            height:497px;
			.main{
				border-top: 5px solid #9BC11F;
    			border-top-right-radius: 5px;
                height:inherit;
			}
		}
	}
	.third-party-post{
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
		margin-bottom: 20px;
		.case-study-link p{
			a:nth-child(1){
				font-size: .9em;
				font-weight: bold;
				text-decoration: none;
				color: #000;
				&:hover{
					text-decoration: underline;
				}
			}
			a:nth-child(1):after{
				content: "\f125";
				color: #000;
				margin-top: 6px;
				float: right;
				&:extend(.ion);
			}
			span:nth-child(2){
				font-size: .8em;
			}
		}
		.case-study-link, .testimonial{
			border-bottom: 1px solid;
			margin-bottom: 10px;
		}
		.testimonial blockquote {
			position: relative;
			padding-left: 42px;
			padding-bottom: 13px;
			padding-bottom: 1.3em;
			font-size: .9em;
			&:before{
				left: 0;
				top: 0;
			}
			&:after{
				position: absolute;
				right: 0;
			}
		}
		.button.action.mini{
			float: right;
		}
	}
	.news-post{
        .latest-post,
        .secondary-post{
            height:543px;
            .main{
                height:inherit;
                p:first-child{
                    font-weight: bold;
                }
            }
        }
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	}
	.news-posts .latest-post,
	.news-posts .secondary-post,
    .news-post{
		.main{
            background:#fff;
            .unit-padding-top(2);
            .unit-padding-bottom(2);
            border-bottom: 1px solid #6a6666;
            img{
                max-width: 100%;
                height: auto;
            }
        }
        .image-container{
            background:#fff;
            text-align:center;
            .unit-padding-top(2);
            .unit-padding-bottom(2);
            border-bottom: 1px solid #6a6666;
        }
	}
	.news-posts .secondary-post:last-child .main-footer{
		margin-bottom: 0;
	}
	.image-container img{
		max-width:100%;
		height:auto;
	}
	.news-post-container{
		padding-bottom: 40px;
		display: inline-block;
		border-bottom: 1px solid;
		width: 100%;
	}
	.eleven.columns{
		margin-left: 20px;
        margin-right: 20px;
        width: 96.6%;
	}
	.prev,.next{
		margin-top:20px;
	}
	.next{
		float:right;
	}
}
.footer {
	position: relative;
	//top: -6px;
	.container .news-home{
		float: left;
	}
}

@media @mobile{
	#news .eight.columns,
	#news .other-posts{
		margin-left:0;
		margin-left:0;
		float:left;
		padding:0 20px;
	}
	#news .main-footer .button.action.mini{
		position:initial;
		margin-right:0;
		top:0;
	}
	.footer .container{
		width: 75%;
		padding: 0;
		margin: 0;
	}
}