

.popup-window{
	position:absolute;
	z-index:100;
	top:0;
	 width: 90%;
	 padding:5%;
	.inner{
		margin:auto;
		z-index: 100;
		position: relative;
		max-width:1200px;
	}
    .close-me:after{
        .ion;
    }
	.close, .close-me{
		  position: absolute;
		  top: -6px;
		  right: 5px;
		  font-size: 40px;
		  color:@white;
          span {
            display:none;
          }
	}
	.input-field input:not([type="checkbox"]){
		width:100%;
	}
	/*table tbody tr:first-child td:last-child button{
			display:none;
	}*/
}
.popup-window:before{
	font-size:0;
	position:fixed;
	top:0;
	bottom:0;
    left:0px;
	width:100%;
	min-height:100%;
	z-index:90;
	background:grey;
	opacity:0.8;
	content:"";
}
.popup-window{
	 .popup-buttons{
		.unit-padding-vertical(1);
		overflow:hidden;
	}
	.popup-buttons{
		padding-right:20px;
		 div{
			float:right;
			display:inline-block;
		}
		.add{
			margin-right:25px;
			text-transform: uppercase;
			button{
				margin-left:10px;
			}
		}
		.save{
			button{
				margin-left:20px;
			}
		}
	}
	.remove-col{
		width:100px;
		text-align:center;
	}
	table{
		margin-bottom:0;
		width: 100%;
	}
	.small{
		margin:5% auto;
		z-index: 100;
		position:relative;
	}
	.input-field.with-message{
		min-height:67px;
	}
}

#register-email-popup{
    position:fixed;
    left:0;
}

@media @full-width{
	.popup-window .inner{
		margin:40px;
	}
}
@media @mobile{
	.popup-window{
		width:100%;
		padding:0;
		min-height:100%;
		top:0 !important;
		left:0;
		right:0;
		bottom:0;
		overflow-y: scroll;
		position: fixed;
		.inner,.small{
			min-height: 100%;
			margin:0;
			table{
				width:100%;
			}
		}
		.close, .close-me{
			top: -21px;
			right: -3px;
		}
		.popup-buttons div{
			width:100%;
		}
	}
	.popup-window:before{
		display:none;
	}
	 
}