.popup-window{
	position:fixed;
	z-index:100;
	top:0;
	 width: 100%;
	.inner{
		margin:5%;
		z-index: 100;
		position: relative;
	}
	.close{
		  position: absolute;
		  top: -6px;
		  right: 5px;
		  font-size: 40px;
		  color:@white;
	}
	.input-field input:not([type="checkbox"]){
		width:100%;
	}
	/*table tbody tr:first-child td:last-child button{
			display:none;
	}*/
}
.popup-window:before{
	font-size:0;
	position:fixed;
	top:0;
	bottom:0;
	width:100%;
	min-height:100%;
	z-index:90;
	background:grey;
	opacity:0.8;
	content:"";
}
.popup-window .popup-buttons{
	.unit-padding-vertical(1);
	overflow:hidden;
}
.popup-window .popup-buttons div{
	width:120px;
	float:right;
	text-align:center;
}
.popup-window .remove-col{
	width:120px;
	text-align:center;
	padding:0;
}
.popup-window table{
	margin-bottom:0;
	width: 100%;
}
.popup-window .small{
	margin:5% auto;
	z-index: 100;
	position:relative;
}
@media @full-width{
	.popup-window .inner{
		margin:40px;
	}
}
@media @mobile{
	.popup-window{
		width:100%;
		min-height:100%;
		top:0;
		left:0;
		right:0;
		bottom:0;
		overflow-y: scroll;
		position: fixed;
		.inner,.small{
			min-height: 100%;
			margin:0;
			table{
				width:100%;
			}
		}
		.close{
			top: -21px;
			right: -3px;
		}
	}
	.popup-window:before{
		display:none;
	}
	 
}