.start-selling{
	.unit-margin-bottom(2);
	.title{
		background:@secondary;
		.border-radius(20px,20px,20px,20px);
		color:@light-text;
		overflow:hidden;
		h2{
			font-weight:100;
			display:inline;
		}
		padding: @unit-px*2 @unit-px*6 @unit-px*2 @unit-px*8;
		button{
			float:right;
		}
	}
	p{
		background: @tertiary;
		.border-radius(0,10px,10px,0);
		display:inline-block;
		padding: @unit-px/2 @unit-px;
		.unit-margin-left(8);
		button{
			padding:0;
		}
	}
}
.provider-form label{
	margin-right:5%;
}
.warehouse-details textarea{
	display: block;
	.border-radius(10px,10px,10px,10px);
	.unit-margin-top(2);
	width:100%;
	height:@unit-px*14;
}
.documents{
	border-top: @tertiary 1px solid;
	border-bottom: @tertiary 1px solid;
	padding: @unit-px 0;
	line-height: 38px;
	input[type="file"]{
		margin-top:@unit-px;
	}
}
.define-space{ 
	.select{
		width:22%;
	}
	.value{
		width:10%;
	}
	.action{
		width:5%;
		text-align:center;
	}
}
.view-list{
	float:right;
}
.price-and-availability{
	.text{
		text-align:center;
	}
}
@media @mobile{
	.start-selling {
		text-align:center;
		.title{
			padding: 20px;
			.border-radius(20px,0,0,20px);
		}
		 .title h2{
			display:block;
		}
		.title button{
			float:none;
		}
		 p{
			margin-left:0;
			display:block;
		}
	}
}