
#copy-button{
	padding: 7px 18px;
	padding: 0.7rem 1.8rem;	
}

.what-is{
    .header,.main{
        background-color:#ccc;
    }
}
.match-your{
    .header,.main{
        background-color:#ccc;
    }
}

#upload-photos {
    .document {
        .default-photo-label {
            color:@highlight;
            display:none;
            margin-left:13px;
            margin-left:1.3rem;
            .unit-margin-top(2);
            &:before{
                &:extend(.ion);
                content:@ionicon-var-android-star-outline;
                font-size:20px;
                margin-right:7px;
            }
        }
        .make-default-photo {
            display:initial;
            .unit-margin-left;
            .unit-margin-top(2);
            text-transform:none;
        }
        &.isDefault{
            img{
                border:1px solid @highlight;
            }
            .default-photo-label{
                display:inline-block;
            }
            .make-default-photo{
                display:none;
            }
        }
    }
}

.tool-tip{
    cursor:help;
    display:inline-block;
    background-color: lighten(@secondary,20%);
    border-radius: 10px;
    height: 18px;
    width: 18px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}

.provider-form{
	 label{
		margin-right:5%;
	}
	 .small-input label{
		width: auto;
  		display: inline-block;
	}
	 .small-input input{
		width:30%;
	}
}
.warehouse-details textarea{
	display: block;
	.border-radius(10px,10px,10px,10px);
	.unit-margin-top(2);
	width:100%;
	height:@unit-px*14;
}
.documents{
	border-top: @tertiary 1px solid;
	border-bottom: @tertiary 1px solid;
	padding: @unit-px 0;
	line-height: 38px;
	input[type="file"]{
		margin-top:@unit-px;
	}
}
.tandc {
    float:left;
}
.define-space{ 
	.select{
		width:22%;
	}
	.value{
		width:10%;
	}
	.action{
		width:5%;
		text-align:center;
	}
}
#define-space .input-field input{
	width:100%;
}
#price-and-availability .view{
	float:right;
	max-width:100%;
	white-space: initial;
}
.price-and-availability{
	.text{
		text-align:center;
	}
}
.specifications{ 
	h5{.unit-margin-vertical(2);}
	
	.columns.three:nth-child(4n+1){
		margin-left:0;
		clear: left;
	}
	
}
#upload-photos{
	img{
		max-width:100%;
		max-height:200px;
	}
	.image{
		text-align: center;
	}
	.file-name{
		display: inline-block;
		word-wrap: break-word;
		vertical-align: middle;
	}
	button{
		vertical-align:middle;
	}
}
.price-and-availability{

    .button-cell.open{
        background-color:#FFD;
    }

    .standard-pricing-tray{
        label{
            width:auto;
            font-weight:bold;
        }
        input,.input-span{
            width:30%;
        }
        .input-field{
			text-align:right;
            .unit-margin-top(2);
        }
    }

    .open-tray-link{
        border-bottom:1px solid #ccc;
        .unit-padding(2);
        display:block;
        color:@dark-text;
        font-size:20px;
        font-size:2rem;
        cursor:pointer;
        position:relative;
		background-color: #FFD;
        &.open{
            &:after{
             content: "\f126";
             }
             
        }
        &:after{
            &:extend(.ion);
            content: "\f123";
            position:absolute;
            right:20px;
            font-size:24px;
            font-size:2.4rem;
        }
    }
    .trays{
        padding:0px;
        display:none;
        &.open{
            display:table-row;
        }
        .tray-holder{
            display:none;
            &.open {
                display:initial;
            }
        }
        .aside{
            font-style:italic;
        }
		form{
			margin-bottom:0px;
		}
        .tray {
            background-color:#eee;
            .unit-padding(2);
            border-bottom:1px solid #ccc;
            box-shadow:inset 0px 3px 10px rgba(0,0,0,0.3);
            display:none;
            &.open{
                display:block;
            }
            .inner {
                background-color:#fff;
                .unit-padding(2);
                border:1px solid #ccc;
                border-radius:5px;
				.unit-margin-bottom(2);
				table{
					width:100%;
					box-shadow:0px 2px 4px rgba(0,0,0,0.3);
				}
            }
            .copy-controls select{
                width:42%;
            }
        }
        td {
            padding:0px;
            td {
                .unit-padding(1);
            }
        }

		.availability-table{
			width:100%;
			input{
				width:100%;
			}
			
		}
		
        .date-pricing-table{
            .unit-margin-top(2);
            tr.only-one {
                .trash-button {
                    //visibility:hidden;
                }
            }
            td {
                text-align:center;
                input,.input-span {
                    width:100%;
                }
            }
        }
        .add{
            display:inline;
            cursor:pointer;
            button{
                .unit-margin-left(1);
            }
        }
        .row.controls {
            text-align:right;
        }
        .controls{
            text-align:right;
        }

    }
	.input-field.error input{
		background-image:none !important;
	}
	button.popup{
		background:@primary;
		padding: 2px 7px;
		margin-left:1rem;
		margin-left:10px;
	}
	button.popup:after{
		font-size:2rem;
		&:extend(.ion);
		content:@ionicon-var-android-add;
		color:@white;
		margin:0;
	}
    .open button.popup:after{
        content:@ionicon-var-android-remove;
    }
	td.error{
		//background-image: url('/css/loom/images/icon-warning.png');
		background-repeat:no-repeat;
		background-position: 95% 50%;
		background-color: #ffe9e8;
		input {
			background-image:none;
		}
	}
	td.success{
		//background-image: url('/css/loom/images/icon-success.png');
		background-repeat:no-repeat;
		background-position: 95% 50%;
		background-color: #dff2bf;
		button.popup:after{
			content:@ionicon-var-android-create;
		}
		.edit-data:before{
			content:'EDIT ';
		}
		input {
			background-image:none;
		}
	}
	.edit-data:before{
		content:'ADD ';
	}
}
.progress {
	height: 20px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: @white;
	text-align: center;
	background-color: @primary;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}
.progress.fill-1 .progress-bar{
	width:50%;
}
.progress.fill-2 .progress-bar{
	width:100%;
}
.progress.fill-3 .progress-bar{
	width:100%;
}
#pallets-form .error-required input[type="date"],
#pricing-form .error-required input[type="date"]{
	border-color: #cccccc;
	background:0;
	color:inherit;
}
@media @mobile{
	.start-selling {
		text-align:center;
		.title{
			padding: 20px;
			.border-radius(20px,0,0,20px);
		}
		 .title h2{
			display:block;
		}
		.title button{
			float:none;
		}
		 p{
			margin-left:0;
			display:block;
		}
	}
	.provider-form .small-input input{
		width:100%;
	}
}

/*.define-space{
	tbody tr:first-child td:last-child button{
		display:none;
	}
}*/
#discount-form{
	.discount-from{
		text-align: center;
	}
	.no-discount{
		input{
			display:inline-block;
			width:auto;
		}
		label{
			width:auto;
		}
	}
}
.discount-popup{
	.discount-header{
		.unit-margin-bottom(2);
		border-bottom:1px solid  @secondary;
		h2{
			display:inline-block;
		}
		span{
			float:right;
			line-height: 3rem;
		}
	}
	.discount-inner{
		max-width:800px;
		margin:auto;
	}
	.discount-value{
		width:200px;
	}
}
.popup-window{
	.register{
		width:420px;
		
		.complete{
			width:500px;
		}
		.done{
			float:right;
		}
		span{
			  line-height: 44px;
		}
		form{
			margin-bottom:0;
		}
		.saved{
			text-align:center;
		}
		.saved span{
			display:block;
		}
		.saved:before{
			&:extend(.ion);
			content:@ionicon-var-android-done;
			font-size: 10rem;
		  	color: green;
		}
		input{
			background-color: #fff !important;
  			color: #000 !important;
		}
		/*.input-field .messages{
			max-height:500px;
			.msg-info{
				display:block;
			}
			&.error-minlength{
				.msg-info{
					display:none;
				}
			}
		}*/
	}
}
form#define-space{	
	.header{
		h3{
			display:inline;
		}
		.form-header{
			.reg-2-example{
				height:32px;
				padding-top:3px;
			}
			display:inline;
			float:right;
		}
	}
}
.availability-progress{
	position:relative;
	  font-size: 1.2rem;
	  overflow:hidden;
	td,th{
		background:#fff;
		padding:2px 0;
		border: 1px solid #d7d7d7;
		height:25px;
	}
	.progress-row{
		position:absolute;
		bottom:10px;
		height:12px;
		width:100%;
		td{
			background:@primary;
			height:8px;
			max-width:100%;
			display:block;
			border:0;
			opacity:0.8;
			transition:0.1s;
			position:absolute;
			min-width: 0.1%;
		}
	}
}
.define-space {
 .tool-tip:after{
    white-space:inherit;
    max-width:500px;
    min-width:300px;
    line-height:1.4;
    text-align:left;
 }
}
#show-net{
    button {
        background-color:transparent;
        border:1px solid @secondary;
        color:@secondary;
        font-size:small;
        height:22px;
        padding:4px;
        padding-top:0px;
        vertical-align:middle;
        &.left{ border-radius:5px 0px 0px 5px;border-right:0px;}
        &.right{ border-radius:0px 5px 5px 0px;}
    }
    .gross {
        display:none;
    }
    .net {
        display:initial;
    }
    #gross{
        background-color:@primary;
    }
    &.net{
        .gross {
            display:initial;
        }
        .net {
            display:none;
        }
        #gross {
            background-color:transparent;
        }
        #net {
            background-color:@primary;
        }
    }
}
#price-and-availability-user-data {
	.content-box {
		box-shadow:0px 3px 12px rgba(0,0,0,0.3);
	}
}

.input-span {
	display:inline-block;
    text-align:right;
	padding:6px 10px;
	border:1px solid;
	border-radius:3px;
	box-sizing:border-box;
	position:relative;
	&:before{
		position:absolute;
		left:10px;
		content : "(net)"
	}
}
input.currency{
    text-align:right;
}
