
.content-box.map-container {
    .main{
        .unit-padding(0);
        .inset-shadow;
    }

    .key {
        em{
            font-weight:bold;
            text-style:normal;
            .unit-margin-right(3);
        }
       
        dl, dt, dd {
            display:inline-block;
        }
        dd{
            .unit-margin-left(1);
            .unit-margin-right(3);
        }
        span{
            font-size:20px;
            height:30px;
            width:30px;
            display:inline-block;
            background-color:@white;
            text-align:center;
            color:@secondary;
            border-radius: 5px;
        }
        .cold {
            color:@blue;
        }
        .hot {
            color:@highlight;
        }
    }
}

.search-results {
    td, th {
        text-align:center;
    }
    th{
        text-transform:uppercase;
    }
    td:nth-child(9){
        background-color:@very-light-grey;
    }
    td:nth-child(10),th:nth-child(10){
        .highlight-grad;
    
    }
}


.note {
    .ion;
    width:20px;
    height:20px;  
    font-size:30px;
    position:absolute;
    right:10px;
    color:@blue;
    cursor:help;
    
}
.note:before{
content:@ionicon-var-chatbox-working;

}
.annotation{
    line-height:1.4em;
    font-family:@main-font-stack;
    display:none;
    position:fixed;
    font-size:14px;
    top:0px;
    left:0px;
    .unit-padding(4);
    background-color:@blue;
    color:@white;
    border:1px solid @secondary;
    width:100%;
    z-index:1000;
}
.note:hover > .annotation{
    display:block;
}