
.content-box.map-container {
    .main{
        .unit-padding(0);
        .inset-shadow;
    }

    .key {
        em{
            font-weight:bold;
            text-style:normal;
            .unit-margin-right(3);
        }
       
        dl, dt, dd {
            display:inline-block;
        }
        dd{
            .unit-margin-left(1);
            .unit-margin-right(3);
        }
        

    }
}

.search-results {
    td, th {
        text-align:center;
    }
    th{
        text-transform:uppercase;
    }
    td:nth-child(9){
        background-color:@very-light-grey;
    }
    td:nth-child(10),th:nth-child(10){
        .highlight-grad;
    
    }
}




.search-result-info-box{
    width:270px;
    .small-font;
    position:absolute;
    top:150px;left:170px; //testing
    background-color:@secondary;
    color:@light-text;
    .unit-padding(2);
    border-radius:10px;
    
    .info{
        position:absolute;
        right:0px;
        top:0px;
        .unit-padding-right(2);
        .unit-padding-top(6);
    }
    
    
    hr{
        .unit-margin-vertical(1);
    }


}
