.search-top-section{
    overflow:hidden;
}

.find-storage-banner{
    margin-bottom:0px;
}

.search-results-page .info-boxes {
    .unit-margin-bottom(2);
}



.quote-form-section{
    .unit-margin-top(2);
}

.content-box.map-container {
    .unit-margin-vertical(2);
    position:relative;
    .header{
        background-color:@secondary;
        h2 {
            margin-bottom:0px;
        }
    }
    .main{
        .unit-padding(0);
        .inset-shadow;
    }
    .footer{
    
        border-radius:0px 0px 10px 10px;
   }
    small{
        .unit-margin-left(2);
        .unit-padding-top(0.5);
        float:right;
    }

    .key {
        em{
            font-weight:bold;
            font-style:normal;
            .unit-margin-right(3);
        }
       
        dl, dt, dd {
            display:inline-block;
            margin-bottom:0px;
            margin-top:0px;
        }
        dd{
            .unit-margin-left(1);
            .unit-margin-right(3);
        }
    }
}

.search-results .header{
    h2{
    display:inline;
}    
    
    span{
        display:inline;
        float:right;
        padding-top:5px;
    }

}
.content-box.search-results {
    td, th {
        text-align:center;
    }
    th{
        text-transform:uppercase;
    }
    td:nth-child(9){
        background-color:@very-light-grey;
    }
    td:nth-child(10),th:nth-child(10){
        .highlight-grad;
    
    }
    table{
        .unit-margin-top(2);
    }
    .header{
        background-color:@secondary;
    }
    
}


.search-result{
    position:absolute;
    text-align:center;
    background-color:@primary;
    color:@white;
    border-radius:10px;
    font-size:24px;
    font-size:2.4rem;
    font-weight:600;
    top:200px;
    left:100px;
    width:40px;width:4rem;
    height:40px;height:4rem;
}

.search-result.active{
    background-color:@secondary;
    border:2px solid @primary;
}

.search-result.two{
    left:600px;
    top:240px;
}

.search-result-info-box{
    margin:0px;
    .small-font;
    position:relative;
    //
    background-color:fade(darken(@secondary,10%),90%);
    color:@light-text;
    .unit-padding(2);
    border-radius:10px;
    em{
        font-style:normal;
    }
    h4 {
        margin:0px;
        .selected {
            color:@primary;
            .unit-margin-left;
        }
        
      
    }
    a.view-details {
        border:1px solid #fff;
        color:#fff;
    }
    p {
        color:@light-grey;
    }
    .info{
        position:absolute;
        right:0px;
        top:0px;
        .unit-padding-right(2);
        .unit-padding-top(9);
        > * {
            .unit-margin-bottom(0.5);
        }
        
    }
    img{
        transition:transform 0.3s;
        max-width:180px;
        height:auto;
    }
    .ratings{
        font-size:16px;
        font-size:1.6rem;
        text-align:right;
    }
    .temperatures{
        text-align:right;
    }
    
    hr{
        .unit-margin-vertical(1);
        border-top-color:@light-grey;
    }
    button {
        width:auto;
    }
    button.simple:hover{
        color:@primary;
    }
}

.search-result-info-box.fixed{
    border-radius: 0px;
        height:312px;
    .controls {
        box-sizing:border-box;
        position:absolute;
        bottom:0px;
        left:0px;
        .unit-padding-horizontal(2);
        .unit-padding-vertical(1);
        width:100%;
        background-color:rgba(0,0,0,0.2);
    }
    .next {
        float:right;
    }
}

@media screen and (min-width:900px) {
.search-result-info-box.fixed{
    left:inherit;
    right:0px;
    top:57px;
    width:320px;
    position:absolute;
    }
}

.confirm-email{
    text-align:left;
    position:absolute;
    left:0px;
    top:0px;
    .unit-padding-top(3);
    .unit-padding-left(2);
    width:auto;
    display:inline-block;
    
    label{
        display:inline-block;
        width:auto;
        .unit-margin-right;
        color:@light-text;
    }
    
    input {
        width:200px;
    }
  
}

.continue-links{
    position:relative;
}

#map-container{
    height:352px;

}
.warehouse-pricing {
	overflow-x: scroll !important;
	td{
		text-align:center;
	}
}
.rotateY90{
    transform:rotateY(90deg);
}

@media @mobile{
	.content-box.map-container small{
		float:none;
		display:block;
	}
}
