.h1-banner{
	.unit-margin-vertical(8);
	font-weight:600;
	margin-bottom:10px;
	margin-bottom:1rem;
}
#about-us{
	line-height:3rem;
	.banner{
		margin:0;
	}
	h1,h2,h3{
		text-transform:uppercase;
	}
	.intro{
		.what-is-zupply{
			line-height:3.4rem;
			font-size: 1.1em;
		}
		a.register-now,
		a.available-soon{
			display:block;
			margin-top:20px;
		}
		.main{
			min-height:190px;
		}
	}
	section{
		//.unit-margin-bottom(2.5);
		&.intro,
		&.service{
			.unit-margin-bottom(2.5);
		}
		> .main{
			.unit-padding(4);
			padding-bottom:10px;
			> *{
				.unit-margin-bottom(3);
			}
		}
		.content-box.secondary .header,
		.main{
			.unit-padding-horizontal(4);
		}
	}
	.content-box{
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	}
	.service{
		 .main{
			background:@primary;
		}
		.service-box{
			&:extend(.service-box);
		}
	}
	.header.curved{
		width:33%;
		.border-radius(10px,0,0,10px);
		text-align: center;
	}
	.how-it-works{
		ol{
			list-style: decimal !important;
			color:@primary;
			.unit-margin-left(2);
			li span{
				color:@secondary;
			}
		}
		img{
			max-width: 100%;
		}
	}
	// .available-soon,
	// .register-now{
	// 	display: inline-block;
	// 	padding: 10px;
	// 	position: relative;
	// 	border-radius:7px;
	// 	border: 1px solid @highlight;
	// 	color: @highlight;
	//}
	a.register-now,
	a.available-soon{
		position: relative;
		top: -3px;
	}
	button.view-example{
		float:right;
		top:-3px;
		position:relative;
	}
	.customers-header,
	.providers-header{
		display:inline-block;
	}
	.providers-header,
	.customers-header{
		margin-right:40px;
	}
}

#initial-registration{
	.banner{
		margin-bottom:0;
	}
	footer{
		margin-top:0;
	}
}

.password-with-hint{
	width:70%;
	margin-left:0;
	input{
		width:100% !important;
	}
}
label[for="confirm-password"]{
	float:left;
	margin-right:3px;
}

#registration .start-selling,#customer .start-search{
	//.unit-margin-bottom(2);
	.title{
		background:@secondary;
		.border-radius(20px,20px,20px,20px);
		color:@light-text;
		overflow:hidden;
		h2{
			font-weight:100;
			display:inline;
		}
		padding: @unit-px*2 @unit-px*6 @unit-px*2 @unit-px*8;
		.button,
		button{
			float:right;
		}
	}
	p{
		background: @tertiary;
		.border-radius(0,10px,10px,0);
		display:inline-block;
		padding: @unit-px/2 @unit-px;
		.unit-margin-left(8);
		.button,
		button{
			padding:0;
		}
	}
}

#registration,
#customer,
#home-page{
	.banner.row{
		&:extend(.generic-banner);
		h1{
        	&:extend(.h1-banner);
			text-transform:none;
			float:left;
			padding:0;
    	}
	}
	.service-box{
		&:extend(.service-box);
		color: #857668;
		.unit-margin-bottom(3);
		.unit-margin-top(3);
		&.no-margin-top{
			margin-top:0;
		}
	}
}

#customer .what-is .main.four-points{
	padding-bottom: 68px;
}

.free-registration{
	position:absolute;
	right: 90px;
	top: 34%;
	text-align: center;
}

#login{
	height: auto;
	overflow: hidden;
	a.text-link,p{
		color:@primary;
	}
	a.forgot-password{
		position:abolute;
		left:0;
	}
	.banner{
		margin-bottom:0;
		margin-top:0;
	}
	label{
		display: block;
		margin-bottom: 1rem;
		margin-bottom: 10px;
		color:@primary;
		font-weight:bold;
	}
	input{
		width:100%;
	}
	p{
		font-weight:bold;
	}
	.button-container{
		float: right;
		width: 100%;
		position: relative;
		button{
			float: right;
			width: 50%;
		}
	}
	.main-container{
		display: inline-block;
		width: 100%;
		border-bottom: 1px solid #000;
		padding-bottom: 20px;
	}
	form{
		margin-bottom:0;
	}
	.home{
		float:left;
	}
	fieldset.main{
		margin-bottom:20px;
	}
}

 @media @mobile{
     #home-page .banner{
         .free-registration{
            position:relative;
            left:0;
            top:0;
         }
     }
	 #about-us{
		.content-box,
		.service .service-box{
			margin-bottom: 3rem;
			margin-bottom: 30px;
		}
		.row:after{
			display:none;
		}
 	}
 }
 
 #contact-us{
	form .banner{ 
		h1{
			&:extend(.h1-banner);
		}
		.columns.five{
			float:left;
		}
	}
	form{
		margin-bottom:0;
	}
	 div.main{
		 padding:0;
	 }
	 .banner{
		 margin-bottom:0;
	 }
	 .banner.row{
		&:extend(.generic-banner);
		margin-bottom: 0;
		margin-top:0;
		margin-bottom:0;
		h1,h3{
			color: #fff;
			text-align: left;
			padding: 0px;
			text-transform: none;
		}
	 }
	 .row.boxes{
		margin: 67px 67px;
		fieldset.main{
			input:not([type='checkbox']),
			select{
				width:73%;
			}
			.container{
				border-bottom: 1px solid #000;
				.unit-padding-bottom(2);			
				p:first-of-type{
					font-weight:bold;
					margin-bottom:20px;
				}
				.button-container button{
					float:right;
				}
				.columns.six:nth-child(2){
					margin-left:0;
				}
				label[for="message"]{
					margin-right: 72px;
					vertical-align: top;
				}
				.content-container{
					width:100%;
					textarea{
						width: 100%;
						height:200px;
						border-radius:7px;
					}
				}
				.contact-details .contact{
					font-weight:normal;
					margin-bottom:0; 
					display:inline-block;
					.unit-margin-top(2);
					.address{
						width: 88%;
						word-break: break-word;
						display: inline-block;
					}
					.contacting-details{
						position: absolute;
    					right: 0;
						.telephone{
							.unit-margin-right(2);
							span{
								color:@primary;
								.unit-margin-right;
							}
						}
						.email{
							.unit-margin-left(2);
							span{
								color:@primary;
								.unit-margin-right;
							}
						}
					}
				}
			}
		}
	 }
 }
 
 .contact-setup .banner{
	 margin-bottom:0
 }
 
.not-registered{
	margin-left:0;
}
.not-registered-container{
	display: inline-block;
	width: 100%;
	position: relative;
	.unit-margin-top(2);
	p:first-of-type{
		font-weight: bold;
	}
	a{
		color:@primary;
	}
}
.not-registered:nth-child(2){
	position: absolute;
	right: 0;
	bottom: 0;
}

#contacts-setup,
#contacts-explanation{
	.heading{
		font-weight:bold;
	}
	.banner{
		margin-bottom:0;
	}
}

.registration-complete{
	.content-box .main{
		text-align:center;
	}
}

#terms-and-conditions-landing{
	#documents{
		.unit-margin-left(2);
		.unit-margin-right(2);
		width:96.7%
	}
}

.testimonials,
.reviews,
#terms-and-conditions-landing{
	.banner{
		margin-bottom:0;
	}
}

.coming-soon{
	background-color: @primary;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    background-image: url('/images/lorry-image.png');
    height: 362px;
    background-repeat: no-repeat;
    background-position-y: 42%;
	.text{
		width: 263px;
		display: inline-block;
		.unit-margin-top(6.3);
		h1{
			.unit-margin-bottom(2.5);
		}
	}
}

#terms-and-conditions{ //Change
    .banner.row{
        margin-bottom:0;
    }
    div.main{
        padding:0;
        a.back{
            .unit-margin-top(2);
            .unit-margin-left(2);
        }
        fieldset.main{
            .unit-margin(2);
        }
        ol{
            counter-reset: item;
            >li{
                p{
                    font-size:90%;
                    text-indent:31px
                }
                display: block;
                &:before{
                    content: counters(item, ".") ". ";
                    counter-increment: item;
                }
            }
        }
    }
}

div.terms{
    float:right;
    p.terms{
        margin-right:56px;
    }
}

#faq{ //Change
    .banner{
        margin-bottom:0;
    }
    .trays{
        display:block;
        .open-tray-link{
            background-color: #fff;
            border: 1px solid #ccc;
            border-bottom: none;
            .unit-padding-bottom(1);
            .unit-padding-top(1);
            span{
                max-width: 97%;
                display: inline-block; 
            }
            &.two-line:after{
                top: 34%;
            }
        }
        &:last-child{
            .open-tray-link{
                border-bottom: 1px solid #ccc;
            }
            .tray{
                border-bottom:1px solid #ccc;
                border-top:none;
            }
        }
        .tray{
            box-shadow:none;
            border-bottom:none;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-top: 1px solid #ccc;
        }
    }
}