@import "_ionicons-variables";
@import "_ionicons-font";
@import "_ionicons-icons";
@import "buttons";
@import "forms";
@import "carousel";
@import "tabs";
@import "header";
@import "footer";
@import "popup";
@import "hint.css";

//loom forms and alerts
@import "loom/loom";
@import "loom/loomAlert";

// Page specific sheets
@import "home";
@import "search-results";
@import "provider-registration";
@import "dashboard";



@import "annotations"; //some CSS to style development annotations for demos.


 
 
 @main-font-stack: 'Futura', 'Open Sans';
 @header-font-stack: 'Calibri';
 
 
 // colours
 @primary: #9BC11F;
 @secondary: #6A6666;
 @tertiary: #d7d7d7;
 @white: #fefefe;
 @very-light-grey: #eee; //used on some of the tables to highlight certain columns.
 @light-grey  : #ccc;
 @highlight: #F28711;
 @highlight-bright: #EFA430;
 @light-text:#fff;
 @dark-text:#857668;
 @blue:#37bbec;//used mainly for the pallet type = blue on the designs
 @valid-dark:#398439;
 @valid-light:#b5dfb5;
 @invalid-dark:#d43f3a;
 @invalid-light:#eba5a3;
 @error-light:#666;
 @error-dark:#555;
 
 
 
 // layout grid units.
 @unit-px: 10px;
 @unit-rem: 1rem;
 @max-width:1200px;
 
 //responsive selectors
 @mobile: ~"only screen and (max-width: 549px)";
 @non-mobile: ~"only screen and (min-width: 550px)";
 
 
 @images: "/images";
 
 /** MIXINS **/
 
/** font **/
.small-font{
    font-size:12px;font-size:1.2rem;
}
.medium-font{
    font-size:20px;font-size:2rem;
}
.large-font{
    font-size:50px;font-size:5rem;
}
.largest-font{
    font-size:60px;font-size:6rem;
}
 
/** Padding and Margins **/

 .unit-margin-bottom(@mult : 1){
    margin-bottom:@mult * @unit-px;
    margin-bottom:@mult * @unit-rem;
 }
 .unit-margin-left(@mult : 1){
    margin-left:@mult * @unit-px;
    margin-left:@mult * @unit-rem;
 }
 .unit-margin-top(@mult : 1){
    margin-top:@mult * @unit-px;
    margin-top:@mult * @unit-rem;
 }
 .unit-margin-right(@mult : 1){
    margin-right:@mult * @unit-px;
    margin-right:@mult * @unit-rem;
 }
 
 .unit-margin-horizontal(@mult: 1){
    .unit-margin-left(@mult);
    .unit-margin-right(@mult);
 }
 
 .unit-margin-vertical(@mult:1){
    .unit-margin-top(@mult);
    .unit-margin-bottom(@mult);
 }
 
 .unit-margin(@mult:1){
    .unit-margin-horizontal(@mult);
    .unit-margin-vertical(@mult);
 }
 
 .unit-padding-bottom(@mult: 1){
    padding-bottom:@mult * @unit-px;
    padding-bottom:@mult * @unit-rem;
 }
 .unit-padding-left(@mult : 1){
    padding-left:@mult * @unit-px;
    padding-left:@mult * @unit-rem;
 }

 .unit-padding-top(@mult : 1){
    padding-top:@mult * @unit-px;
    padding-top:@mult * @unit-rem;
 }
 .unit-padding-right(@mult : 1){
    padding-right:@mult * @unit-px;
    padding-right:@mult * @unit-rem;
 }
 
 .unit-padding-horizontal(@mult: 1){
    .unit-padding-left(@mult);
    .unit-padding-right(@mult);
 }
 
 .unit-padding-vertical(@mult:1){
    .unit-padding-top(@mult);
    .unit-padding-bottom(@mult);
 }
 
 .unit-padding(@mult:1){
    .unit-padding-horizontal(@mult);
    .unit-padding-vertical(@mult);
 }
 .border-radius(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius: @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius: @bottomleft;
  -webkit-border-top-left-radius: @topleft;
  -moz-border-radius-topright: @topright;
  -moz-border-radius-bottomright: @bottomright;
  -moz-border-radius-bottomleft: @bottomleft;
  -moz-border-radius-topleft: @topleft;
  border-top-right-radius: @topright;
  border-bottom-right-radius: @bottomright;
  border-bottom-left-radius: @bottomleft;
  border-top-left-radius: @topleft;
}

 .vertical-grad(@bottom, @top){
    background: @top; /* Old browsers */
    background: -moz-linear-gradient(top, @top 0%, @bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@top), color-stop(100%,@bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, @top 0%,@bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, @top 0%,@bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, @top 0%,@bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom, @top 0%,@bottom 100%); /* W3C */
 }
 
 .highlight-grad{
    .vertical-grad(@highlight, @highlight-bright);
 }
 
 .slight-shadow{
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
 }
 
 .very-slight-shadow{
     -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
 }
 
 .inset-shadow{
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.75);
 }
 
 .carbon-fibre-grad{
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
 }
 
 /** MAIN PAGE AREAS **/
 body.wait,
 body.wait *{
	cursor:wait;
 }
 header, footer, main{
    position:relative;
 }
 
 .container {
    overflow:hidden;
	max-width: @max-width;
 }
 header {
   box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
   z-index:2;
   position: fixed;
	width: 100%;
	background: #fff;
	top:0;
 }
 
 footer{
    background-color:@secondary;
    color:@light-text;
    .unit-padding(2);
 }
 main{
    margin-top:85px;
 }
 
 
span.primary{
	color: @primary;
}
span.secondary{
	color: @secondary;
}
span.tertiary{
	color: @tertiary;
}
span.highlight{
	color: @highlight;
}
span.highlight-bright{
	color: @highlight-bright;
}
 
 
 /** FONT AND BASICS **/
 
 .sr-only { /** things that only screen readers can see, e.g. text versions of background image text **/
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
 
 body{
    font-family:@main-font-stack;
    color:@dark-text;
 }
 h1,h2,h3,h4,h5,h6{
 font-weight:normal;
 font-family:@header-font-stack;
 }
 
 h1,h2,h3,h4,h5,h6,p,ul{
 margin-top:0px;
 .unit-margin-bottom(1);
 }
  h1,h2,h3,h4{
	 text-transform:uppercase;
  }
 
 .header h1,
 .header h2,
 .header h3,
 .header h4,
 .header h5{
    text-transform:uppercase;
 
 }
 
 /** Element styles **/
 
 nav ul{
    list-style:none;
    margin:0px;
    
    li {
        display:inline-block;
        margin-bottom:0px;
    }
 }
 
 
 .large-bullets {
    li{
        list-style:none;
        .unit-padding-left(4);
        position:relative;
        font-size:18px;
        font-size:1.8rem;
		.unit-margin-bottom(2);
    }
    li:before{
        .ion;
        content:@ionicon-var-android-checkbox-outline;
        .unit-margin-right(3);
        font-size:30px;
        font-size:3rem;
        color:@primary;
        position:absolute;
        left:0px;
    }
    
    
 }
 
 section {
      > .header, > .footer{
        background-color:@secondary;
        color:@light-text;
        .unit-padding-vertical;
        .unit-padding-horizontal(2);
     }
	 > .footer .back{
		  border: 1px solid #ffffff;
	 }
     .header *, .footer *{
        margin-bottom:0px;margin-top:0px;
     }
    > form .main,
	> .main {
        background-color:@tertiary;
        overflow:hidden;
        .unit-padding(2);
        
        > * {
            .unit-margin-bottom(2);
        }
        > *:last-child {
            margin-bottom:0px;
        }
    }
 }
 
 @media @mobile {
  .side-header, .content-box.side-header {
    > .header {
        background-color:@secondary;
    }
 }
 }
    
 @media @non-mobile{
    .side-header, .content-box.side-header { //Section with the header as a tab off to one side rather than full width.
    > .header{
        padding:0px;
        background-color:transparent;
        color:@dark-text;
        
        > h2 {
            background-color:@secondary;
            color:@light-text;
            display:inline-block;
            .unit-padding-vertical;
            .unit-padding-horizontal(2);
            border-radius: 10px 10px 0px 0px;
        }
        
        > span{
            float:right;
            .unit-padding-top(3);
        }
        
        >button{
            float:right;
            .unit-margin-right;
        }
        
    }
 
 }
 
 
 }
 


 
 
 section.side-header{ 
 
    > .main{
        background-color:@primary;
        color:@light-text;
    
    }
 }
 
 section.tertiary{
    .content-box{
        .unit-margin-bottom(4);
    }
    > .main{
        .unit-padding(4);
    }
    .footer{
        position:relative;
    }
 }
 
 .quote-box {
    background-color:@white;
    color:@dark-text;
    .unit-padding(2);
	.unit-margin-bottom(1);
    border-radius:10px;
    .small-font;
    blockquote{
        .unit-margin-top(5);
    }
    span {
        font-weight:bold;
    }
 }
 
 .quotes{
    overflow:hidden; //otherwise the after can float outside the div
 }
 
 .quotes:before, .quotes:after{
    font-size:40px;
    color:@primary;
    .ion;
    
 }
 
 .quotes:before{
    content: @ionicon-var-quote;
    position:absolute;
 }
 .quotes:after{
    content: @ionicon-var-quote;
    transform:rotateY(180deg) rotateX(180deg);
    float:right;
 }
 
 .row.info-boxes{
    .unit-margin-top(2);
 }  
 
 .max{
	width:100%;
 }
 
 .info-box{
    background-color:@light-grey;
    min-height:110px;
    overflow:hidden;
    .unit-padding;
    .icon{
        font-size:70px;
        text-align:center;
        width:70px;
        font-weight:bold;
        float:left;
        line-height:1.2em;
        .unit-padding(0.5);
        .unit-margin-right(2);
        background-color:@white;
        color:@primary;
        border-radius:10px;
    }
    h4{
        font-weight:bold;
    }
    p{
        .small-font;
    }
 }
 
 .mini-content-box{
    .unit-padding(2);
    color:@light-text;
    background-color:@primary;
    border-radius:10px;
 }
 
 .banner{
    background-color:@secondary;
    .unit-padding-vertical;
    .unit-padding-horizontal(2);
    .unit-margin-vertical(2);
    > * {
        color:@light-text;
        margin-bottom:0px;
    }
    h1 {
        text-align:center;
        .unit-padding(1);
        text-transform:uppercase;
		font-weight: 100;
    }
    h2 {
        text-transform:uppercase;
        margin-bottom:0px;
    }
    h3{
        .unit-margin-bottom;
    }
 }
 .tag-line{
     .medium-font;
     text-align: center;
      .unit-margin-vertical(2); 
 }
 
 .content-box{
    border-radius:10px;
    overflow:hidden;
    .main {
        background-color:@white;
    }
    .header, .footer{
        background-color:@primary;
        color:@light-text;
        .unit-padding-horizontal(2);
        .unit-padding-vertical;
        
    }
    .header a{
		color:@light-text;
		text-decoration:none;
	}
    .header em{
        font-weight:bold;
        font-style:normal;
    }
    
    .main{
        .unit-padding(2);
        overflow:hidden;
        background-color:@white;
    }
    //quick color override classes for content box headers footers and main's
    > .primary{
        background-color:@primary;  
    }
    > .secondary {
        background-color:@secondary;
    }
    
 }
 
 .pagination{
    .small-font;
    border:1px solid;
    border-radius:5px;
    position:relative;
    .unit-padding(1.5);
    p{
            margin:0px;
        }
    .controls{
        position:absolute;
        right:10px;right:1rem;
        top:8px;top:0.8rem;
        button, ul{
            display:inline-block;
            .unit-margin-left;
            border:1px solid;
            border-radius:5px;
            .unit-padding(0.5);
            text-transform:none;
        }
        a{
            color:@secondary;
            text-decoration:none;
            .unit-margin-horizontal(0.5);
        }
        .next,.prev{
            color:@primary;
        }
        .active{
            border:1px solid;
            border-radius:3px;
        }
        
    }
    
 
 }
 
 .content-box.info{
    > .header{
        background-color:#fff;
        color:@dark-text;
    }
    > .main {
        background-color:#fff;
    }
 }
 
 .content-box.primary{
 
 }
 
 .content-box.secondary{
    .header {
        .unit-padding(2);
    }
    > .header * {
        margin-bottom:0px;
    }
    > .main {
        background-color:@white;
    }
    > .footer{
        background-color:@secondary;
        .unit-padding(2);
    }
 }
 
 //the temperature icons used in various places
 .icon-box {

            font-size:20px;
            height:30px;
            width:30px;
            display:inline-block;
            background-color:@white;
            text-align:center;
            border-radius: 5px;

}

 .cold {
     color:@blue;
 }
 .hot {
      color:@highlight;
 }

 table.simple{
    width:100%;
 }
 
 table.no-style{ //an unbordered table.
    border:0px;
    width:100%;
    margin:0px;
    th {
        text-align:left;
    }
    th,td{ 
        border:0px;
        background-color:transparent;
        .unit-padding(0.5);
    }
    
 }
 
 blockquote{
    .unit-margin-vertical(2);
 }
 
 td, th{
    .unit-padding;
    border:1px solid @tertiary;
 }
 td.button-cell{
	text-align:center;
 }
 th {
    background-color:@tertiary;
    border-right: 1px solid @white;
 }
 th:last-child{
    border-right:1px solid @tertiary;
 }
 
 table {
    border-radius: 5px 5px 0px 0px;
    border:1px solid @tertiary;
 }
  .new-pallet{
	text-align:right;
  }
 .new-pallet span{
	text-transform: uppercase;
	margin-right: @unit-px;
 }
 
 @media @non-mobile{
    .mobile-only{display:none;}
 }
 @media @mobile{
	main{
		margin-top:80px;
	}
 }
 
@media @mobile{
	.responsive-table{
		thead,th{
			display: none;
		}
		table,tr , td, tbody{
			display:block;
			margin:0;
			width: auto !important;
		}
		td:before{
		  content: attr(data-th)": ";
		}
	}
	table.responsive-table.title:before{
			content: attr(data-title);
			display:block;
			background:@secondary;
			padding:20px;
			font-size:2rem;
			color:@light-text;
		}
	.responsive-table.collapse{	
		td{
			/*display:none;*/
		}
		tbody tr{
			  padding-top: 28px;
			  position: relative;
			  height: 0;
			  overflow: hidden;
			  transition: 1s all;
		}
		tbody tr:before {
		  content: "> "attr(data-tr);
		  position: absolute;
		  left: 0;
		  top: 0;
		  cursor: pointer;
		  background: #d7d7d7;
		  width: 100%;
		  padding: 4px 0;
		  text-indent: 10px;
		  border: 1px solid #fff;
		}
		tr.active td{
			display:block;
		}
		tr.active:before {
			content:"v "attr(data-tr-closed);
		}
		tr.active{
			height: 585px; 
		}
		/*tr.active {
			padding-top:0;
		}
		tr.active:before{
			content:"";
		}*/
	}
}
 