.warehouse-profile{
    .search-header{
        text-align:right;
        .search-criteria {
                position:relative;
                .button-text{
                    line-height:44px;
                }
                button{
                    margin-left:1rem;  
                }
                &:hover .my-search-criteria{
                    max-height:500px;
                }
                .my-search-criteria{
                    max-height:0px;
                    overflow:hidden;
                    position:absolute;
                    width:350px;
                    transition: 0.5s all;
                    z-index:1;
                    right: -6px;
                    top: 25px;
                }
                ul{
                   // display:none;
                   margin-top:21px;
                    list-style:none;
                    text-align:left;
                    .unit-padding(2);
                    background:@white;
                    border-radius:10px;
                    border:4px solid @light-grey;
                    .title{
                        width:65%;
                        display:inline-block;
                        font-weight:bold;
                    }
                    li{
                        margin:0 0 5px 0;
                    }
                     &:before{
                        .ion;
                        content:@ionicon-var-android-arrow-dropup;
                        color:@white;
                        position:absolute;
                        top: 0;
                        right: 10px;
                        font-size: 40px;
                    }
                }
        }
    }
    .banner{
        margin-bottom:0px;
    }
    .pricing-and-availability-row{
        padding:40px 20px;
    }
    .added {
        background-color:#fefefe;
    }
    table {
        width:100%;

        .availability-marker{
            z-index:50 !important;
            height:1000px;
            position:absolute;
            right:10px;
            top:45px;
            div {
                width:3px;
                background-color:@highlight;
                height:1000px;
            }
            span {
                position:absolute;
                top:-1.4em;
                display:block;
                color:@highlight;
            }
        }
        table  {
                text-align:left;
            margin-bottom:0px;
            td {
                text-align:left;
            }
            td.bar {
                width:200px;
                padding:2px;
                
            }
            td.bar .bar{
                height:38px;
                line-height: 2.5em;
                font-weight:bold;
                padding-left:10px;
                box-sizing:border-box;
                &.full{
                   width:100%;
                   color: darken( #d4e6a5, 20);
                   background-color:#d4e6a5;
                }
                &.not-full{
                    color:darken(#f0dfa6, 20);
                    background-color:#f0dfa6;
                }
            }
        }
        .header {
            background-color:@light-grey;
            text-align:left;
            h2{
                font-size:20px;
                font-size:2rem;
                color:@dark-text;
                font-weight:bold;
            }
        }
        .main {
            .unit-padding(0);
            position:relative;
            overflow:hidden;
        }
        .price {
            background-color:#d4e6a5;
            text-align:right;
        }
    }
    .warehouse-features.content-box .main{
        .unit-padding(4);
    }
    
    
}