<div class="popup-window">
	<div class="small">
		<div class="popup-main content-box secondary">
			<div class="header">
				<h2>Oops Something Went Wrong</h2>
			</div>
			<button class="close no-resize"><span>close</span></button>
			<div class="main">
				<p>It appears there has been a security error, but don't worry we have blocked it. To finish the process could you please go the the <a href="/">home page</a></p>
			</div>
		</div>
	</div>
</div>