<div class="popup-window" id="permission-error-popup">
	<div class="small">
		<div class="popup-main content-box secondary">
			<div class="header">
				<h2>Oops Something Went Wrong</h2>
			</div>
			<div class="main">
				<p>It appears there has been a security error, but don't worry we have blocked it. Can you please close the browser to end the session.</p>
			</div>
		</div>
	</div>
</div>