<tr>
	<td data-th="Price per pallet per week (£)" class="input-field no-success-validation-style">
		<input class="currency" data-loom-type="decimal" data-loom-decimal-places="2" required type="number" name="price" data-bind-value="price" required min="0.01"/>
	</td>
	<td data-th="Handling charge per pallet (In and Out) (£)" class="input-field no-success-validation-style">
		<input class="currency" data-loom-type="decimal" data-loom-decimal-places="2" data-bind-value="charge" name="charge" type="number" required/>
	</td>
	<div data-th="Cost to reserve (£)" class="input-field no-success-validation-style" style="display:none">
		<input class="currency" data-loom-type="decimal" data-loom-decimal-places="2" name="reserve" type="hidden"/>
	</div>
</tr>
	