<div class="popup-window hidden" id="choose-this-warehouse-popup">
	<div class="small">
		<div class="popup-main content-box secondary">
			<div class="header">
				<h2>Choose This Warehouse</h2>
			</div>
			<button class="close no-resize"><span>close</span></button>
			<div class="main">
				<p>Thank you for using Zupplychain's example search function!<br/> 
					We are currently recruiting storage providers<br/>
					and will go live soon. Please register here for updates on Zupplychain.</p>
			</div>
		</div>
	</div>
</div>