<div class="popup-window " id="choose-this-warehouse-popup" style="display:none">
	<div class="small">
		<div class="popup-main content-box secondary">
			<div class="header">
				<h2>Choose This Warehouse</h2>
			</div>
			<button class="close no-resize"><span>close</span></button>
			<div class="main">
				<p>Thank you for using Zupplychain's example search function!<br/> 
					We are currently still recruiting storage providers,<br/>
					in the meantime the "Choose This Warehouse" functionality will be unavailable.</p>
			</div>
		</div>
	</div>
</div>