<div class="coming-soon">
	<div class="text">
		<h1>Coming Soon!</h1>
		<p>This page is currently still in transit.</p>
		<p>We hope to have it delivered soon so please check back later.</p>
	</div>
</div>