<tr class="active" data-tr="Expand" data-tr-closed="Collapse">
	<td data-th="Storage Name" class="text">
		<input type="text" value="A" data-bind-value="name" data-bind-value-condition="name" required/>
	</td>
	<td data-th="Pallet Type" class="select">
		<select>
			<option>Blue</option>
			<option>Euro</option>
			<option>Standard</option>
			<option>Ano</option>
			<option>Other</option>
			<option>Any</option>
		</select>
	</td>
	<td data-th="Storage Temp" class="select">
		<select>
			<option>Ambient</option>
			<option>Chilled</option>
			<option>Frozen</option>
			<option>Outside</option>
			<option>Other</option>
		</select>
	</td>
	<td data-th="Max Weight" class="value">
		<input type="text"/>
	</td>
	<td data-th="Max Height" class="value">
		<input type="text"/>
	</td>
	<td data-th="Pallet Spaces" class="value">
		<input type="text"/>
	</td>
	<td data-th="Remove" class="action">
		<button href="#" class="trash-button"><span>Delete</span></button>
	</td>
</tr>