<header>
  <div class="container">
	<a href="/" class="home-link">
		<img class="logo" alt="Zupply Chain Logo" src="/images/logo.png"/>
	</a>
	<aside>
	
	<div class="contact-info">
		Call Us: <span>01204 785 822</span>
	</div>
	<%if (user.email != undefined){%>
		<nav class="user-links">
			<p><span>Signed in as:</span><br/><span><%=user.email%></span></p>
		</nav>
	<%}%>
	</aside>
	<nav class="main-nav">
		<ul>
			<li><a href="/">home</a></li>
			<li><a href="/about-us">about us</a></li>
			<li><a href="#">news</a></li>
			<li><a href="#">reviews</a></li>
			<li><a href="#">testimonials</a></li>
		</ul>
	</nav>
	
	</div>
</header>