<header>
            <div class="container">
				<a href="/">
					<img class="logo" alt="Zupply Chain Logo" src="./images/logo.png"/>
				</a>
                <aside>
                
                <div class="contact-info">
                    Call Us: <span>01204 785 822</span>
                </div>
                <nav class="user-links">
                    <p>Signed in as: <span>Joe Bloggs</span></p>
                    <ul>
                        <li><a href="#">Need Help?</a></li>
                        <li><a href="#">My Account</a></li>
                    </ul>
                </nav>
                </aside>
                <nav class="main-nav">
                    <ul>
                        <li><a href="/">home</a></li>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">news</a></li>
                        <li><a href="#">reviews</a></li>
                        <li><a href="#">testimonials</a></li>
                    </ul>
                </nav>
                
                </div>
            </header>