<header>
  <div class="container">
	<a href="/" class="home-link">
		<img class="logo" alt="Zupply Chain Logo" src="/images/logo.png"/>
	</a>
    <p class="tagline">we find pallets for space and space for pallets</p>
	<aside>
	
	<div class="contact-info">
		Call Us: <span><%=config.companyDetails.telephone%></span>
	</div>
	<%if (user.email != undefined){%>
		<nav class="user-links">
			<p><span>Signed in as:</span><br/><a href="/dashboard"><%=user.email%></a></p>
            <p><a href="/logout">Signout</a></p>
		</nav>
	<%}else{%>
		<nav class="user-links">
			<p><a href="/login">Login</a></p>
			<p><a href="/contact-us">Forgot your password</a></p>
		</nav>
	<%}%>
	</aside>
	<nav class="main-nav">
		<ul>
			<li><a href="/">home</a></li>
			<li><a href="/about-us">about us</a></li>
			<li><a href="/news">news</a></li>
			<li><a href="/reviews">reviews</a></li>
			<li><a href="/testimonials">testimonials</a></li>
			<li><a href="/contact-us">Contact Us</a></li>
		</ul>
	</nav>
	
	</div>
</header>