<header>
  <div class="container">
	<a href="/" class="home-link">
		<img class="logo" alt="Zupply Chain Logo" src="/images/zupplychain-logo-strapline.png" width="300" height="90"/>
	</a>
    <!--<p class="tagline">we find pallets for space and space for pallets</p>-->
	<aside>
	
	<div class="contact-info">
		Call Us: <span><%=config.companyDetails.telephone%></span>
	</div>
	<%if (user.email != undefined){%>
		<nav class="user-links">
			<p class="signed-in-as"><span>Signed in as:</span><br/><a href="/dashboard"><%=user.email%></a></p>
            <a class="button mini action logout"href="/logout">Logout</a>
		</nav>
	<%}else{%>
		<nav class="user-links">
			<p><a class="button mini action login" href="/login">Login</a></p>
			<!--<p><a href="/contact-us?enquiry=5">Forgot your password</a></p>-->
		</nav>
	<%}%>
	</aside>
	<nav class="main-nav">
		<ul>
			<li><a href="/">home</a></li>
            <li><a href="/search">search</a></li>
			<li><a href="/about-us">about us</a></li>
			<li><a href="/news">news</a></li>
			<li><a href="/reviews">reviews</a></li>
			<li><a href="/faq">FAQs</a></li>
			<li><a href="/contact-us">Contact Us</a></li>
		</ul>
	</nav>
	
	</div>
</header>