<div class="news-posts eight columns">
			<div class="latest-post">
				<div class="header curved">
					<h2>latest posts</h2>
				</div>
				<div class="main">
					<img src="./images/not-found.jpg" alt="Latest Post"/>
				</div>
				<div class="main-footer">
					<span>What to expect from your warehousing space and pallet position</span></br>
					<span>Posted: 20.08.2015</span>
					<a class="button action mini" data-post-num="1" href="/news-post-1">Read More</a>
				</div>
			</div>
			<div class="secondary-post">
				<div class="main">
					<img src="./images/not-found.jpg" alt="Latest Post"/>
				</div>
				<div class="main-footer">
					<span>What to expect from your warehousing space</span></br>
					<span>Posted: 20.08.2015</span>
					<a class="button action mini" data-post-num="2" href="/news-post-2">Read More</a>
				</div>
			</div>
			<div class="secondary-post">
				<div class="main">
					<img src="./images/not-found.jpg" alt="Latest Post"/>
				</div>
				<div class="main-footer">
					<span>What to expect from your warehousing space</span></br>
					<span>Posted: 20.08.2015</span>
					<a class="button action mini" data-post-num="3" href="/news-post-3">Read More</a>
				</div>
			</div>
		</div>