<div class="ten columns offset-by-one">
	<div class="news-post-container">
		<div class="news-posts">
			<div class="latest-post">
				<div class="header curved">
					<h3>latest posts</h3>
				</div>
				<div class="main">
					<img src="./images/general-landing-page.png" alt="General Landing Page" width="1159"/>
				</div>
				<div class="main-footer">
					<span>Zupplychain launched!</span></br>
					<span>Posted: 01.11.2015</span>
					<a class="button action mini" data-post-num="1" href="/news-post-1">Read More</a>
				</div>
			</div>
			<div class="secondary-post">
				<div class="main">
					<img src="./images/bury-search-results.png" alt="Bury Search Result" width="1159"/>
				</div>
				<div class="main-footer">
					<span>Zupplychain: how it works</span></br>
					<span>Posted: 01.11.2015</span>
					<a class="button action mini" data-post-num="2" href="/news-post-2">Read More</a>
				</div>
			</div>
			<div class="secondary-post">
				<div class="main">
					<img src="./images/map-test.png" alt="Latest Post"/>
				</div>
				<div class="main-footer">
					<span>Zupplychain launches ad campaign to recruit storage providers</span></br>
					<span>Posted: 01.11.2015</span>
					<a class="button action mini" data-post-num="3" href="/news-post-3">Read More</a>
				</div>
			</div>
		</div>
	</div>
	<a class="button action mini next" href="#" class="previous-news">PREVIOUS NEWS</a>
</div>