<tr>
	<td data-th="From" class="input-field no-success-validation-style">
		<%var today = new Date(),
		      toDate = new Date();
		  toDate.setDate(today.getDate() + 364);
		  function pad(value) {return (value<10 ? '0'+value : value);}%>
		<input required type="date" name="from" class="datepicker" data-bind-value="from" data-loom-add-controls="true" value="<%=today.getFullYear() + '-' + pad(today.getMonth()) + '-' + pad(today.getDate())%>"/>
	</td>
	<td data-th="To" class="input-field no-success-validation-style">
		<input required data-bind-value="to" type="date" name="to" class="datepicker" data-loom-add-controls="true" value="<%=toDate.getFullYear() + '-' + pad(toDate.getMonth()) + '-' + pad(toDate.getDate())%>"/>
	</td>
	<td data-th="Total Pallets" class="input-field no-success-validation-style">
		<input disabled required data-bind-value="total" name="total" type="number"/>
	</td>
	<td data-th="Estimated in Use" class="input-field no-success-validation-style">
		<input required data-bind-value="inUse" data-bind-max="total" name="inUse" type="number" data-loom-validators="integer"/>
	</td>
	<td data-th="Estimated Free" class="input-field no-success-validation-style">
		<input disabled required data-bind-value="free" name="free" type="number"/>
	</td>
	<td data-th="Remove">
		<button type="button" class="trash-button">
			<span>Delete</span>
		</button>
	</td>
</tr>