<tr>
	<td data-th="From"><input type="date" name="from" class="datepicker" data-bind-value="from"/></td>
	<td data-th="To"><input data-bind-value="to" type="date" name="to" class="datepicker"/></td>
	<td data-th="Total Pallets"><input data-bind-value="total" name="total" type="text"/></td>
	<td data-th="Estimated in Use"><input data-bind-value="inUse" name="inUse" type="text"/></td>
	<td data-th="Estimated Free"><input data-bind-value="free" name="free"   type="text"/></td>
	<td data-th="Remove"><button type="button" class="trash-button"><span>Delete</span></button></td>
</tr>