<div class="popup-window">
	<div class="small">
		<div class="popup-main content-box secondary">
			<div class="header">
				<h2>No Pricing and/or Availability</h2>
			</div>
			<button class="close no-resize"><span>close</span></button>
			<div class="main">
				<p>Either availability or date specific pricing has not been inputted. Without these the storage will be be a part of the warehouse search. To correct this enter go back to step 3 and adding prcing and availability</p>
				<button class="action" name="acepted-p-and-a-terms">OK</button>
			</div>
		</div>
	</div>
</div>