<div class="popup-window">
	<div class="small p-and-a-warning-popup">
		<div class="popup-main content-box secondary">
			<div class="header">
				<h2>No Pricing and/or Availability</h2>
			</div>
			<button class="close no-resize"><span>close</span></button>
			<div class="main">
				<p>You have not filled in either pricing or availability for some/all of your storages. These storages will not appear in customer searches but can be added later.</p>
				<button class="action" name="acepted-p-and-a-terms">OK and Save</button>
				<span class="or">OR</span>
				<button class="action" data-action="close-popup">Go Back and Edit</button>
			</div>
		</div>
	</div>
</div>