<tr>
	<%var today = new Date(),
      toDate = new Date();
	  toDate.setYear(today.getFullYear() + 1);
	  %>
	<td data-th="From" class="input-field no-success-validation-style">
		<input readonly data-bind-max="to" required type="date" name="from" class="datepicker" data-bind-value="from" data-loom-add-controls="true" min="<%=today.toISOString().substring(0, 10)%>"/>
	</td>
	<td data-th="To" class="input-field no-success-validation-style">
		<input readonly data-bind-min="from" required data-bind-value="to" type="date" name="to" class="datepicker" data-loom-add-controls="true" max="<%=toDate.toISOString().substring(0, 10)%>" min="<%=today.toISOString().substring(0, 10)%>"/>
	</td>
	<td data-th="Price per pallet per week" class="input-field no-success-validation-style">
		<input data-loom-type="decimal" data-loom-decimal-places="2" data-bind-value="price" name="price" type="number" class="currency"/>
	</td>
	<td data-th="Handling charge per pallet (In and Out)" class="input-field no-success-validation-style">
		<input data-loom-type="decimal" data-loom-decimal-places="2" data-bind-value="charge" name="charge" type="number" class="currency"/>
	</td>
	<div class="input-field no-success-validation-style" style="display:none">
		<input type="hidden" data-loom-type="decimal" data-loom-decimal-places="2" name="reserve" class="currency" value="0"/>
	</div>
	<td data-th="Remove" class="input-field no-success-validation-style remove-col">
		<button type="button" class="trash-button"><span>Delete</span></button>
	</td>
</tr>