<div class="popup-window">
	<div class="small p-and-a-warning-popup">
		<div class="popup-main content-box secondary">
			<div class="header">
				<h2>No Pricing and/or Availability</h2>
			</div>
			<button class="close no-resize"><span>close</span></button>
			<div class="main">
				<p>Either availability or pricing has not been specified. Without these your storage will not appear in customer searches. You can add pricing and availability at any time once you have registered.</p>
				<button class="action" name="acepted-p-and-a-terms">OK</button>
			</div>
		</div>
	</div>
</div>