<%var positions = ['left','right','left'],
      index = 0,
	  commentFrom = { quotationRequest:'Customer',
	  				  providerOffer:'Provider',
					  providerOfferReply:'Customer'};%>
<div class="popup-window provider-user-conversation hidden">
	<div class="conversation small">
		<div class="popup-main content-box secondary">
			<div class="header">
				<h2>Conversion</h2>
			</div>
			<button class="close no-resize"><span>close</span></button>
			<div class="main">
				<%for (var i in quote.comments){%>
					<div class="row columns twelve">
						<p class="bubble <%=positions[index]%>"><span class="from">From: <%=commentFrom[i]%></span><br/><%=quote.comments[i]%></p>
					</div>
					<%index ++;
				}%>
			</div>
		</div>
	</div>
</div>