<div id="reg-help-bubble" class="hidden">
	<button class="close no-resize">
		<span>close</span>
	</button>
	<div id="do-you-need-some-help">Do you need some help?</div>
	<div id="we-have-video">We have a helpful walkthrough</div>
	<div id="view-an-example">View here.....</div>
	<img id="icon" src="/images/view-registration-example-button.png">
</div>
	