<div class="js-map-results-container content-box map-container" style="display:none" id="results-area">
                    <div class="header">
                        <h2><em>Map</em> Search Area<small></small></h2>
                    </div>
                    <div class="main" >
                        <div id="map-container">Map loading...</div>
                        <div class="search-result-info-box fixed" id="search-results-info" style="display:none">
                            <div class="inner-box">
                                <h4><em class="js-name"></em><span class="selected ion-checkmark js-is-on-quote"></span>
                                </h4>
                                <p><span class="address js-address"> </span><span class="distance"></span></p>
                                
                                <hr/>
                                <img class="js-image" src="" alt="an external view of a warehouse " />
                                <div class="info">
                                    <a class="button mini action view-details <%= user.email ? "" : "register-before-click " %>view-warehouse-link">View details</a>
                                    <div class="ratings js-rating">
                                        <span class="ion-android-star rating"><em class="sr-only">*</em></span>
                                        <span class="ion-android-star rating"><em class="sr-only">*</em></span>
                                        <span class="ion-android-star rating"><em class="sr-only">*</em></span>
                                        <span class="ion-android-star rating"><em class="sr-only">*</em></span>
                                        <span class="ion-android-star rating"><em class="sr-only">*</em></span>
                                    </div>
                                    <div class="temperatures js-temperatures">
                                        <span class="ion-thermometer cold icon-box"></span>
                                        <span class="ion-thermometer hot icon-box"></span>
                                        <span class="ion-ios-snowy cold icon-box"></span>
                                    </div>
                                </div>
                                <hr/>
                                
                                <div class="controls">
                                    <button class="simple prev mini" id="map-prev-result">PREV</button>
                                    <button class="simple next mini" id="map-next-result">NEXT</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer key">
                        <em>Key</em>
                        <dl>
                            <dt><span class="ion-thermometer cold icon-box"></span></dt>
                            <dd>Ambient</dd>
                            <dt><span class="ion-thermometer hot icon-box"></span></dt>
                            <dd>Chilled</dd>
                            <dt><span class="ion-ios-snowy cold icon-box"></span></dt>
                            <dd>Frozen</dd>
                        </dl>
                        <!--<div class="map-resize"></div>-->
                    </div>
                </div>