	<div class="js-map-results-container content-box map-container <%= session.whSC ? "" : "has-search" %>" style="<%= session.whSC ? "" : "display:none" %>" id="results-area">
		<div class="header">
			<h2><em>Map</em> Search Area<small></small></h2>
			<div class="lock-map-container">
				<span class="button-text">Map Lock Status</span>
				<!--<button class="change-map-lock-status unlock-map primary tiny"/>-->
				<button disabled class="change-map-lock-status unlock-map primary tiny"></button>
			</div>
			<div class="tool-tip hint--top" data-hint="Click the padlock to manually choose a new search location">?</div>
		</div>
		<div class="main" >
			<div id="map-container">Map loading...</div>
			<% include ./multi-used/mini-warehouse-profile %>
		</div>
		<div class="footer key">
			<em>Key</em>
			<dl>
				<div class="hot-chilled-box">
					<dt><span class="ion-thermometer hot icon-box"></span></dt>
					<dd>Ambient</dd>
					<!--<dt><span class="ion-thermometer cold icon-box"></span></dt>
					<dd>Chilled</dd>-->
				</div>
				<div class="frozen-bonded-box">
					<!--<dt><span class="ion-ios-snowy cold icon-box"></span></dt>
					<dd>Frozen</dd>-->
					<dt><span class="ion-wineglass icon-box"></span></dt>
					<dd>Bonded</dd>
				</div>
			</dl>
			<!--<div class="map-resize"></div>-->
		</div>
	</div>