<div class="content-box search-results" style="display:none">
                    <div class="header">
                        <h2><em>List</em> Results</h2> 
                    </div>
                    <div class="main">
                        <table class="simple " id="search-results-table" data-loom-num-per-page="5">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Warehouse</th>
                                    <th>Town</th>
                                    <th data-field="distance" class="sortable ascending">Distance<br/>(miles)</th>
                                    <th data-field="rating" class="sortable">Rating</th>
                                    <th data-field="price" class="sortable">Weekly Price at Start Date<br/> (£ per pallet)</th>
                                    <th  >In / Out Price<br/> (£ per pallet)</th>
                                    <th data-field="estimatedPrice" class="sortable"> Estimated Total Price</th>
                                    <th>View Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                
                            </tbody>
                        </table>
                        
                    </div>
                </div>
                <script id="result-table-row" type="text/template">
                <tr data-bind-Id="_id">
                                    <td>@num@.</td>
                                    <td>@name@</td>
                                    <td>@city@</td>
                                    <td data-field="distance" data-type="number">@distanceFromSearch@
                                        <!--<span class="ion-thermometer cold"><em class="sr-only">Chilled</em></span>
                                        <span class="ion-thermometer hot"><em class="sr-only">Ambient</em></span>
                                        <span class="ion-ios-snowy cold"><em class="sr-only">Frozen</em></span>-->
                                    </td>
                                    <td data-field="rating"/>
                                    <td data-field="price" data-type="number" class="with-pound-sign">@firstWeekPrice.price | currency@</td>
                                    <td class="with-pound-sign">@firstWeekPrice.charge | currency@</td>
                                    <td data-field="estimatedPrice" data-type="number" class="with-pound-sign">@estimatedPrice | currency@</td>
                                    <td><a  data-bind-href="href" class="button action mini view-warehouse-link <%= user.email ? " " : "register-before-click " %>">View</a></td>
                                </tr>
                </script>
