<div class="content-box search-results" style="display:none">
                    <div class="header">
                        <h2><em>List</em> Results</h2> 
                    </div>
                    <div class="main">
                        <!--<div class="pagination">
                            <p>1 to 9 of 24 results</p>
                            <nav class="controls">
                                <button class="simple mini">View all items</button>
                                <ul class="pagination-links">
                                    <li><a class="prev" href="#">
                                        <span class="ion-chevron-left"></span>
                                        <span class="sr-only">previous</span></a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a class="next" href="#">
                                        <span class="ion-chevron-right"></span>
                                        <span class="sr-only">next</span>
                                        </a></li>
                                </ul>
                            </nav>
                        </div>-->
                        <table class="simple " id="search-results-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Warehouse</th>
                                    <th>Town</th>
                                    <th data-field="distance" class="sortable ascending">Distance<br/>(miles)</th>
                                    <th data-field="rating" class="sortable">Rating</th>
                                    <th data-field="price" class="sortable">Weekly Price at Start Date<br/> (£ per pallet)</th>
                                    <th >In / Out Price<br/> (£ per pallet)</th>
                                    <th>View Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                
                            </tbody>
                        </table>
                        
                    </div>
                
                </div>
                <script id="result-table-row" type="text/template">
                <tr data-bind-Id="_id">
                                    <td>@num@.</td>
                                    <td>@name@</td>
                                    <td>@city@</td>
                                    <td data-field="distance" data-type="number">@distanceFromSearch@
                                        <!--<span class="ion-thermometer cold"><em class="sr-only">Chilled</em></span>
                                        <span class="ion-thermometer hot"><em class="sr-only">Ambient</em></span>
                                        <span class="ion-ios-snowy cold"><em class="sr-only">Frozen</em></span>-->
                                    </td>
                                    <td data-rating="5" data-field="rating">
                                        <span class="ion-android-star rating"><em class="sr-only">*</em></span>
                                        <span class="ion-android-star rating"><em class="sr-only">*</em></span>
                                        <span class="ion-android-star rating"><em class="sr-only">*</em></span>
                                        <span class="ion-android-star rating"><em class="sr-only">*</em></span>
                                        <span class="ion-android-star rating"><em class="sr-only">*</em></span>
                                    </td>
                                    <td data-field="price" data-type="number" class="with-pound-sign">@storageMatch.currentPricing.price@</td>
                                    <td class="with-pound-sign">@storageMatch.currentPricing.charge@</td>
                                    <td><a  data-bind-href="href" class=" button action mini view-warehouse-link <%= user.email ? " " : "register-before-click " %>">View</a></td>
                                </tr>
                </script>