<div class="content-box search-results" style="display:none">
                    <div class="header">
                        <h2><em>3. List</em> Results</h2><span>Confirm your email to get further information</span>
                    </div>
                    <div class="main">
                        <!--<div class="pagination">
                            <p>1 to 9 of 24 results</p>
                            <nav class="controls">
                                <button class="simple mini">View all items</button>
                                <ul class="pagination-links">
                                    <li><a class="prev" href="#">
                                        <span class="ion-chevron-left"></span>
                                        <span class="sr-only">previous</span></a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a class="next" href="#">
                                        <span class="ion-chevron-right"></span>
                                        <span class="sr-only">next</span>
                                        </a></li>
                                </ul>
                            </nav>
                        </div>-->
                        <table class="simple " id="search-results-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Warehouse</th>
                                    <th>Town</th>
                                    <th>Type</th>
                                    <th>Rating</th>
                                    <th>Weekly Price</th>
                                    <th>In / Out Price</th>
                                    <th>Available Pallets</th>
                                    <th>View Details</th>
                                    <th>Select</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--<tr>
                                    <td>1.</td>
                                    <td>Warehouse 1</td>
                                    <td>Bury</td>
                                    <td>
                                        <span class="ion-thermometer cold"><em class="sr-only">Chilled</em></span>
                                        <span class="ion-thermometer hot"><em class="sr-only">Ambient</em></span>
                                        <span class="ion-ios-snowy cold"><em class="sr-only">Frozen</em></span>
                                    </td>
                                    <td>
                                        <span class="ion-android-star rating"><em class="sr-only">*</em></span>
                                        <span class="ion-android-star rating"><em class="sr-only">*</em></span>
                                        <span class="ion-android-star rating"><em class="sr-only">*</em></span>
                                        <span class="ion-android-star rating"><em class="sr-only">*</em></span>
                                        <span class="ion-android-star rating"><em class="sr-only">*</em></span>
                                    </td>
                                    <td>£1.00</td>
                                    <td>£1.00</td>
                                    <td>200</td>
                                    <td><button class="action mini">View</button></td>
                                    <td><input type="checkbox" /></td>
                                    
                                </tr>-->
                                
                            </tbody>
                        </table>
                        
                    </div>
                
                </div>
                <script id="result-table-row" type="text/template">
                <tr data-bind-Id="_id">
                                    <td>@num@.</td>
                                    <td>@name@</td>
                                    <td>@city@</td>
                                    <td>
                                        <span class="ion-thermometer cold"><em class="sr-only">Chilled</em></span>
                                        <span class="ion-thermometer hot"><em class="sr-only">Ambient</em></span>
                                        <span class="ion-ios-snowy cold"><em class="sr-only">Frozen</em></span>
                                    </td>
                                    <td>
                                        <span class="ion-android-star rating"><em class="sr-only">*</em></span>
                                        <span class="ion-android-star rating"><em class="sr-only">*</em></span>
                                        <span class="ion-android-star rating"><em class="sr-only">*</em></span>
                                        <span class="ion-android-star rating"><em class="sr-only">*</em></span>
                                        <span class="ion-android-star rating"><em class="sr-only">*</em></span>
                                    </td>
                                    <td>£TBC</td>
                                    <td>£TBC</td>
                                    <td>200</td>
                                    <td><a target="_blank" data-bind-href="href"><button class="action mini"  >View</button></a></td>
                                    <td><input type="checkbox" /></td>
                                    
                                </tr>
                </script>