<div class="js-map-results-container content-box map-container" style="display:none" id="results-area">
                    <div class="header">
                        <h2><em>1. Map</em> Search Area<small>Click to view details</small></h2>
                    </div>
                    <div class="main" >
                        <div id="map-container">Map loading...</div>
                        <div class="search-result-info-box fixed" id="search-results-info" style="display:none">
                      
                            <h4><em class="js-name">Warehouse 2</em><span class="selected ion-checkmark js-is-on-quote"></span>
                            </h4>
                            <p class="address js-address">123 Bury New Road, Bur, BL1 1HG</p>
                            <hr/>
                            <img class="js-image" src="/images/warehouse-thumb.jpg" alt="an external view of a warehouse " />
                            <div class="info">
                                <button class="mini action add add-to-quote">View details</button>
                                <div class="ratings js-rating">
                                    <span class="ion-android-star rating"><em class="sr-only">*</em></span>
                                    <span class="ion-android-star rating"><em class="sr-only">*</em></span>
                                    <span class="ion-android-star rating"><em class="sr-only">*</em></span>
                                    <span class="ion-android-star rating"><em class="sr-only">*</em></span>
                                    <span class="ion-android-star rating"><em class="sr-only">*</em></span>
                                </div>
                                <div class="temperatures js-temperatures">
                                    <span class="ion-thermometer cold icon-box"></span>
                                    <span class="ion-thermometer hot icon-box"></span>
                                    <span class="ion-ios-snowy cold icon-box"></span>
                                </div>
                            </div>
                            <hr/>
                            <a class="button primary view-details" target="_blank">VIEW DETAILS</a>
                            <!--table class="no-style">
                                <thead>
                                    <tr>
                                        <th>pallet type</th>
                                        <th>Size</th>
                                        <th>Available</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>-->
                            <div class="controls">
                                <button class="simple prev mini" id="map-prev-result">PREV</button>
                                <button class="simple next mini" id="map-next-result">NEXT</button>
                            </div>
                            
                            
                        </div>
                    </div>
                    <div class="footer key">
                        <em>Key</em>
                        <dl>
                            <dt><span class="ion-thermometer cold icon-box"></span></dt>
                            <dd>Ambient</dd>
                            <dt><span class="ion-thermometer hot icon-box"></span></dt>
                            <dd>Chilled</dd>
                            <dt><span class="ion-ios-snowy cold icon-box"></span></dt>
                            <dd>Frozen</dd>
                        </dl>
                    </div>
                </div>