<div class="popup-window"> <!--PROVIDERS ONLY-->
	<div class="small register">
		<div class="popup-main content-box secondary">
			<div class="header">
				<h2>Save your details</h2>
			</div>
			<button class="close no-resize"><span>close</span></button>
			<div class="main">
				<%if(!user.email){%>
					<form data-display-condition="!registered" class="loom-form" action="/save-registration" novalidate id="save-registration-form">
						<div class="input-field no-success-validation-style">
							<input type="email" name="email" placeholder="Email" required/>
						</div>
						<div class="input-field no-success-validation-style">
							<input data-pattern="(?=.*[A-z])(?=.*[0-9])" type="password" name="password" placeholder="Password" minlength="8" required/>
						</div>
						<div class="input-field no-success-validation-style">
							<input data-loom-confirm="password" data-pattern="(?=.*[A-z])(?=.*[0-9])" type="password" name="confirm-password" placeholder="Confirm Password" minlength="8" required/>
							<ul class="messages">
								 <li class="msg-info">Password must be at least 8 characters in length and contain at least one number and both passwords must match.</li>
							 </ul>
						</div>
						<div class="input-field">
							<input type="hidden" name="user-type" value="1"/>
						</div>
						<span>We will email you a link to your details</span>
						<button class="action done">save</button>
					</form>
					<div class="saved" data-display-condition="registered">
						<span>Saved</span>
					</div>
				<%}%>
				<%if(user.email){%>
					<div class="saved">
						<span>Saved</span>
					</div>
				<%}%>
			</div>
		</div>
	</div>
</div>