<div class="popup-window " id="search-description-popup" style="display:none">
	<div class="small">
		<div class="popup-main content-box secondary">
			<div class="header">
				<h2>Search</h2>
			</div>
			<button class="close no-resize"><span>close</span></button>
			<div class="main">
				<p>We are currently recruiting storage providers before going live with our search facility.<br/> 
					Please use the example to see how it works! <br/>
					You can change the pallet quantity height and/or weight and search again.</p>
			</div>
		</div>
	</div>
</div>