<div class="standard-pricing-tray">
    <a class="open-tray-link">Standard Pricing</a>
    <div class="tray">
        <span class="aside">If you do not specify pricing for a storage, it will not appear in search results.</span></p>
            <div class="row">
                <div class="columns six">
                    <p>This is the price you will be charging for all periods <em>except</em> those specified in date specific pricing.</p>
                </div>
                <!--<div class="columns six controls">
                    <% include ./net-gross-controls %>
                </div>-->
            </div>
            <div class="row">
                <div class="input-field columns six no-success-validation-style">
                    <label for="standard-pricing-price">Price per Pallet (&pound; per Week)</label><input name="standard-pricing-price" class="currency" type="text" data-loom-type="decimal" data-loom-decimal-places="2" value="<%=Number(storage.basicPricing.price) != 0 ? storage.basicPricing.price : ""%>" required="required"/>
                </div>
                <div class="input-field columns six no-success-validation-style">
                    <label for="standard-pricing-handling-charge">In and Out Handling Charge (&pound; per Pallet)</label><input name="standard-pricing-handling-charge" class="currency" type="text" data-loom-type="decimal" data-loom-decimal-places="2" value="<%=Number(storage.basicPricing.charge) != 0 ? storage.basicPricing.charge : ""%>" required="required"/>
                </div>
            </div>
            <div class="row controls">
                <button type="submit" class="action">Save</button>
            </div>
    </div>
</div>
