<div class="columns four row document">
	<div class="columns five document-image">
		<img src="./images/pdf.png"/>
	</div>
	<span class="file-name columns four">
	</span>
	<input type="hidden" name="document" data-array="documents"/>
	<div class="columns one">
		<button type="button" href="#" class="trash-button"><span>Delete</span></button>
	</div>
</div>