<div class="columns four row document">
	<div class="columns five document-image">
		<img src="./images/pdf.png" alt="doc" width="48" height="48"/>
	</div>
	<a class="file-name columns four" href="#"></a>
	<div class="columns one">
		<button type="button" href="#" class="trash-button"><span>Delete</span></button>
	</div>
</div>