<div class="popup-window video-popup" style="display:none">
	<div class="normal">
		<div class="popup-main content-box secondary">
			<div class="header">
				<h2>View Example</h2>
			</div>
			<button class="close no-resize"><span>close</span></button>
			<div class="main">
				<iframe width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>