<% include ../partials/top %> 
<main id="terms-and-conditions">
	<div class="banner row">
		<h1>Terms and conditions between Registered Storage Provider and Zupplychain.</h1>
	</div>
	<section>
		<div class="main">
			<div class="columns twelve">
				<div class="secondary content-box">
					<a class="button action back" href="/dashboard">Back to Dashboard</a>
					<fieldset class="main">
						<div class="container">
							<p>This page (together with our <span class="italics">Terms and conditions of supply of services through the Zupplychain website</span>) tells you information about us and the legal terms and conditions (Terms) on which you are to provide any of the warehousing services(Services) listed on our website (our site).</p>
							<p>We provide an online marketplace by which business users with a requirement for warehouse space may obtain such services from you and other third parties but we do not ourselves provide warehouse space. We are not responsible for any arrangements made between you and any customers through our site.</p>
							<p>These Terms will apply to the promotion of any of the Services through our site and any subsequent contracts for the supply of the Services by you (Contracts). The Terms will be between us and you (Registered Storage Provider) however you acknowledge that if you choose to accept an order through our site you will accept (save to the extent varied through the order process) those terms applicable to a Registered Storage Provider in the Terms and conditions of supply of services through the Zupplychain website, the  Terms and conditions of supply of services by registered storage providers to customer r or otherwise . Please read these Terms carefully and make sure that you understand them, before agreeing to these terms and/or agreeing to accept any order by a person seeking to order through our site any of the Services offered by you (Customer).   Please note that you will be asked to agree to these Terms. If you refuse to accept these Terms, you will not be able to supply any Services through our site.</p>
							<p>Phone numbers are optional. The Zupplychain system will automatically mail your contacts and those of the customer whenever there is a need to provide or respond to information. Many of the e-mails will just require a ‘confirmation’ or a tick box response. Zupplychain makes it that easy! There’s no need to remember or record customer contact details, phone numbers or e mail addresses. And all your inbound and outbound messages – whether concerning enquiries, agreed contracts or operational matters – can be found on your dashboard. As well as receiving messages via the dashboard, all nominated contacts will receive their messages to their specified e-mail inbox.</p>
							<p>You should print a copy of these Terms [or save them to your computer] for future reference.</p>
							<p>We amend these Terms from time to time as set out in clause 7. Every time you wish to supply Services, please check these Terms to ensure you understand the terms which will apply at that time. These Terms were most recently updated on December 15th 2015 when we originated the document.</p>
							<ol>
								<li><span class="bold">INFORMATION ABOUT US</span>
									<ol>
										<li>www.zupplychain.com is a site operated by Zupplychain Limited ("We"). We are registered in England and Wales under company number 09115643 and have our registered office at Stanmore House 64-68 Blackburn Street Radcliffe Manchester England M26 2JS. Our main trading address is Imperial House, 79-81 Hornby Street, Bury, BL9 5BN. Our VAT number is 214957691.</li>
										<li>We are a limited company.</li>
										<li><span class="bold">Contacting us.</span> You may contact us by telephoning our customer service team at 0161 705 4326 or by e-mailing us at info@zupplychain.com. If you wish to give us formal notice of any matter in accordance with these Terms, please see clause 14.</li>
									</ol>
								</li>
								<li><span class="bold">SERVICES</span>
									<ol>
										<li>You will at all material times act in good faith towards us and will promptly notify us of the amount of warehouse space you wish to make available for offer on our site (breaking this down by the location of the warehouses in question, the type of goods which would be suitable for storage in such available spaces, whether the spaces have any particular features (e.g. refrigerated or frozen) or any particular goods for which they would be unsuitable). If you wish to make available additional services (e.g. logistic services) please notify us and we may note on our site in our discretion that you provide such services but they would be the subject of a separate arrangement between you and a Customer. You shall specify pricing for those Services for inclusion on the Site. Whilst these prices may be varied as part of the order process we would expect you to adhere to them as far as reasonably practicable</li>
										<li>You shall provide us at all material times with such information as we may reasonably require to assist us in procuring orders for the Services you seek to provide to our customers through our site, including marketing information for and details of the Services, and information about you.</li>
										<li>You acknowledge that we will utilise information supplied by you to us in procuring offers for the Services and that you will ensure that any information supplied by or on behalf of you to us is true, complete and accurate in all respects... </li>
										<li>You shall promptly notify us of any information that is on our site or which you have otherwise supplied to us that is incorrect or misleading.</li>
										<li>You shall promptly notify us if you wish to suspend or otherwise cease to perform the Services in whole or in part (without prejudice to the terms of any binding arrangement then already in place).</li>
										<li>You shall provide us at all material times with such information as we may reasonably require to assist us in calculating the amounts due to us from you from time to time including supplying promptly after issue copies of any invoices to a Customer and details of all warehouse related and logistics related revenue including storage, handling and value added services charged or chargeable to a Customer in the 12 months from the date of any order from a Customer.</li>
										<li>Termination of this agreement, howsoever arising, shall not affect the continuation in force of clauses 2.4 and 2.6.</li>
									</ol>
								</li>
								<li><span class="bold">USE OF OUR SITE</span>
									<p>Your use of our site is governed by our <span class="italics">Terms of website use and Website Acceptable Use Policy.</span> Please take the time to read these, as they include important terms which apply to you.</p>
								</li>
								<li><span class="bold">HOW WE USE YOUR PERSONAL INFORMATION</span>
									<p>We only use your personal information in accordance with our <span class="italics">Privacy Policy</span>. Please take the time to read our <span class="italics">Privacy Policy</span>, as it includes important terms which apply to you.</p>
								</li>
								<li><span class="bold">ENTIRE AGREEMENT</span>
									<ol>
										<li>These Terms and any document expressly referred to in them constitutes the entire agreement between you, and us and supersedes and extinguishes all previous agreements, promises, assurances, warranties, representations and understandings between you and us, whether written or oral, relating to its subject matter.</li>
										<li>5.2	You acknowledge that in entering into these Terms and any subsequent Contracts you do not rely on any statement, representation, assurance or warranty (whether made innocently or negligently) that is not set out in these Terms or any document expressly referred to in them.</li>
									</ol>
								</li>
								<li><span class="bold">HOW CONTRACTS ARE FORMED BETWEEN YOU, US AND THE CUSTOMER AND YOU AND THE CUSTOMER</span>
									<ol>
										<li>Where a Customer places an order with us in accordance with our <span class="italics">Terms and conditions of supply of services through the Zupplychain website</span> that relates to Services offered by you or on your behalf we will send an e-mail to you with details of that order. As soon as reasonably practicable and in any event within 48 hours of that email (and in respect thereof time shall be of the essence) you shall either confirm your acceptance of that order to us or decline that order or decline that order in part (in the latter cases specifying the reasons for such decline). If in your opinion, the Customer’s order necessitates changes to the <span class="italics">Terms and conditions of supply of services by registered storage providers to customer</span>, further terms and conditions (Supplemental Terms) may be notified to the Customer by you for acceptance by the Customer as part of the process to conclude contracts and in any response you must notify us of any Supplemental Terms you wish to notify to the Customer.</li>
										<li>If you do not reply to our email within the timescale specified you shall be deemed to have declined the order. You acknowledge that any acceptance of an order will be on the basis of the <span class="italics">Terms and conditions of supply of services through the Zupplychain website</span>, the <span class="italics">Terms and conditions of supply of services by registered storage providers to customer</span> and any Supplemental Terms and you agree to such terms and to be bound by the terms set out therein which are for the Registered Storage Provider to fulfil.</li>
									</ol>
								</li>
								<li><span class="bold">OUR RIGHT TO VARY THESE TERMS</span>
									<ol>
										<li>We amend these Terms from time to time. Please look at the top of this page to see when these Terms were last updated and which Terms were changed.</li>
										<li>Every time you offer Services through our site, the Terms in force at the time of the Customer’s order will apply between you and us and the Terms and conditions of supply of services through the Zupplychain website in force at the time of the Customer’s order will apply to the Contract between you, us and the Customer and the Terms and conditions of supply of services by registered storage providers to customer  in force at the time of the Customer’s order together with any Supplementary Terms accepted by the Customer will apply to the Contract(s) between you and the Customer.</li>
									</ol>
								</li>	
							</ol>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</section>
	<div class="continue-links footer form-footer">
		<div class="container">
			<a href="/terms-and-conditions" class="button simple tandc">View Terms and Conditions</a>
			<a class="button action back" href="/dashboard">Back to Dashboard</a>
		</div>
	</div>
</main>
<% include ../partials/bottom %>