<% include ../partials/top %> 
<main id="terms-and-conditions">
	<div class="banner row">
		<h1>Terms and conditions of supply of services by registered storage provider to customer</h1>
	</div>
	<section>
		<div class="main">
			<div class="columns twelve">
				<div class="secondary content-box">
			        <a class="button action back" href="/terms-and-conditions">Back to Terms and Conditions</a>
					<fieldset class="main">
						<div class="container">
							<p>This page is the Terms and conditions of supply of services by registered storage provider to customer which is referred to in the Terms and conditions of supply of services through the Zupplychain website and sets out certain terms and conditions between the Registered Storage Provider and Customer which are in addition to those terms that apply between you, the Registered Storage Provider and us in the Terms and conditions of supply of services through the Zupplychain website. Words and expressions defined in the Terms and conditions of supply of services through the Zupplychain website shall where the context shall so admit bear the same meanings in these Registered Storage Provider Terms.</p>
							<p>These Registered Storage Provider Terms are amended from time to time as set out in clause 2. Every time you wish to order Services, please check these Registered Storage Provider Terms to ensure you understand the terms which will apply at that time. These Terms were most recently updated on December 15th 1015 when we originated them.</p>
							<ol>
								<li><span class="bold">INFORMATION</span>
									<ol>
										<li>You acknowledge that the Registered Storage Provider is relying on all information given to the Registered Storage Provider by you through this site and in any other communication with you and you agree to ensure that the terms of any order made through and any information provided by you through this Site or otherwise to the Registered Storage Provider is complete, accurate and not misleading. In particular the Registered Storage Provider needs to be notified of goods that may require insurance or specialist storage (e.g. refrigeration, freezing etc.) or care (e.g. fragile goods, goods that are not easily replaceable, etc.) or security (e.g. high value goods, electronic items, jewellery etc.).In the absence of any particular knowledge of goods and agreement by the Registered Storage Provider as to method of storage and/or logistics with you the Registered Storage Provider shall be entitled to assume that no special storage requirements and no insurance are necessary.</li>
									</ol>
								</li>
								<li><span class="bold">RIGHT TO VARY THESE TERMS</span>
									<ol>
										<li>These Registered Storage Provider Terms may be amended from time to time. Please look at the top of this page to see when these Registered Storage Provider Terms were last updated and which Registered Storage Provider Terms were changed.</li>
									</ol>
								</li>
								<li><span class="bold">GOODS</span>
									<ol>
                                        <li>Any item or items you wish to be stored in the Registered Storage Provider’s warehouse (Goods) shall belong to you and shall be as described by you in the order placed by you and shall be securely packed and in a condition where they may safely be transported to and stored in the Registered Storage Provider’s warehouse. You agree to supply to the Registered Storage Provider such information as the Registered Storage Provider may reasonably require about the Goods to enable the Registered Storage Provider to consider whether such Goods should be stored by the Registered Storage Provider at all and otherwise to allow the Goods to be stored appropriately and/or to determine whether such Goods are dangerous in some manner or may require specialist care. An additional charge may be incurred by you for storage of the Goods where information comes to light that was not readily obtainable from the information supplied by you in placing your order.</li>
                                        <li>Unless the Registered Storage Provider expressly agrees in writing you must not store or seek to store any of the following in the Registered Storage Provider’s warehouse:-
                                            <ol>
                                                <li>food or perishable goods at an inappropriate temperature;</li>
                                                <li>birds, fish, animals or any other living creatures;</li>
                                                <li>combustible or flammable materials or liquids such as gas, paint, petrol, oil or cleaning solvents;</li>
                                                <li>firearms, explosives, weapons or ammunition;</li>
                                                <li>chemicals, radioactive materials, biological agents toxic waste, asbestos or other materials of a potentially dangerous nature;</li>
                                                <li>any item which emits any fumes, smell or odour;</li>
                                                <li>any illegal substances, illegal items or goods illegally obtained;</li>
                                                <li>compressed gases;</li>
                                                <li>any item which we or the Registered Storage Provider may notify to you from time to time as being in our opinion dangerous or otherwise unsuitable or undesirable for transport to or from or storage at the Registered Storage Provider’s warehouse.</li>
                                            </ol>
                                        </li>
                                        <li>You acknowledge that the Registered Storage Provider has no obligation to inspect the Goods when they arrive at the premises of the Registered Storage Provider, nor does the Registered Storage Provider have any knowledge of their nature, condition or state. It is your responsibility to ensure that the Goods are delivered as stated to the Registered Storage Provider and are in a good state and condition and suitable for storage by the Registered Storage Provider with no specific temperature requirements.</li>
                                        <li>The Registered Storage Provider may, in its absolute discretion, reject goods for storage in whole or in part if the goods (or part of them) do not match the description or otherwise if the Registered Storage Provider believes that it is unable to store the goods adequately and/or safely.</li>
                                    </ol>
								</li>
								<li><span class="bold">PROVISION OF THE SERVICES</span>
									<ol>
                                        <li>The Registered Storage Provider warrants to you that the Services:
                                            <ol>
                                                <li>will be provided using reasonable care and skill;</li>
                                                <li>will be provided in accordance with the description of such services set out in the Confirmation in all material respects having regard to the information supplied by you that forms part of the Contract.</li>
                                            </ol>
                                        </li>
                                        <li>The Registered Storage Provider shall:
                                            <ol>
                                                <li>store the Goods so that they remain readily identifiable as your property but otherwise may be stored on the Registered Storage Provider’s premises as it in its discretion sees fit;</li>
                                                <li>not remove, deface or obscure any identifying mark or packaging on or relating to the Goods</li>
                                            </ol>
                                        </li>
                                        <li>You permit the Registered Storage Provider and its agents and contractors to inspect the Goods at any time without notifying you if the Registered Storage Provider reasonably believes that Goods contains any items described in clause 3 or the Registered Storage Provider reasonably considers that such access is necessary to ascertain whether action needs to be taken to prevent injury or damage to persons or property or if the Registered Storage Provider is required to do so by law.</li>
                                        <li>Save as expressly provided for in these Registered Storage Provider Terms or otherwise prohibited by law, you agree to exclude all of the Registered Storage Provider’s obligations as a bailee of the Goods.</li>
                                        <li>You acknowledge that time shall not be of the essence for performance of the Services.</li>
									</ol>
                                </li>
								<li><span class="bold">YOUR OBLIGATIONS </span>
									<ol>
										<li>You shall:
                                            <ol>
                                                <li>co-operate with the Registered Storage Provider in all matters relating to the Services;</li>
                                                <li>provide the Registered Storage Provider with such information as the Registered Storage Provider may reasonably require in order to comply with your obligations under these Registered Storage Provider Terms and the Terms and conditions of supply of services through the Zupplychain website and to enable the Registered Storage Provider to supply the Services, and ensure that such information is accurate in all material respects;</li>
                                                <li>unless agreed to the contrary in writing with the Registered Storage Provider deliver the Goods to be stored to the Registered Storage Provider in an undamaged state and able to withstand the risks of handling, carriage and storage and on the date and in the time period specified in the Confirmation</li>
                                                <li>Ensure that the Goods are packaged and labelled in the manner specified in the Confirmation (e.g. labelled with barcodes or unique reference numbers specified by the Registered Storage Provider and  stacked on pallets in a manner that enables the Registered Storage Provider to securely and safely store them and move them (where required by the Registered Storage Provider) without risk of damage or breakage to the Goods, the property of the Registered Storage Provider and/or other goods stored by the Registered Storage Provider and without risk of personal injury to any employees, agents of the Registered Storage Provider or third parties attending at the Registered Storage Provider’s premises);</li>
                                                <li>Comply with all reasonable requirements of the Registered Storage Provider notified to you with regard to the packaging, labelling, handling and storage of the Goods;</li>
                                                <li>obtain and maintain all necessary licences, permissions and consents which may be required before the date on which the Services are to start;</li>
                                                <li>(save where the Registered Storage Provider has specifically agreed in writing to provide and/or procure insurance to cover the Goods for accidental loss or damage whilst in the Registered Storage Provider’s control) for the duration of any Contract maintain in force, with a reputable insurance company, insurance to cover the Goods for accidental loss or damage whilst in the Registered Storage Provider’s control;</li>
                                                <li>take delivery of the Goods no later than the date of expiration of any Contract; and</li>
                                                <li>keep the Registered Storage Provider indemnified against all liabilities, costs, expenses, damages and losses (including but not limited to any direct, indirect or consequential losses, loss of profit, loss of reputation and all interest, penalties and legal costs (calculated on a full indemnity basis) and all other professional costs and expenses) suffered or incurred by the Registered Storage Provider as a result of or in connection with any claim made against the Registered Storage Provider by any person arising out of, or in connection with, the supply of the Services, to the extent that such claim arises out of the breach, negligence or failure or delay in performance of any Contract by you, your employees, agents or subcontractors.</li>
                                            </ol>
                                        </li>
										<li>If the Registered Storage Provider's performance of any of its obligations under the Contracts is prevented or delayed by any act or omission by you or your failure to perform any relevant obligation (Customer Default):
                                            <ol>
                                                <li>the Registered Storage Provider shall without limiting its other rights or remedies have the right to suspend performance of the Services until you remedy the Customer Default, and to rely on the Customer Default to relieve it from the performance of any of its obligations to the extent the Customer Default prevents or delays the Registered Storage Provider's performance of any of its obligations;</li>
                                                <li>the Registered Storage Provider shall not be liable for any costs or losses sustained or incurred by you arising directly or indirectly from the Registered Storage Provider's failure or delay to perform any of its obligations as set out in this clause 5.2; and</li>
                                                <li>you shall reimburse the Registered Storage Provider on written demand for any costs or losses sustained or incurred by the Registered Storage Provider arising directly or indirectly from the Customer Default.</li>
                                            </ol>
                                        </li>
									</ol>
								</li>
								<li><span class="bold">CHARGES AND PAYMENT</span>
									<ol>
									    <li>The Charges are calculated on the basis of agreed movements of the Goods being from 8.00 am to 5.00 pm on business days; If all or part of the Goods are to be collected outside these times or days then the Registered Storage Provider shall be entitled to charge an overtime rate of on a pro-rata basis for each part day or for any time worked by persons whom it engages on the Services outside the hours referred to in clause 6.1.</li>
									    <li>The price of the Services does not include delivery charges. The Registered Storage Provider may be able to arrange for the provision of delivery services if required for a separate charge and on the basis of a separate agreement.</li>
									    <li>You shall be invoiced by or on behalf of the Registered Storage Provider weekly in advance (or, if different, as stated in the Confirmation) in respect of the Services and any other amount due under the Registered Storage Provider Terms and/or the Contracts. Warehouse storage is provided by the Registered Storage Provider on a weekly basis and any period of less than one week shall incur a full weekly charge whether the Services were actually provided or available during that week.</li>
                                        <li>You shall pay each invoice submitted by or on behalf of the Registered Storage Provider to the Registered Storage Provider):
                                            <ol>
                                                <li>Promptly on receipt of an invoice from by or on behalf of the Registered Storage Provider and in any event within the stated terms in the Confirmation; and</li>
                                                <li>in full and in cleared funds to a bank account nominated in writing by the Registered Storage Provider, and</li>
                                                <li>time for payment shall be of the essence of the Contracts.</li>
                                            </ol>
                                             If requested in writing by the Registered Storage Provider you shall provide to the Registered Storage Provider such details and provide to the Registered Storage Provider such authorisations (including signatures and details of bank account, credit cards and/or Card Verification Value number) as the Registered Storage Provider may require to enable payment of any invoice to be made by you by way of direct debit, standing order, credit card and other payment forthwith upon production of an invoice.
                                        </li>
                                        <li>All amounts payable by you under the Contract are exclusive of amounts in respect of value added tax chargeable for the time being (VAT). Where any taxable supply for VAT purposes is made under the Contract by the Registered Storage Provider to you, you shall, on receipt of a valid VAT invoice from the Registered Storage Provider, pay to the Registered Storage Provider such additional amounts in respect of VAT as are chargeable on the supply of the Services at the same time as payment is due for the supply of the Services.</li>
                                        <li>If you fail to make any payment due to the Registered Storage Provider under the Contract by the due date for payment, then you shall pay interest on the overdue amount at the rate of 4% per cent per annum above Barclays Bank PLC's base rate from time to time. Such interest shall accrue on a daily basis from the due date until actual payment of the overdue amount, whether before or after judgment. You shall pay the interest together with the overdue amount.</li>
                                        <li>You shall pay all amounts due under the Contract in full without any set-off, counterclaim, deduction or withholding (except for any deduction or withholding required by law). The Registered Storage Provider may at any time, without limiting any other rights or remedies, set off any amount owing to the Registered Storage Provider by you against any amount payable by the Registered Storage Provider to you.</li>
                                        <li>If you fail to take delivery of the Goods within no later than the date of expiration of the Contracts the Registered Storage Provider may continue to store the Goods until delivery takes place, and charge you for all related costs and expenses (including insurance) which you agree to pay on demand</li>
                                        <li>If you have not taken or accepted delivery of the Goods in accordance with the terms of this Contract or are otherwise in material breach of your obligations under the Contract, the Registered Storage Provider may, as your agent, resell or otherwise dispose of part or all of the Goods and, after deducting reasonable storage and selling costs and any other amounts due to us and/or the Registered Storage Provider under this Contract, account to you for any excess over the amounts so due or charge you for any shortfall. You agree that in such circumstance the Registered Storage Provider may pass title to the Goods to any purchaser as your agent.</li>
                                    </ol>
								</li>
								<li><span class="bold">REGISTERED STORAGE PROVIDER’S LIABILITY TO YOU</span>
									<ol>
										<li>The Services are only supplied by the Registered Storage Provider for internal use by your business, and you agree not to use the Services for any resale purposes.</li>
										<li>Nothing in these Terms limits or excludes the Registered Storage Provider’s liability for:
                                            <ol>
                                                <li>death or personal injury caused by the Registered Storage Provider’s negligence or the negligence of the Registered Storage Provider’s employees, agents or subcontractors;</li>
                                                <li>the Registered Storage Provider’s fraud or fraudulent misrepresentation;</li>
                                                <li>breach of the terms implied by section 2 of the Supply of Goods and Services Act 1982 (title and quiet possession).</li>
                                            </ol>
                                        </li>
                                        <li>Subject to clause 7.2, the Registered Storage Provider will under no circumstances whatever be liable to you, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, arising under or in connection with the Contracts for:
                                            <ol>
                                                <li>any loss of profits, sales, business, or revenue;</li>
                                                <li>loss of business opportunity;</li>
                                                <li>loss of anticipated savings;</li>
                                                <li>loss of goodwill;</li>
                                                <li>any indirect or consequential loss;</li>
                                                <li>any loss damage, costs or expenses incurred as a result of or in connection with any claim made against the Registered Storage Provider by any person arising out of, or in connection with, the supply of the Services, to the extent that such claim arises out of the breach, negligence or failure or delay in performance of the Contracts by you, your employees, agents or subcontractors; or</li>
									            <li>any loss, damage, costs or expenses incurred by you as a result of the Goods (or any part of them) not being delivered to the Registered Storage Provider at all (and for these purposes the Registered Storage Provider may rely on your statement of the contents of any container or other packaged goods where such contents are not readily verifiable without undue time and expense or repackaging) or being delivered to the Registered Storage Provider damaged, and/or insufficiently packed for storage, or packed in an unsuitable container.</li>
                                            </ol>
                                        </li>
                                        <li>Subject to clause 7.2:
                                            <ol>
                                                <li>the Registered Storage Provider’s total liability to you in respect of all losses arising under or in connection with the Contract, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, shall in no circumstances exceed  the amount specified in the Confirmation;.</li>
                                            </ol>
                                        </li>
                                        <li>The terms implied by sections 3 to 5 of the Supply of Goods and Services Act 1982 are, to the fullest extent permitted by law, excluded from the Contracts.</li>
                                        <li>To the fullest extent permitted by law all claims against the Registered Storage Provider which relate to missing Goods, damaged Goods or lost Goods shall be made in writing by you within seven days after release of the Goods alleged to be damaged or, in the case of Goods alleged to be missing or lost, within seven days after the time when the Goods should in the ordinary course of events have been released and the Registered Storage Provider shall be under no liability to you unless such claim is made within the time stipulated Provided that if you can demonstrate to the Registered Storage Provider’s reasonable satisfaction that:
                                            <ol>
                                                <li>it was not reasonably possible for you to advise the Registered Storage Provider or make a claim in writing within the time limit applicable, and</li>
                                                <li>such advice or claim was given or made within a reasonable time, the Registered Storage Provider shall not have the benefit of the exclusion of liability afforded by this clause.</li>
                                            </ol>
                                        </li>
                                        <li>The Registered Storage Provider shall in any event be discharged from all liability whatsoever and howsoever arising in respect of the Services unless notice in writing in respect of any claim and proceedings are issued and served on the Registered Storage Provider within twelve calendar months of the date when the Goods were released or should, in the ordinarily have been released..</li>
                                        <li>This clause 7 shall survive termination of the Contract.</li>
                                    </ol>
								</li>
                                <li><span class="bold">LIEN</span>
                                    <ol>
                                        <li>The Registered Storage Provider shall have a specific lien on all Goods in its possession or under its control and a general lien entitling the Registered Storage Provider to retain Goods or documents as security for payment of any amounts due to the Registered Storage Provider from you on any account..</li>
                                        <li>The Registered Storage Provider may exercise its lien at any time by giving written notice to you such notice to specify the amount of the debt owed by you to the Registered Storage Provider. In the event that the debt for which the lien has been exercised is not fully satisfied within seven days of such notice the Registered Storage Provider may sell or otherwise dispose of the Goods or any part of them at your entire risk and expense by the method reasonably available and the proceeds of any sale or disposal shall be remitted to you after deduction therefrom of all expenses and all amounts due to the Registered Storage Provider from you on any account; and</li>
                                        <li>Goods will only be released to you where the Registered Storage Provider has been paid all sums owing.</li>
                                    </ol>
                                <li><span class="bold">.COMMUNICATIONS</span>
                                    <ol>
                                        <li>When there is referred, in these Registered Storage Provider Terms, to "in writing", this will include e-mail.</li>
                                        <li>Any notice or other communication given by you to the Registered Storage Provider, or by the Registered Storage Provider to you, under or in connection with these Registered Storage Provider Terms shall be in writing and shall be delivered personally, sent by pre-paid first class post or other next working day delivery service or e-mail.</li>
                                        <li>A notice or other communication shall be deemed to have been received by the relevant party: if delivered personally, when left at the Registered Storage Provider’s or your registered office (as the case may be) or otherwise in the address specified in the Contracts; if sent by pre-paid first class post or other next working day delivery service, at 11.00 am on the second Business Day after posting or if sent by e-mail, one Business Day after transmission.</li>
                                        <li>In proving the service of any notice, it will be sufficient to prove, in the case of a letter, that such letter was properly addressed, stamped and placed in the post and, in the case of an e-mail that such e-mail was sent to the specified e-mail address of the addressee.</li>
                                        <li>The provisions of this clause shall not apply to the service of any proceedings or other documents in any legal action.</li>
                                     </ol>
                                 </li>
                                 <li><span class="bold">OTHER IMPORTANT TERMS</span>
                                    <ol>
                                        <li>You and/or the Registered Storage Provider may only transfer your rights or your obligations under these Registered Storage Provider Terms to another person if both you and the Registered Storage Provider agree in writing</li>
                                        <li>1These Registered Storage Provider Terms are between you and the Registered Storage Provider. No other person shall have any rights to enforce any of its terms, whether under the Contracts (Rights of Third Parties) Act 1999 or otherwise.</li>
                                        <li>Nothing in this agreement is intended to, or shall be deemed to, establish any partnership or joint venture between us and the Registered Storage Provider, constitute the Registered Storage Provider as our agent or vice versa, or authorise the Registered Storage Provider to make or enter into any commitments for or on behalf of us.</li>
                                        <li>Each of the paragraphs of these Registered Storage Provider Terms operates separately. If any court or relevant authority decides that any of them are unlawful or unenforceable, the remaining paragraphs will remain in full force and effect.</li>
                                        <li>If the Registered Storage Provider fails to insist that you perform any of your obligations under these Registered Storage Provider Terms or if the Registered Storage Provider does not enforce its rights against you, or if the Registered Storage Provider delays in doing so, that will not mean that the Registered Storage Provider has waived its rights against you and will not mean that you do not have to comply with those obligations. If the Registered Storage Provider does waive a default by you, the  Registered Storage Provider will only do so in writing, and that will not mean that the Registered Storage Provider will automatically waive any later default by you.</li>
                                        <li>Any phrase introduced by the terms including, include, in particular, for example, e.g. or any similar expression, shall be construed as illustrative and shall not limit the sense of the words preceding those terms </li>
                                        <li>These Registered Storage Provider Terms and any dispute or claim arising out of or in connection with them or their subject matter or formation (including non-contractual disputes or claims) shall be governed by and construed in accordance with the law of England and Wales.</li>
                                        <li>You and the Registered Storage Provider irrevocably agree that the courts of England and Wales shall have exclusive jurisdiction to settle any dispute or claim arising out of or in connection with these Registered Storage Provider Terms or their subject matter or formation (including non-contractual disputes or claims).</li>
                                    </ol>
                                 </li>
							</ol>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</section>
	<div class="continue-links footer form-footer">
		<div class="container">
			<a class="button action back" href="/terms-and-conditions">Back to Terms and Conditions</a>
		</div>
	</div>
</main>
<% include ../partials/bottom %>