<% include ../partials/top %> 
<main id="terms-and-conditions">
	<div class="banner row">
		<h1>Terms and conditions between Registered Storage Provider and Zupplychain.</h1>
	</div>
	<section>
		<div class="main">
			<div class="columns twelve">
				<div class="secondary content-box">
			        <a class="button action back" href="/terms-and-conditions">Back to Terms and Conditions</a>
					<fieldset class="main">
						<div class="container">
							<p>This page (together with our <span class="italics">Terms and conditions of supply of services through the Zupplychain website</span>) tells you information about us and the legal terms and conditions (<span class="bold">Terms</span>) on which you are to provide any of the warehousing services(<span class="bold">Services</span>) listed on our website (<span class="bold">our site</span>).</p>
							<p>We provide an online marketplace by which business users with a requirement for warehouse space may obtain such services from you and other third parties but we do not ourselves provide warehouse space. We are not responsible for any arrangements made between you and any customers through our site.</p>
							<p>These Terms will apply to the promotion of any of the Services through our site and any subsequent contracts for the supply of the Services by you (<span class="bold">Contracts</span>). The Terms will be between us and you (<span class="bold">Registered Storage Provider</span>) however you acknowledge that if you choose to accept an order through our site you will accept (save to the extent varied through the order process) those terms applicable to a Registered Storage Provider in the <span class="italics">Terms and conditions of supply of services through the Zupplychain website, the  Terms and conditions of supply of services by registered storage providers to customer</span> or otherwise . Please read these Terms carefully and make sure that you understand them, before agreeing to these terms and/or agreeing to accept any order by a person seeking to order through our site any of the Services offered by you (<span class="bold">Customer</span>).   Please note that you will be asked to agree to these Terms. If you refuse to accept these Terms, you will not be able to supply any Services through our site.</p>
							<p>You should print a copy of these Terms [or save them to your computer] for future reference.</p>
							<p>We amend these Terms from time to time as set out in clause 7. Every time you wish to supply Services, please check these Terms to ensure you understand the terms which will apply at that time. These Terms were most recently updated on December 15th 2015 when we originated the document.</p>
                            <p>These Terms, and any subsequent Contracts, are only in the English language.</p>
							<ol>
								<li><span class="bold">INFORMATION ABOUT US</span>
									<ol>
										<li>www.zupplychain.com is a site operated by Zupplychain Limited ("We"). We are registered in England and Wales under company number 09115643 and have our registered office at Stanmore House 64-68 Blackburn Street Radcliffe Manchester England M26 2JS. Our main trading address is Imperial House, 79-81 Hornby Street, Bury, BL9 5BN. Our VAT number is 214957691.</li>
										<li>We are a limited company.</li>
										<li><span class="bold">Contacting us.</span> You may contact us by telephoning our customer service team at 0161 705 4326 or by e-mailing us at info@zupplychain.com. If you wish to give us formal notice of any matter in accordance with these Terms, please see clause 14.</li>
									</ol>
								</li>
								<li><span class="bold">SERVICES</span>
									<ol>
										<li>You will at all material times act in good faith towards us and will promptly notify us of the amount of warehouse space you wish to make available for offer on our site (breaking this down by the location of the warehouses in question, the type of goods which would be suitable for storage in such available spaces, whether the spaces have any particular features (e.g. refrigerated or frozen) or any particular goods for which they would be unsuitable). If you wish to make available additional services (e.g. logistic services) please notify us and we may note on our site in our discretion that you provide such services but they would be the subject of a separate arrangement between you and a Customer. You shall specify pricing for those Services for inclusion on the Site. Whilst these prices may be varied as part of the order process we would expect you to adhere to them as far as reasonably practicable</li>
										<li>You shall provide us at all material times with such information as we may reasonably require to assist us in procuring orders for the Services you seek to provide to our customers through our site, including marketing information for and details of the Services, and information about you.</li>
										<li>You acknowledge that we will utilise information supplied by you to us in procuring offers for the Services and that you will ensure that any information supplied by or on behalf of you to us is true, complete and accurate in all respects... </li>
										<li>You shall promptly notify us of any information that is on our site or which you have otherwise supplied to us that is incorrect or misleading.</li>
										<li>You shall promptly notify us if you wish to suspend or otherwise cease to perform the Services in whole or in part (without prejudice to the terms of any binding arrangement then already in place).</li>
										<li>You shall provide us at all material times with such information as we may reasonably require to assist us in calculating the amounts due to us from you from time to time including supplying promptly after issue copies of any invoices to a Customer and details of all warehouse related and logistics related revenue including storage, handling and value added services charged or chargeable to a Customer in the 12 months from the date of any order from a Customer.</li>
										<li>Termination of this agreement, howsoever arising, shall not affect the continuation in force of clauses 2.4 and 2.6.</li>
									</ol>
								</li>
								<li><span class="bold">USE OF OUR SITE</span>
									<p>Your use of our site is governed by our <span class="italics">Terms of website use</span> and <span class="italics">Website Acceptable Use Policy.</span> Please take the time to read these, as they include important terms which apply to you.</p>
								</li>
								<li><span class="bold">HOW WE USE YOUR PERSONAL INFORMATION</span>
									<p>We only use your personal information in accordance with our <span class="italics">Privacy Policy</span>. Please take the time to read our <span class="italics">Privacy Policy</span>, as it includes important terms which apply to you.</p>
								</li>
								<li><span class="bold">ENTIRE AGREEMENT</span>
									<ol>
										<li>These Terms and any document expressly referred to in them constitutes the entire agreement between you, and us and supersedes and extinguishes all previous agreements, promises, assurances, warranties, representations and understandings between you and us, whether written or oral, relating to its subject matter.</li>
										<li>You acknowledge that in entering into these Terms and any subsequent Contracts you do not rely on any statement, representation, assurance or warranty (whether made innocently or negligently) that is not set out in these Terms or any document expressly referred to in them.</li>
									</ol>
								</li>
								<li><span class="bold">HOW CONTRACTS ARE FORMED BETWEEN YOU, US AND THE CUSTOMER AND YOU AND THE CUSTOMER</span>
									<ol>
										<li>Where a Customer places an order with us in accordance with our <span class="italics">Terms and conditions of supply of services through the Zupplychain website</span> that relates to Services offered by you or on your behalf we will send an e-mail to you with details of that order. As soon as reasonably practicable and in any event within 48 hours of that email (and in respect thereof time shall be of the essence) you shall either confirm your acceptance of that order to us or decline that order or decline that order in part (in the latter cases specifying the reasons for such decline). If in your opinion, the Customer’s order necessitates changes to the <span class="italics">Terms and conditions of supply of services by registered storage providers to customer</span>, further terms and conditions (<span class="bold">Supplemental Terms</span>) may be notified to the Customer by you for acceptance by the Customer as part of the process to conclude contracts and in any response you must notify us of any Supplemental Terms you wish to notify to the Customer.</li>
										<li>If you do not reply to our email within the timescale specified you shall be deemed to have declined the order. You acknowledge that any acceptance of an order will be on the basis of the <span class="italics">Terms and conditions of supply of services through the Zupplychain website</span>, the <span class="italics">Terms and conditions of supply of services by registered storage providers to customer</span> and any Supplemental Terms and you agree to such terms and to be bound by the terms set out therein which are for the Registered Storage Provider to fulfil.</li>
									</ol>
								</li>
								<li><span class="bold">OUR RIGHT TO VARY THESE TERMS</span>
									<ol>
										<li>We amend these Terms from time to time. Please look at the top of this page to see when these Terms were last updated and which Terms were changed.</li>
										<li>Every time you offer Services through our site, the Terms in force at the time of the Customer’s order will apply between you and us and the <span class="italics">Terms and conditions of supply of services through the Zupplychain website</span> in force at the time of the Customer’s order will apply to the Contract between you, us and the Customer and the <span class="italics">Terms and conditions of supply of services by registered storage providers to customer</span> in force at the time of the Customer’s order together with any Supplementary Terms accepted by the Customer will apply to the Contract(s) between you and the Customer.</li>
									</ol>
								</li>
                                <li><span class="bold">YOUR OBLIGATIONS</span>
                                    <ol>
                                        <li>You shall keep us indemnified against all liabilities, costs, expenses, damages and losses (including but not limited to any direct, indirect or consequential losses, loss of profit, loss of reputation and all interest, penalties and legal costs (calculated on a full indemnity basis) and all other professional costs and expenses) suffered or incurred by us as a result of or in connection with any claim made against us by any person arising out of, or in connection with, any breach of clause 2 and/or the supply of the Services, to the extent that such claim arises out of the breach, negligence or failure or delay in performance of the Terms and/or any Contract(s) by you, your employees, agents or subcontractors.</li>
                                        <li>You shall ensure that at all material times any goods of the Customer are identifiable and traceable and you agree to attach unique barcodes or reference numbers to each pallet of any such goods in a form specified by us and to ensure that at all material times during the performance of the Services such barcodes remain attached or are promptly replaced.</li>
                                    </ol>
                                <li><span class="bold">CHARGES AND PAYMENT</span>
                                    <ol>
                                        <li>Currently we provide our services free of charge to you but we reserve the right to move to a charging model in due course for which we will give not less than 30 days notice. The charges payable by you for the offer of the Services through our site and for our commission on any subsequent contracts for the Services (<span class="bold">Charges</span>) shall be as specified by us to you from time to time before. Where a Customer contracts with you direct for any warehousing and/or other logistics services after the date of its order (other than through our site) for services to be provided by you then you agree that we may charge you an introduction fee equal to 5% of the total warehouse related and logistics related revenue including storage, handling and value added services in the 12 months from the date of the order</li>
                                        <li>You shall be invoiced by us weekly in advance in respect of the Services to be provided by you and any other amount due under the Terms. If in a Confirmation you have agreed a different invoice period with a customer we may adopt that period in our discretion and invoice you accordingly. Any invoice will be based on information available to us and will represent our expectation of amounts chargeable by you to a Customer and will not take in account any rebates or credits or other abatements or payments you may choose to make in favour of a Customer. We reserve the right to issue further invoices if information becomes available to us that any of our invoices were incorrect in any respect.</li>
                                        <li>You shall pay each invoice submitted by us to you:
                                            <ol>
                                                <li>Promptly on receipt of an invoice from us and in any event within 14 days of receipt; and</li>
                                                <li>in full and in cleared funds to a bank account nominated in writing by us, and</li>
                                                <li>time for payment shall be of the essence.</li>
                                             </ol>
                                         If requested in writing by us you shall provide to us such details and provide to us such authorisations (including signatures and details of bank account, credit cards and/or Card Verification Value number) as we may require to enable payment of any invoice to be made by you by way of direct debit, standing order, credit card and other payment forthwith upon production of an invoice.</li>
                                         <li>All amounts payable by you to us are exclusive of amounts in respect of value added tax chargeable for the time being (<span class="bold">VAT</span>). Where any taxable supply for VAT purposes is made you shall, subject to provision of a VAT invoice from us, pay to us such additional amounts in respect of VAT as are chargeable at the same time as payment is due for the Charges.</li>
                                         <li>If you fail to make any payment due by the due date for payment, then you shall pay interest on the overdue amount at the rate of 4% per cent per annum above Barclays Bank PLC's base rate from time to time. Such interest shall accrue on a daily basis from the due date until actual payment of the overdue amount, whether before or after judgment. You shall pay the interest together with the overdue amount.</li>
                                         <li>You shall pay all amounts due in full without any set-off, counterclaim, deduction or withholding (except for any deduction or withholding required by law). We may at any time, without limiting any other rights or remedies, set off any amount owing to us by you against any amount payable by us to you.</li>
                                         <li>Termination of this agreement, howsoever arising, shall not affect the continuation in force of this clause 9 and your obligation to pay the Charges and any other sums due to us in accordance with it.</li>
                                         <li>If any dispute arises as to the amount of any Charges or other amount payable by you to us, the same shall be referred to our auditors (acting as expert and not as arbitrator) for settlement and their decision, save in the case of manifest error, shall be final and binding on both parties. The costs of the auditor shall be borne equally between us and you.</li>
                                     </ol>
                                 </li>
                                 <li><span class="bold">OUR LIABILITY TO YOU</span>
                                    <ol>
                                        <li>Nothing in these Terms limits or excludes our liability for:
                                            <ol>
                                                <li>death or personal injury caused by our negligence or the negligence of our employees, agents or subcontractors;</li>
                                                <li>our fraud or fraudulent misrepresentation;</li>
                                                <li>breach of the terms implied by section 2 of the Supply of Goods and Services Act 1982 (title and quiet possession).</li>
                                            </ol>
                                        </li>
                                        <li>Subject to <span class="italics">clause 10.1</span>, we will under no circumstances whatever be liable to you, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, arising under or in connection with these Terms and/or any Contract for:
                                            <ol>
                                                <li>any loss of profits, sales, business, or revenue;</li>
                                                <li>loss or corruption of data, information or software;</li>
                                                <li>loss of business opportunity;</li>
                                                <li>loss of anticipated savings;</li>
                                                <li>loss of goodwill;</li>
                                                <li>any indirect or consequential loss; or</li>
                                                <li>any loss damage, costs or expenses incurred as a result of or in connection with any claim made against us by any person arising out of, or in connection with, the provision of the services supplied or to be supplied by us under these Terms and/or any Contract, to the extent that such claim arises out of the breach, negligence or failure or delay in performance of these Terms and/or Contract by you, your employees, agents or subcontractors.</li>
                                            </ol>
                                        </li>
                                        <li>Subject to <span class="italics">clause 10.1</span> our total liability to you in respect of all losses arising under or in connection with these terms and/or any Contract, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, shall in no circumstances exceed the aggregate amount of Charges and any introduction fees made by us to you in the 12 month period preceding any claim.</li>
                                        <li>The terms implied by sections 3 to 5 of the Supply of Goods and Services Act 1982 are, to the fullest extent permitted by law, excluded from these Terms and the Contract.</li>
                                        <li>We shall in any event be discharged from all liability whatsoever and howsoever arising in respect of these terms and/or any Contracts unless notice in writing in respect of any claim and proceedings are issued and served on us within twelve calendar months of the date when the services supplied by you under these terms and/or any Contracts were performed or should ordinarily have been performed.</li>
                                        <li>This clause 10 shall survive termination of these Terms and any Contract.</li>
                                    </ol>
                                 </li>
                                 <li><span class="bold">TERMINATION</span>
                                     <ol>
                                         <li>Without limiting our or your other rights or remedies, we may terminate these Terms and/or any Contract with immediate effect by giving written notice to you if:
                                             <ol>
                                                 <li>you commit a material breach of any term of these Terms or any Contract and (if such a breach is remediable) fail to remedy that breach within 7 days of that party being notified in writing to do so;</li>
                                                 <li>you suspend, or threatens to suspend, payment of your debts or are unable to pay your debts as they fall due or admits inability to pay your debts or (being a company or limited liability partnership) are deemed unable to pay your debts within the meaning of section 123 of the Insolvency Act 1986 or (being an individual) are deemed either unable to pay your debts or as having no reasonable prospect of so doing, in either case, within the meaning of section 268 of the Insolvency Act 1986 or (being a partnership) has any partner to whom any of the foregoing apply;</li>
                                                 <li>you commence negotiations with all or any class of your creditors with a view to rescheduling any of your debts, or you make a proposal for or enters into any compromise or arrangement with your creditors other than (where a company) for the sole purpose of a scheme for a solvent amalgamation of that other party with one or more other companies or the solvent reconstruction of that other party;</li>
                                                 <li>a petition is filed, a notice is given, a resolution is passed, or an order is made, for or in connection with your winding up (being a company) other than for the sole purpose of a scheme for a solvent amalgamation with one or more other companies or your solvent reconstruction of that other party;</li>
                                                 <li>you (being an individual) are the subject of a bankruptcy petition or order;</li>
                                                 <li>a creditor or encumbrancer of yours attaches or takes possession of, or a distress, execution, sequestration or other such process is levied or enforced on or sued against, the whole or any part of your assets and such attachment or process is not discharged within 14 days;</li>
                                                 <li>an application is made to court, or an order is made, for the appointment of an administrator or if a notice of intention to appoint an administrator is given or if an administrator is appointed over you (being a company);</li>
                                                 <li>the holder of a qualifying floating charge over your assets (being a company) has become entitled to appoint or has appointed an administrative receiver;</li>
                                                 <li>a person becomes entitled to appoint a receiver over your assets or a receiver is appointed over your assets;</li>
                                                 <li>any event occurs or proceeding is taken with respect to you in any jurisdiction to which you are subject that has an effect equivalent or similar to any of the events mentioned in clause 11.1(b) to clause 11.1(i) (inclusive);</li>
                                                 <li>you suspend or cease, or threaten to suspend or cease, to carry on all or a substantial part of your business;</li>
                                                 <li>your financial position deteriorates to such an extent that in our opinion your capability to adequately fulfil your obligations under the Terms and/or any Contracts has been placed in jeopardy; or</li>
                                                 <li>you (being an individual) die or, by reason of illness or incapacity (whether mental or physical), are incapable of managing your own affairs or become a patient under any mental health legislation.</li>
                                             </ol>
                                         </li>
                                         <li>Without limiting our or your other rights or remedies, we may terminate the Contract with immediate effect by giving written notice to you if you fail to pay any amount due under these Terms and/or any Contract on the due date for payment and fails to pay all outstanding amounts within 7 days after being notified in writing to do so.</li>
                                         <li>Without limiting our other rights or remedies, we may suspend provision of promotion of any of the Services offered for provision by you through our site under these terms or any other contract between you and us if you become subject to any of the events listed in clause 11.1(b) to clause 11.1(m), or we reasonably believe that you are about to become subject to any of them, or if you fail to pay any amount due under these Terms or any Contract on the due date for payment or you fail to remedy a material breach in accordance with clause 11.1(a) to our satisfaction.</li>
                                         <li>Without limiting our or your other rights or remedies, either of us may cancel the contractual arrangements in these Terms by no less than 30 days notice in writing of termination without prejudice to any Charges or introduction fees due or to become due in respect of Contracts already entered into or orders already made or additional warehouse related and logistics related revenue in the 12 months following completion of any such Contracts or orders.</li>
                                     </ol>
                                 </li>
                                 <li><span class="bold">CONSEQUENCES OF TERMINATION</span>
                                    <ol>
                                        <li>On termination of these Terms or any Contract for any reason:
                                            <ol>
                                                <li>you shall immediately pay to us all of our respective outstanding unpaid invoices and interest and all amounts that should in the ordinary course fall due in Charges on the Services yet to be provided under the Contracts to the contractual date of conclusion;</li>
                                                <li>the accrued rights, remedies, obligations and liabilities of the parties as at expiry or termination shall be unaffected, including the right to claim damages in respect of any breach of these Terms and any  Contract which existed at or before the date of termination or expiry; and</li>
                                                <li>clauses which expressly or by implication survive termination shall continue in full force and effect.</li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                                <li><span class="bold">EVENTS OUTSIDE OUR CONTROL</span>
                                    <ol> 
                                        <li>We will not be liable or responsible for any failure to perform, or delay in performance of, any of our obligations under these Terms or any Contract that is caused by an Event Outside Our Control. An Event Outside Our Control is defined below in <span class="italics">clause 13.2</span>.</li>
                                        <li>An <span class="bold">Event Outside Our Control</span> means any act or event beyond our reasonable control, including without limitation strikes, lock-outs or other industrial action by third parties, civil commotion, riot, invasion, terrorist attack or threat of terrorist attack, war (whether declared or not) or threat or preparation for war, fire, explosion, storm, flood, earthquake, subsidence, epidemic or other natural disaster, or failure of public or private telecommunications networks or impossibility of the use of railways, shipping, aircraft, motor transport or other means of public or private transport.</li>
                                        <li>If an Event Outside Our Control takes place that affects the performance of our obligations under these Terms and/or any Contract:
                                            <ol>
                                                <li>we will contact you as soon as reasonably possible to notify you; and</li>
                                                <li>our obligations under these Terms and any relevant Contract will be suspended and the time for performance of our respective obligations will be extended for the duration of the Event Outside Our Control.</li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                                <li><span class="bold">COMMUNICATIONS BETWEEN US</span>
                                    <ol>
                                        <li>When we refer, in these Terms, to "in writing", this will include e-mail.</li>
                                        <li>Any notice or other communication given by you to us, or by us to you, under or in connection with these Terms or any Contract shall be in writing and shall be delivered personally, sent by pre-paid first class post or other next working day delivery service or e-mail.</li>
                                        <li>A notice or other communication shall be deemed to have been received: if delivered personally, when left at our registered office; if sent by pre-paid first class post or other next working day delivery service, at 9.00 am on the[second Business Day after posting or if sent by e-mail, one Business Day after transmission.</li>
                                        <li>In proving the service of any notice, it will be sufficient to prove, in the case of a letter, that such letter was properly addressed, stamped and placed in the post and, in the case of an e-mail that such e-mail was sent to the specified e-mail address of the addressee.</li>
                                        <li>The provisions of this clause shall not apply to the service of any proceedings or other documents in any legal action.</li>
                                    </ol>
                                </li>
                                <li><span class="bold">OTHER IMPORTANT TERMS</span>
                                    <ol>
                                        <li>We may transfer our rights and obligations under these terms and/or any Contract to another organisation, but this will not affect your rights or our obligations under these Terms and/or any Contract. We will always notify you in writing or by posting on this webpage if this happens.</li>
                                        <li>You may only transfer your rights or your obligations under these Terms and/or any Contract to another person if we agree in writing.</li>
                                        <li>These Terms are between you, and us and any Contract may be between you, us and a Customer or between you and a Customer. No other person (other than a Customer under the <span class="italics">Terms and conditions of supply of services through the Zupplychain website</span>)or <span class="italics">Terms and conditions of supply of services by registered storage providers to customer</span>) shall have any rights to enforce any of its terms, whether under the Contracts (Rights of Third Parties) Act 1999 or otherwise.</li>
                                        <li>Nothing in this agreement is intended to, or shall be deemed to, establish any partnership or joint venture between us and you, constitute you as our agent, or authorise you to make or enter into any commitments for or on behalf of us</li>
                                        <li>Each of the paragraphs of these Terms operates separately. If any court or relevant authority decides that any of them are unlawful or unenforceable, the remaining paragraphs will remain in full force and effect.</li> 
                                        <li>If we fail to insist that you perform any of your obligations under these Terms, or if we do not enforce our rights against you, or if we delay in doing so, that will not mean that we have waived our rights against you and will not mean that you do not have to comply with those obligations. If we do waive a default by you, we will only do so in writing, and that will not mean that we will automatically waive any later default by you.</li>
                                        <li>Any phrase introduced by the terms <span class="bold">including, include, in particular, for example, e.g.</span> or any similar expression, shall be construed as illustrative and shall not limit the sense of the words preceding those terms</li>
                                        <li>These terms, any Contract and any dispute or claim arising out of or in connection with it or its subject matter or formation (including non-contractual disputes or claims) shall be governed by and construed in accordance with the law of England and Wales.</li>
                                        <li>We and you irrevocably agree that the courts of England and Wales shall have exclusive jurisdiction to settle any dispute or claim arising out of or in connection with these terms and any Contract or its subject matter or formation (including non-contractual disputes or claims).</li>
                                    </ol>
                                </li>
							</ol>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</section>
	<div class="continue-links footer form-footer">
		<div class="container">
			<a class="button action back" href="/terms-and-conditions">Back to Terms and Conditions</a>
		</div>
	</div>
</main>
<% include ../partials/bottom %>