<% include ../partials/top %> 
<main id="terms-and-conditions-landing">
	<div class="banner row">
		<h1>Terms and Conditions</h1>
	</div>
	<section>
		<div class="main">
			<div class="colums twelve">
				<div class="secondary content-box">
					<fieldset class="main">
						<div class="container">
							<table id="documents">
								<thead>
									<tr>
										<th>Name</th>
										<th>Preview</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td data-field="Name"><a href="/terms-and-conditions/t-and-c-sp-zc">Terms and Conditions Between Registered Storage Providers and Zupplychain</a></td>
										<td data-field="preview">A Preview......</td>
									</tr>
									<tr>
										<td data-field="Name"><a href="/terms-and-conditions/terms-of-service">Terms of Supply of Services through the Zupplychain Website</a></td>
										<td data-field="preview">A Preview......</td>
									</tr>
									<tr>
										<td data-field="Name"><a href="/terms-and-conditions/t-and-c-sp-c">Terms and Conditions of Supply of Services by Registered Storage Providers to Customer</a></td>
										<td data-field="preview">A Preview......</td>
									</tr>
									<tr>
										<td data-field="Name"><a href="/terms-and-conditions/terms-of-use">Terms of Website Use</a></td>
										<td data-field="preview">A Preview......</td>
									</tr>
									<tr>
										<td data-field="Name"><a href="/terms-and-conditions/acceptable-user-policy">Acceptable Use Policy</a></td>
										<td data-field="preview">A Preview......</td>
									</tr>
									<tr>
										<td data-field="Name"><a href="/terms-and-conditions/cookie-policy">Cookie Policy</a></td>
										<td data-field="preview">A Preview......</td>
									</tr>
									<tr>
										<td data-field="Name"><a href="/terms-and-conditions/privacy-policy">Privacy Policy</a></td>
										<td data-field="preview">A Preview......</td>
									</tr>
								</tbody>
							</table>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</section>
	<div class="continue-links footer form-footer">
		<div class="container">
			<a href="/terms-and-conditions" class="button simple tandc">View Terms and Conditions</a>
			<a class="button action back" href="/dashboard">Back to Dashboard</a>
		</div>
	</div>
</main>
<% include ../partials/bottom %>