<% include ../partials/top %> 
<main id="terms-and-conditions">
	<div class="banner row">
		<h1>Terms of website use</h1>
	</div>
	<section>
		<div class="main">
			<div class="columns twelve">
				<div class="secondary content-box">
					<a class="button action back" href="/terms-and-conditions">Back to Terms and Conditions</a>
					<fieldset class="main">
						<div class="container">
                            <h2>PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY BEFORE USING THIS SITE</h2>
							<p class="heading">TERMS OF WEBSITE USE</p>
							<p>This terms of use (together with the documents referred to in it) tells you the terms of use on which you may make use of our website, www.zupplychain.com (<span class="bold">our site or Zupplychain website</span>), whether as a guest or a customer and/or registered storage provider. Use of our site includes accessing, browsing, or registering to use our site (whether for the purposes of seeking services to be provided to you by registered storage providers, seeking to provide services to customers or otherwise).</p>
							<p>Please read these terms of use carefully before you start to use our site, as these will apply to your use of our site. We recommend that you print a copy of this for future reference.</p>
							<p>By using our site, you confirm that you accept these terms of use and that you agree to comply with them.</p>
							<p>If you do not agree to these terms of use, you must not use our site.</p>
							<p class="heading">OTHER APPLICABLE TERMS</p>
							<p>These terms of use refer to the following additional terms, which also apply to your use of our site:</p>
							<ul>
                                <li>Our <span class="italics">Privacy Policy</span>, which sets out the terms on which we process any personal data we collect from you, or that you provide to us. By using our site, you consent to such processing and you warrant that all data provided by you is accurate.</li>
                                <li>Our <span class="italics">Acceptable Use Policy</span>, which sets out the permitted uses and prohibited uses of our site. When using our site, you must comply with this Acceptable Use Policy.</li>
                                <li>Our <span class="italics">Cookie Policy</span>, which sets out information about the cookies on our site.</li>
							</ul>
                            <p>If you wish to supply warehouse space through our site you must become a registered storage provider and our <span class="italics">Terms and conditions of supply of services through the Zupplychain website</span> and <span class="italics">Terms and conditions between registered storage provider and Zupplychain</span> will apply. A copy of these terms and conditions will be made available for access by those applying to become registered storage providers in the course of the registration process and to those who have become registered storage providers whilst they remain so registered.</p>
                            <p>If you offer to contract for the supply of warehouse space to you through our site you must register as a customer and, our <span class="italics">Terms and conditions of supply of services by registered storage providers to customer</span> will apply. A copy of these terms and conditions will be made available for access by customers once the registration process has been successfully concluded.</p>
                            <p>In both cases if an offer is made by a customer for services to be provided by a registered storage provider which leads to the provision of services by or on behalf of or arranged by a registered storage provider then the <span class="italics">Terms and conditions of supply of services by registered storage providers to customer</span> will apply. A copy of these terms and conditions will be made available for access by customers and registered storage providers once the registration process has been successfully concluded. In addition, if the services to be provided extend beyond the supply of warehouse space (e.g. logistic services) or the requirements of the customer necessitate changes to the <span class="italics">Terms and conditions of supply of services by registered storage providers to customer</span>, further terms and conditions (<span class="italics">Supplemental Terms</span>) may be notified to the customer by the registered storage provider for acceptance as part of the process to conclude a contract.</p>
                            <p>Attention is drawn in particular to the exclusions and limitations of liability contained in the <span class="italics">Terms and conditions between registered storage provider and Zupplychain (for a registered storage provider only)</span> and <span class="italics">Terms and conditions of supply of services through the Zupplychain website</span>. Attention is also drawn to the exclusions and limitations of liability contained in the <span class="italics">Terms and conditions of supply of services by registered storage providers to customer</span>  which is a separate contract between a customer and a registered storage provider and any <span class="italics">Supplemental Terms</span>.</p>
							<p class="heading">INFORMATION ABOUT US</p>
							<p>www.zupplychain.com is a site operated by Zupplychain Limited ("We"). We are registered in England and Wales under company number 09115643 and have our registered office at Stanmore House 64-68 Blackburn Street Radcliffe Manchester England M26 2JS. Our main trading address is Imperial House, 79-81 Hornby Street, Bury, BL9 5BN. Our VAT number is 214957691.</p>
							<p>We are a limited company.</p>
							<p>We provide an online marketplace by which business customers with a requirement for warehouse space may obtain such services from third parties but we do not ourselves provide warehouse space. We are not responsible for any arrangements made between customers of or registered storage providers through our site.  Registered storage providers through our site may offer additional services (e.g. logistics) to customers but any such services are the subject of direct agreement between a customer and registered storage provider and we shall not be responsible for any such services in any manner whatsoever.</p>
							<p class="heading">CHANGES TO THESE TERMS</p>
							<p>We may revise these terms of use at any time by amending this page.</p>
							<p>Please check this page from time to time to take notice of any changes we made, as they are binding on you.</p>
							<p class="heading">CHANGES TO OUR SITE</p>
							<p>We may update our site from time to time, and may change the content at any time. However, please note that any of the content on our site may be out of date at any given time, and we are under no obligation to update it.</p>
                            <p>We do not guarantee that our site, or any content on it, will be free from errors or omissions.</p>
                            <p class="heading">ACCESSING OUR SITE</p>
                            <p>Our site is made available free of charge and is for customers and registered providers acting in the course of a trade or business. Our site is not for use by those who may be consumers. .</p>
                            <p>We do not guarantee that our site, or any content on it, will always be available or be uninterrupted. Access to our site is permitted on a temporary basis. We may suspend, withdraw, discontinue or change all or any part of our site without notice. We will not be liable to you if for any reason our site is unavailable at any time or for any period.</p>
                            <p>You are responsible for making all arrangements necessary for you to have access to our site.</p>
                            <p>You are also responsible for ensuring that all persons who access our site through your internet connection are aware of these terms of use and other applicable terms and conditions, and that they comply with them.</p>
                            <p>To fully utilise the services of our site you will be required to become registered as a customer and/or registered storage provider as the case may be.</p>
                            <p class="heading">YOUR ACCOUNT AND PASSWORD</p>
                            <p>You must submit a completed registration form (in the form required by us from time to time) to us together with any supporting documentation required by us to create an account and become a customer and/or registered storage provider (as the case may be). We may refuse your application to create an account in our absolute discretion. If you choose, or you are provided with, a customer and/or registered storage provider identification code, password or any other piece of information as part of our security procedures, you must treat such information as confidential. You must not disclose it to any third party.</p>
                            <p>You warrant that the information you provide to us is accurate and complete and agree to provide to us such information as we may reasonably require in verifying and/or updating the information that you have provided from time to time. We may refuse use of our site in our absolute discretion. We have the right to disable any customer and/or registered storage provider identification code or password, whether chosen by you or allocated by us, at any time, if in our reasonable opinion you have failed to comply with any of the provisions of these terms of use or we believe that the account has been abandoned or otherwise unused for a period of time being not less than 12 months.. On request from you we may disable your account or identification code or password. Disabling an account or identification code or password is without prejudice to and contracts you may have entered into prior to such disabling occurring.</p>
                            <p>If you know or suspect that anyone other than you knows your user identification code or password, you must promptly notify us at info@zupplychain.com.</p>
                            <p class="heading">INTELLECTUAL PROPERTY RIGHTS</p>
                            <p>We are the owner or the licensee of all intellectual property rights in our site, and in the material published on it.  Those works are protected by copyright laws and treaties around the world. All such rights are reserved.</p>
                            <p>You may print off one copy, and may download extracts, of any page(s) from our site for your personal use and you may draw the attention of others within your organisation to content posted on our site.</p>
                            <p>You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text.</p>
                            <p>Our status (and that of any identified contributors) as the authors of content on our site must always be acknowledged.</p>
                            <p>You must not use any part of the content on our site for commercial purposes without obtaining a licence to do so from us or our licensors.</p>
                            <p>If you print off, copy or download any part of our site in breach of these terms of use, your right to use our site will cease immediately and you must, at our option, return or destroy any copies of the materials you have made.</p>
                            <p class="heading">NO RELIANCE ON INFORMATION</p>
                            <p>The content on our site is provided for general information only. You acknowledge that we do not ourselves provide warehouse space and we rely on information provided to us by those who wish to provide such services through our site.  It is not intended to amount to advice on which you should rely. You must obtain professional or specialist advice before taking, or refraining from, any action on the basis of the content on our site.</p>
                            <p>Although we make reasonable efforts to update the information on our site, we make no representations, warranties or guarantees, whether express or implied, that the content on our site is accurate, complete or up-to-date.</p>
                            <p class="heading">LIMITATION OF OUR LIABILITY</p>
                            <p>Nothing in these terms of use excludes or limits our liability for death or personal injury arising from our negligence, or our fraud or fraudulent misrepresentation, or any other liability that cannot be excluded or limited by English law.</p>
                            <p>To the extent permitted by law, we exclude all conditions, warranties, representations or other terms which may apply to our site or any content on it, whether express or implied.</p>
                            <p>We will not be liable to any user for any loss or damage, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, even if foreseeable, arising under or in connection with:</p>
                            <ul>
                                <li>use of, or inability to use, our site;</li>
                                <li>use of or reliance on any content displayed on or communicated through our site; or</li>
                            </ul>
                            <p>Please note that in particular, we will not be liable for:</p>
                            <ul>
                                <li>loss of profits, sales, business, or revenue;</li>
                                <li>business interruption;</li>
                                <li>loss of anticipated savings;</li>
                                <li>loss of business opportunity, goodwill or reputation; or</li>
                                <li>any indirect or consequential loss or damage.</li>
                            </ul>
                            <p>We will not be liable for any loss or damage caused by a virus, distributed denial-of-service attack, or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of our site or to your downloading of any content on it, or on any website linked to it.</p>
                            <p>We assume no responsibility for the content of websites linked on our site. Such links should not be interpreted as endorsement by us of those linked websites. We will not be liable for any loss or damage that may arise from your use of them.</p>
                            <p>We are not responsible for any arrangements made between customers and registered storage providers whether through or otherwise utilising our site or otherwise.</p>
                            <p>Attention is drawn in particular to the exclusions and limitations of liability contained in the <span class="italics">Terms and conditions between registered storage provider and  Zupplychain (for a registered storage provider only)</span> and <span class="italics">Terms and conditions of supply of services through the Zupplychain website</span>. Those exclusions and limitations may be different to those set out in these terms and conditions. Attention is also drawn to the exclusions and limitations of liability contained in the <span class="italics">Terms and conditions of supply of services by registered storage provider to customer</span> which is a separate contract between a customer and a registered storage provider and any <span class="italics">Supplemental Terms</span>. Whenever you make use of a feature that allows you to upload content to our site, or to make contact with other customers of or registered storage providers through our site, you must comply with the content standards set out in our <span class="italics">Acceptable Use Policy</span>.</p>
                            <p>You warrant that any such contribution does comply with those standards, and you will be liable to us and indemnify us for any breach of that warranty.</p>
                            <p>Any content you upload to our site will be considered non-confidential and non-proprietary. You retain all of your ownership rights in your content, but you are required to grant us and other customers of or registered storage providers or guests to the Site a limited licence to use, store and copy that content and to distribute and make it available to third parties. The rights you licence to us are described in the next paragraph (Rights you licence).</p>
                            <p>We also have the right to disclose your identity to any third party who is claiming that any content posted or uploaded by you to our site constitutes a violation of their intellectual property rights, or of their right to privacy.</p>
                            <p>We will not be responsible, or liable to any third party, for the content or accuracy of any content posted by you or any other user of or provider through our site.</p>
                            <p>We have the right to remove any posting you make on our site if, in our opinion, your post does not comply with the content standards set out in our <span class="italics">Acceptable Use Policy</span>.</p>
                            <p>The views expressed by guests, other customers or registered storage providers on our site do not represent our views or values.</p>
                            <p class="heading">RIGHTS YOU LICENCE</p>
                            <p>When you upload or post content to our site, you grant the following licenses:</p>
                            <ul>
                                <li>a perpetual, worldwide, non-exclusive, royalty-free, transferable licence to us to use, reproduce, distribute, prepare derivative works of, display, and perform user and provider generated content in connection with the promotion of our site and its services and the services provided by us or through our site.</li>
                                <li>a perpetual, worldwide, non-exclusive, royalty-free, transferable licence to customers and/or registered storage providers of our site to use, reproduce, distribute, prepare derivative works of, display, and perform user and provider generated content in connection with the services provided by or through our site.</li>
                            </ul>
                            <p class="heading">VIRUSES</p>
                            <p>We do not guarantee that our site will be secure or free from bugs or viruses.</p>
                            <p>You are responsible for configuring your information technology, computer programmes and platform in order to access our site. You should use your own virus protection software.</p>
                            <p>You must not misuse our site by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to our site, the server on which our site is stored or any server, computer or database connected to our site. You must not attack our site via a denial-of-service attack or a distributed denial-of service attack. By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use our site will cease immediately.</p>
                            <p class="heading">LINKING TO OUR SITE</p>
                            <p>You may link to our home page, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it.</p>
                            <p>You must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists.</p>
                            <p>You must not establish a link to our site in any website that is not owned by you.</p>
                            <p>Our site must not be framed on any other site, nor may you create a link to any part of our site other than the home page.</p>
                            <p>We reserve the right to withdraw linking permission without notice.</p>
                            <p>The website in which you are linking must comply in all respects with the content standards set out in our <span class="italics">Acceptable Use Policy</span>.</p>
                            <p>If you wish to make any use of content on our site other than that set out above, please contact info@zupplychain.com.</p>
                            <p class="heading">THIRD PARTY LINKS AND RESOURCES IN OUR SITE</p>
                            <p>Where our site contains links to other sites and resources provided by third parties, these links are provided for your information only.</p>
                            <p>We have no control over the contents of those sites or resources.</p>
                            <p class="heading">APPLICABLE LAW</p>
                            <p>These terms of use, its subject matter and its formation (and any non-contractual disputes or claims) are governed by English law. We both agree to the exclusive jurisdiction of the courts of England and Wales.</p>
                            <p class="heading">TRADE MARKS</p>
                            <p>The "ZUPPLYCHAIN LOGO"] is a pending European registered trademark of Zupplychain Limited.</p>
                            <p class="heading">CONTACT US</p>
                            <p>To contact us, please email info@zupplychain.</p>
                            <p>Thank you for visiting our site.</p>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</section>
	<div class="continue-links footer form-footer">
		<div class="container">
            <a class="button action back" href="/terms-and-conditions">Back to Terms and Conditions</a>
		</div>
	</div>
</main>
<% include ../partials/bottom %>