<table class="simple">
	<thead>
		<tr>
			<th class="corner"></th>
			<th>Registration</th>
			<th>Add a Warehouse</th>
			<th>Set and Amend Contacts</th>
			<th>Set and Amend Warehouse Details</th>
			<th>Set and Amend Pricing</th>
			<th>Set and Amend Availability</th>
			<th>Respond to Enquiries</th>
			<th>See all Messages</th>
			<th>See your Own Messages</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="table-header">Master Contacts</td>
			<td class="authorised"></td>
			<td class="authorised"></td>
			<td class="authorised"></td>
			<td class="authorised"></td>
			<td class="authorised"></td>
			<td class="authorised"></td>
			<td></td>
			<td class="authorised"></td>
			<td class="authorised"></td>
		</tr>
		<tr>
			<td class="table-header">Availability Contacts</td>
			<td></td>
			<td></td>
			<td class="authorised"></td>
			<td class="authorised"></td>
			<td></td>
			<td class="authorised"></td>
			<td></td>
			<td class="authorised"></td>
			<td class="authorised"></td>
		</tr>
		<tr>
			<td class="table-header">Enquires Contacts</td>
			<td></td>
			<td></td>
			<td class="authorised"></td>
			<td class="authorised"></td>
			<td></td>
			<td class="authorised"></td>
			<td class="authorised"></td>
			<td class="authorised"></td>
			<td class="authorised"></td>
		</tr>
		<tr>
			<td class="table-header">Transport Cordinator</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="authorised"></td>
		</tr>
		<tr>
			<td class="table-header">Goods In</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="authorised"></td>
		</tr>
		<tr>
			<td class="table-header">Picking and Dispatch</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="authorised"></td>
		</tr>
		<tr>
			<td class="table-header">Invoice Contact</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="authorised"></td>
		</tr>
		<tr>
			<td class="table-header">Credit Contact</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="authorised"></td>
		</tr>
	</tbody>
</table>