<tr data-status="new" data-empty="true">
	<td>1<span>st<span>*</td>
	<td data-field="name"><input type="text" name="name"/></td>
	<td data-field="email"><input type="email" name="email"/></td>
	<td data-field="phone-number"><input type="tel" name="phone-number"/></td>
	<td data-field="dashboard-access"><input type="checkbox" name="dashboard-access"></td>
	<td data-field="register-status"><div class="registered-status pending"></div></td>
	<td data-field="resend-email"></td>
</tr>