<tr data-status="new" data-empty="true">
	<td>1<span>st<span>*</td>
	<td data-field="name" class="input-field no-success-validation-style"><%if(authorisations.contacts.warehouseContacts.edit===true){%><input required type="text" name="name"/><%}%>
		<ul class="contacts-suggestions hidden" data-action="suggestions-dropdown">
		</ul>
	</td>
	<td data-field="email" class="input-field no-success-validation-style"><%if(authorisations.contacts.warehouseContacts.edit===true){%><input required type="email" name="email"/><%}%></td>
	<td data-field="phone-number" class="input-field no-success-validation-style"><%if(authorisations.contacts.warehouseContacts.edit===true){%><input type="tel" name="phone-number"/><%}%></td>
	<td data-field="register-status"></td>
	<td data-field="clear" class="input-field no-success-validation-style"><button name="clear" class="button action mini hidden" data-disabled-on-ajax="true">Clear</button></td>
	<%if(authorisations.contacts.warehouseContacts.edit===true && page !== 'contact-setup-walkthrough'){%><td data-field="delete"></td><%}%>
	<%if(authorisations.contacts.warehouseContacts.edit===true && page !== 'contact-setup-walkthrough'){%><td data-field="resend-email"></td><%}%>
</tr>
<tr data-status="new" data-empty="true">
	<td>2<span>nd<span>*</td>
	<td data-field="name" class="input-field no-success-validation-style"><%if(authorisations.contacts.warehouseContacts.edit===true){%><input required type="text" name="name"/><%}%>
		<ul class="contacts-suggestions hidden" data-action="suggestions-dropdown">
		</ul>
	</td>
	<td data-field="email" class="input-field no-success-validation-style"><%if(authorisations.contacts.warehouseContacts.edit===true){%><input required type="email" name="email"/><%}%></td>
	<td data-field="phone-number" class="input-field no-success-validation-style"><%if(authorisations.contacts.warehouseContacts.edit===true){%><input type="tel" name="phone-number"/><%}%></td>
	<td data-field="register-status"></td>
	<td data-field="clear" class="input-field no-success-validation-style"><button name="clear" class="button action mini hidden" data-disabled-on-ajax="true">Clear</button></td>
	<%if(authorisations.contacts.warehouseContacts.edit===true && page !== 'contact-setup-walkthrough'){%><td data-field="delete"></td><%}%>
	<%if(authorisations.contacts.warehouseContacts.edit===true && page !== 'contact-setup-walkthrough'){%><td data-field="resend-email"></td><%}%>
</tr>