<tr data-status="new">
	<td>1*</td>
	<td data-field="name" class="input-field no-success-validation-style"><input required type="text" name="name"/></td>
	<td data-field="email" class="input-field no-success-validation-style"><input required type="email" name="email"/></td>
	<td data-field="phone-number" class="input-field no-success-validation-style"><input type="tel" name="phone-number"/></td>
	<td data-field="register-status"></td>
	<td data-field="delete"></td>
	<td data-field="resend-email"></td>
</tr>
<tr data-status="new">
	<td>2*</td>
	<td data-field="name" class="input-field no-success-validation-style"><input required type="text" name="name"/></td>
	<td data-field="email" class="input-field no-success-validation-style"><input required type="email" name="email"/></td>
	<td data-field="phone-number" class="input-field no-success-validation-style"><input type="tel" name="phone-number"/></td>
	<td data-field="register-status"></td>
	<td data-field="delete"></td>
	<td data-field="resend-email"></td>
</tr>