<tr data-status="new" data-empty="true">
	<td>@num@</td>
	<td data-field="name" class="input-field no-success-validation-style"><input required type="text" name="name"/></td>
	<td data-field="email" class="input-field no-success-validation-style"><input required type="email" name="email"/></td>
	<td data-field="phone-number" class="input-field no-success-validation-style"><input type="tel" name="phone-number"/></td>
	<td data-field="register-status" ></td>
	<td data-field="clear"><button name="clear" class="hidden button action mini" data-disabled-on-ajax="true">Clear</button></td>
	<%if(page !== 'contact-setup-walkthrough'){%><td data-field="delete" class="input-field no-success-validation-style checkbox"></td><%}%>
	<%if(page !== 'contact-setup-walkthrough'){%><td data-field="resend-email"></td><%}%>
</tr>