<div data-view="messages" class="dashboard-container columns nine hidden">
	<div class="secondary content-box">
		<div class="header">
			<h3>Messages</h3>
		</div>
		<div class="main">
			<p>No Messages</p>
		</div>
	</div>
</div>