<form class="loom-form" data-loom-no-submit="true" method="post" action="#" id="define-space" novalidate data-loom-do-not-show-success-css="true">
	<div class="input-field">
		<input type="hidden" name="_csrf" value="<%=csrfTokenFunction()%>"/>
	</div>
	<input type="hidden" name="warehouse_id" <%if(warehouse.id !== undefined)%> value="<%=warehouse.id%>"/>
	<div class="main">
		<div class="content-box primary">
			<div class="header">
				<h3>Your storage details</h3>
			</div>
			<div class="main">
				<fieldset>
					<table class="max define-space responsive-table collapse">
						<thead>
							<tr>
								<th>Pallet Type <div class="tool-tip hint--bottom" data-hint="Use this column to define each type of storage area in your warehouse which has different characteristics either in terms of pallet footprint or how you wish to price it.  You can have as many pallet types as suits, allowing you to specify different weight/heights and different pricing/availability. You can specify the same space more than once, e.g., 0.8w x 1.2d (euro) pallets, 300 quantity and 1.2w x 1.2d pallets, 200 quantity (in this case, please repeat the same pallet type)">?</div></th>
								<th>Storage Type </th>
                                <th>Pallet Footprint </th>
								<th>Max Weight Per Pallet <br/> (kg) </th>
								<th>Max Height Per Pallet <br/> (m) </th>
								<th>Total Pallet Spaces <div class="tool-tip hint--left" data-hint="This is the total number of pallet spaces in your warehouse of the pallet type. You can specify the number available at specific dates for Zupplychain users in Step 3">?</div></th>
								<th>Add Additional Pallet Footprint    <div class="tool-tip hint--left" data-hint="You can specify the same space again with a different pallet footprint, different maximum weight (if applicable) and in stage 3, different pricing">?</div></th>
								<th><img src="../images/delete.png" alt="delete"/></th>
							</tr>
						</thead>
						<tbody>
							<%
							if( !warehouse.storage || !warehouse.storage.length ){
								var row = {};
								row.name = "Type 1";
								row.storageGroup = 1;
                                row.regType = 'advanced';%>
								<% include ../define-space-row %>
								<%row.name = "Type 2";
								row.storageGroup = 2;
                                row.regType = 'advanced';%>
								<% include ../define-space-row %>
							<%}else{
								var storageGroup = 0;
								warehouse.storage.sort(function(x,y) { return x.name > y.name })
								for( var i=0; i < warehouse.storage.length; i++ ){
									row = warehouse.storage[i];
									if(i>0){
										if(row.name === warehouse.storage[i-1].name && row.temp === warehouse.storage[i-1].temp){
											row.storageGroup = storageGroup;
										}else{
											storageGroup ++;
											row.storageGroup = storageGroup;
										}
									}else{
										row.storageGroup = storageGroup + 1
										storageGroup ++
									}
                                    row.regType = 'advanced';
                                    %>
									<% include ../define-space-row %>
								<%}
							}%>
						</tbody>
					</table>
					<p class="new-pallet">
						<span class="primary">Add additional storage name</span>
						<button class="add-button"><span>add</span></button>
					</p>
					<div class="view-edit-buttons bottom below-button">
						<a class="toggle-view-edit down" data-mode="view">View</a>
						<a class="toggle-view-edit" data-mode="edit">Edit</a>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
	<fieldset class="form-footer">
		<div data-function="save-buttons">
			<button type="button" class="action save">Save</button>
			<span>OR</span>
			<button class="action next">Save &amp; Continue</button>
		</div>
	</fieldset>
</form>
<script type="text/template" id="define-space-row">
	<% var row = {}; %>
	<% include ../define-space-row %> 
</script>