<div data-view="main" class="dashboard-container columns nine">
	<%if(completedTasks.allWarehousesCompleted === false && authorisations.tasks === true){%>
		<div class="columns twelve">
			<!--<div class="content-box welcome-box">
				<div class="header">
					<h3>Welcome to Zupplychain</h3>
				</div>
				<div class="main row">
					<p>To manage and operate your Zupplychain account, please set up some contacts below.</p>
				</div>
			</div>-->
		</div>
		<div class="columns twelve">
			<div class="content-box secondary tasks-box">
				<div class="header">
					<h3>Contact Setup</h3>
                    <a href="/contacts-setup" class="button action">View Contacts Setup</a>
				</div>
				<div class="main row">
                    <% include dashboard-tasks %> 
				</div>
			</div>
		</div>
	<%}%>
	<%if (dashboardAccessLvl === 0 || dashboardAccessLvl === 1){%>
		<div class="row types first-row">
			<div class="columns six tile-main">
				<button data-href="#admin" class="button tile-button">
					<div class="secondary content-box">
						<div class="header">
							<h3>Account</h3>
						</div>
						<div class="main row">
							<div class="columns six">
								<img src="/images/admin-icon-dashboard.png" alt="Admin"/>
							</div>
							<p class="columns six">View and edit your account details</p>
						</div>
					</div>
				</button>
			</div>
			<div class="columns six tile-main">
				<button data-href="#contacts" class="button tile-button">
					<div class="secondary content-box">
						<div class="header">
							<h3>Contacts</h3>
						</div>
						<div class="main row">
							<div class="columns six">
								<img src="/images/contacts-icon-dashboard.png" alt="Contacts"/>
							</div>
							<p class="columns six">View and edit your warehouse contacts</p>
						</div>
					</div>
				</button>
			</div>
		</div>
		<div class="row types dashboard-access-level-<%=dashboardAccessLvl%>">
			<div class="columns six tile-main">
				<button data-href="#warehouses" class="button tile-button">
					<div class="secondary content-box">
						<div class="header">
							<h3>Warehouses</h3>
						</div>
						<div class="main row">
							<div class="columns six">
								<img src="/images/warehouse-icon-dashboard.png" alt="Warehouse Details"/>
							</div>
							<p class="columns six">View and edit your warehouse details</p>
							<p class="columns six">Add additional warehouses</p>
						</div>
					</div>
				</button>
			</div>
			<div class="columns six tile-main">
				<button data-href="#messages" class="button tile-button">
					<div class="secondary content-box">
						<div class="header">
							<h3>Messages</h3>
						</div>
						<div class="main row">
							<div class="columns six">
								<img src="/images/user-icon-dashboard.png" alt="Users"/>
							</div>
							<p class="columns six">View your messages</p>
						</div>
					</div>
				</button>
			</div>
		</div>
	<%}else{%>
		<div class="row types first-row dashboard-access-level-2">
			<div class="columns six tile-main">
				<button data-href="#admin" class="button tile-button">
					<div class="secondary content-box">
						<div class="header">
							<h3>Account</h3>
						</div>
						<div class="main row">
							<div class="columns six">
								<img src="/images/admin-icon-dashboard.png" alt="Admin"/>
							</div>
							<p class="columns six">View and edit your account details</p>
						</div>
					</div>
				</button>
			</div>
			<div class="columns six tile-main">
				<button data-href="#messages" class="button tile-button">
					<div class="secondary content-box">
						<div class="header">
							<h3>Messages</h3>
						</div>
						<div class="main row">
							<div class="columns six">
								<img src="/images/user-icon-dashboard.png" alt="Users"/>
							</div>
							<p class="columns six">View your messages</p>
						</div>
					</div>
				</button>
			</div>
		</div>
		<div class="row types dashboard-access-level-2">
			<div class="columns six tile-main">
				<button data-href="#contacts" class="button tile-button">
					<div class="secondary content-box">
						<div class="header">
							<h3>Contacts</h3>
						</div>
						<div class="main row">
							<div class="columns six">
								<img src="/images/contacts-icon-dashboard.png" alt="Contacts"/>
							</div>
							<p class="columns six">View and edit your warehouse contacts</p>
						</div>
					</div>
				</button>
			</div>
		</div>
	<%}%>
</div>