<div data-view="main" class="dashboard-container columns nine">
	<%if(completedTasks.contactSetupComplete === false && authorisations.tasks === true){%>
		<div class="columns twelve">
			<div class="content-box welcome-box">
				<div class="header">
					<h3>Welcome to Zupplychain</h3>
				</div>
				<div class="main row">
					<p>To manage and operate your Zupplychain account, you need to set up some contacts below.</p>
				</div>
			</div>
		</div>
		<div class="columns twelve">
			<div class="content-box tasks-box">
				<div class="header">
					<h3>Tasks and Notifications</h3>
				</div>
				<div class="main row">
					<table id="tasks">
						<thead>
							<tr>
								<th>Name</th>
								<th>Completed</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td data-field="task"><a href="contacts-setup" target="_blank">Introduction to contacts setup</a></td>
								<td></td>
							</tr>
							<tr>
								<td data-field="task"><a data-go-to-link="view-tab" href="#contacts#master-contacts">Add master contacts</a></td>
								<td><input disabled type="checkbox" name="task-completed" <%if(completedTasks.masterContact === true){%>checked<%}%>></td>
							</tr>
							<tr>
								<td data-field="task"><a data-go-to-link="view-tab" href="#contacts#availability-controller">Add availability controllers</a></td>
								<td><input disabled type="checkbox" name="task-completed" <%if(completedTasks.availabilityController === true){%>checked<%}%>></td>
							</tr>
							<tr>
								<td data-field="task">Add enquires controllers</td>
								<td><input disabled type="checkbox" name="task-completed" <%if(completedTasks.enquiresController === true){%>checked<%}%>></td>
							</tr>
							<tr>
								<td data-field="task">Add transport controllers</td>
								<td><input disabled type="checkbox" name="task-completed" <%if(completedTasks.transportCoordinator === true){%>checked<%}%>></td>
							</tr>
							<tr>
								<%console.log(completedTasks.goodsIn);%>
								<td data-field="task">Add goods-in contacts</td>
								<td><input disabled type="checkbox" name="task-completed" <%if(completedTasks.goodsIn === true){%>checked<%}%>></td>
							</tr>
							<tr>
								<td data-field="task">Add picking and dispatch contacts</td>
								<td><input disabled type="checkbox" name="task-completed" <%if(completedTasks.pickingDispatch === true){%>checked<%}%>></td>
							</tr>
							<tr>
								<td data-field="task">Add invoice contacts</td>
								<td><input disabled type="checkbox" name="task-completed" <%if(completedTasks.invoiceController === true){%>checked<%}%>></td>
							</tr>
							<tr>
								<td data-field="task">Add credit controller contacts</td>
								<td><input disabled type="checkbox" name="task-completed" <%if(completedTasks.creditController === true){%>checked<%}%>></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	<%}%>
	<div class="row types">
		<div class="columns six">
			<a href="#admin" class="button tile-button">
				<div class="secondary content-box">
					<div class="header">
						<h3>Account</h3>
					</div>
					<div class="main row">
						<div class="columns six">
							<img src="/images/admin-icon-dashboard.png" alt="Admin"/>
						</div>
						<p class="columns six">View and edit your account details</p>
					</div>
				</div>
			</a>
		</div>
		<div class="columns six">
			<a href="#contacts" class="button tile-button">
				<div class="secondary content-box">
					<div class="header">
						<h3>Contacts</h3>
					</div>
					<div class="main row">
						<div class="columns six">
							<img src="/images/contacts-icon-dashboard.png" alt="Contacts"/>
						</div>
						<p class="columns six">View and edit your warehouse contacts</p>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class="row types">
		<div class="columns six">
			<a href="#warehouses" class="button tile-button">
				<div class="secondary content-box">
					<div class="header">
						<h3>Warehouses</h3>
					</div>
					<div class="main row">
						<div class="columns six">
							<img src="/images/warehouse-icon-dashboard.png" alt="Warehouse Details"/>
						</div>
						<p class="columns six">View and edit your warehouse details</p>
						<p class="columns six">Add additional warehouses</p>
					</div>
				</div>
			</a>
		</div>
		<div class="columns six">
			<a href="#messages" class="button tile-button">
				<div class="secondary content-box">
					<div class="header">
						<h3>Messages</h3>
					</div>
					<div class="main row">
						<div class="columns six">
							<img src="/images/user-icon-dashboard.png" alt="Users"/>
						</div>
						<p class="columns six">View your messages</p>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>