<div data-view="main" class="dashboard-container columns ten">
	<!--<%if(completedTasks.allWarehousesCompleted === false && authorisations.tasks === true){%>
		<div class="columns twelve">
			<div class="content-box secondary tasks-box">
				<div class="header">
					<h3>Contact Setup</h3>
                    <a href="/contacts-setup" class="button action">View Contacts Setup</a>
				</div>
				<div class="main row">
				</div>
			</div>
		</div>
	<%}%>-->
    <div class="columns twelve">
        <div class="content-box secondary tasks-box">
            <div class="header">
			     <h3>Registration</h3>
            </div>
            <div class="main row">
                <p>To ensure your warehouse is included in search results, please complete steps 1 - 3. Step 4 will be available soon! For help please see our example video.</p>
                <button class="button mini action" data-url="videos/Zupplychain-Registration-Animation.mp4" data-action="view-reg-example">View Example</button>
                <table class="dashboard-table">
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="no-link task-name">Account Creation</td>
                            <td class="no-link complete">
                                COMPLETED
                             </td>
                        </tr>
                        <tr>
                            <td class="task-name">
                                <%if((!warehouse) || (warehouse && !warehouse.regComplete)){%>
                                    <a href="/provider-registration-1">Step 1: Your Warehouse Details</a>
                                <%}else{%>
                                    <a data-go-to-view="true" href="#warehouses">Step 1: Your Warehouse Details</a>
                                <%}%>
                            </td>
                            <td>
                            <%if(warehouse){
                                if(!warehouse.regComplete){%>
                                    <a href="/provider-registration-1" class="task-status complete">COMPLETED</a>
                                <%}else{%>
                                    <a data-go-to-view="true" href="#warehouses" class="task-status complete">COMPLETED</a>
                                <%}%>
                             <%}else{%>
                                <a href="/provider-registration-1" class="task-status not-started">NOT STARTED</a>
                              <%}%>
                              </td>
                        </tr>
                        <tr>
                            <td class="task-name <%if(!warehouse){%>disabled<%}%>">
                                <%if(!warehouse){%>
                                    Step 2: Your Storage Details
                                <%}else{
                                    if(!warehouse.regComplete){%>
                                        <a href="/provider-registration-2">Step 2: Your Storage Details</a>
                                    <%}else{%>
                                        <a data-go-to-view="true" href="#warehouses">Step 2: Your Storage Details</a>
                                    <%}%>
                                <%}%>
                            </td>
                            <td <%if(!warehouse){%> class="disabled"<%}%>>
                             <%if(!warehouse){%>
                                NOT STARTED
                             <%}else
                             if(warehouse && warehouse.storage && warehouse.storage.length > 0){
                                if(!warehouse.regComplete){%>
                                    <a href="/provider-registration-2" class="task-status complete">COMPLETED</a>
                                <%}else{%>
                                    <a data-go-to-view="true" href="#warehouses" class="task-status complete">COMPLETED</a>
                                <%}%>
                             <%}else{%>
                                <a href="/provider-registration-2" class="task-status not-started">NOT STARTED</a>
                              <%}%></td>
                        </tr>
                        <tr>
                            <td class="task-name <%if((!warehouse) || (warehouse && warehouse.storage && warehouse.storage.length === 0)){%>disabled<%}%>">
                                <%if((!warehouse) || (warehouse && warehouse.storage && warehouse.storage.length === 0)){%>
                                    Step 3: Your Pricing and Availability
                                <%}else{
                                    if(!warehouse.regComplete){%>
                                        <a href="/provider-registration-3">Step 3: Your Pricing and Availability</a>
                                    <%}else{%>
                                        <a data-go-to-view="true" href="#warehouses">Step 3: Your Pricing and Availability</a>
                                    <%}%>
                                <%}%>
                            </td>
                            <td <%if((!warehouse) || (warehouse && warehouse.storage && warehouse.storage.length === 0)){%>class="disabled"<%}%>>
                            <%anchorAdded=false%>
                            <%if((!warehouse) || (warehouse && warehouse.storage && warehouse.storage.length === 0)){%>
                                NOT STARTED
                            <%}else{
                                if(warehouse && warehouse.storage && warehouse.storage.length > 0){
                                    for (var i = 0; i<warehouse.storage.length; i++){
                                        if(warehouse.storage[i].basicPricing && warehouse.storage[i].basicPricing.price > 0 && warehouse.storage[i].basicPricing.charge > 0){
                                            if(warehouse.storage[i].pallets[0].free != null){
                                                if(!warehouse.regComplete){%>
                                                    <a class="task-status complete" href="/provider-registration-3">COMPLETED</a>
                                                <%}else{%>
                                                    <a data-go-to-view="true" class="task-status complete" href="#warehouses">COMPLETED</a>
                                                <%}%>
                                                <%i = warehouse.storage.length;%>
                                            <%}else{
                                                if(!warehouse.regComplete){%>
                                                    <a class="task-status partially-complete" href="/provider-registration-3">PARTIALLY COMPLETE</a>
                                                <%}else{%>
                                                    <a data-go-to-view="true" class="task-status partially-complete" href="#warehouses">PARTIALLY COMPLETE</a>
                                                <%}%>
                                                <%i = warehouse.storage.length;%>
                                            <%}%>
                                        <%}else if(warehouse.storage[i].pallets[0]){
                                            if(!warehouse.regComplete){%>
                                                <a class="task-status partially-complete" href="/provider-registration-3">PARTIALLY COMPLETE</a>
                                            <%}else{%>
                                                <a data-go-to-view="true" class="task-status partially-complete" href="#warehouses">PARTIALLY COMPLETE</a>
                                            <%}%>
                                            <%i = warehouse.storage.length;%>
                                        <%}else{%>
                                            <%if(anchorAdded === false){%>
                                                <a href="/provider-registration-3" class="task-status not-started">NOT STARTED</a>
                                            <%}%>
                                            <%anchorAdded = true%>
                                        <%}
                                    }%>         
                                <%}else{%>
                                    <%if(anchorAdded === false){%>
                                        <a href="/provider-registration-3" class="task-status not-started">NOT STARTED</a>
                                    <%}%>
                                    <%anchorAdded = true%>
                                <%}%>
                            <%}%>
                          </td>
                        </tr>
                        <tr>
                            <td class="no-link task-name">Step 4: Your Contacts and Authorisations</td>
                            <td class="no-link comming-soon">COMMING SOON</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
	<%if (dashboardAccessLvl === 0 || dashboardAccessLvl === 1){%>
		<div class="row types first-row">
			<div class="columns six tile-main">
				<button data-href="#admin" class="button tile-button">
					<div class="secondary content-box">
						<div class="header">
							<h3>Account</h3>
						</div>
						<div class="main row">
							<div class="columns six">
								<img src="/images/admin-icon-dashboard.png" alt="Admin"/>
							</div>
							<p class="columns six">View and edit your account details</p>
						</div>
					</div>
				</button>
			</div>
			<div class="columns six tile-main">
				<button data-href="#contacts" class="button tile-button">
					<div class="secondary content-box">
						<div class="header">
							<h3>Contacts</h3>
						</div>
						<div class="main row">
							<div class="columns six">
								<img src="/images/contacts-icon-dashboard.png" alt="Contacts"/>
							</div>
							<p class="columns six">View and edit your warehouse contacts</p>
						</div>
					</div>
				</button>
			</div>
		</div>
		<div class="row types dashboard-access-level-<%=dashboardAccessLvl%>">
			<div class="columns six tile-main">
				<button data-href="#warehouses" class="button tile-button">
					<div class="secondary content-box">
						<div class="header">
							<h3>Warehouses</h3>
						</div>
						<div class="main row">
							<div class="columns six">
								<img src="/images/warehouse-icon-dashboard.png" alt="Warehouse Details"/>
							</div>
							<p class="columns six">View and edit your warehouse details</p>
							<p class="columns six">Add additional warehouses</p>
						</div>
					</div>
				</button>
			</div>
			<div class="columns six tile-main">
				<button data-href="#messages" class="button tile-button">
					<div class="secondary content-box">
						<div class="header">
							<h3>Messages</h3>
						</div>
						<div class="main row">
							<div class="columns six">
								<img src="/images/user-icon-dashboard.png" alt="Users"/>
							</div>
							<p class="columns six">View your messages</p>
						</div>
					</div>
				</button>
			</div>
		</div>
	<%}else{%>
		<div class="row types first-row dashboard-access-level-2">
			<div class="columns six tile-main">
				<button data-href="#admin" class="button tile-button">
					<div class="secondary content-box">
						<div class="header">
							<h3>Account</h3>
						</div>
						<div class="main row">
							<div class="columns six">
								<img src="/images/admin-icon-dashboard.png" alt="Admin"/>
							</div>
							<p class="columns six">View and edit your account details</p>
						</div>
					</div>
				</button>
			</div>
			<div class="columns six tile-main">
				<button data-href="#messages" class="button tile-button">
					<div class="secondary content-box">
						<div class="header">
							<h3>Messages</h3>
						</div>
						<div class="main row">
							<div class="columns six">
								<img src="/images/user-icon-dashboard.png" alt="Users"/>
							</div>
							<p class="columns six">View your messages</p>
						</div>
					</div>
				</button>
			</div>
		</div>
		<div class="row types dashboard-access-level-2">
			<div class="columns six tile-main">
				<button data-href="#contacts" class="button tile-button">
					<div class="secondary content-box">
						<div class="header">
							<h3>Contacts</h3>
						</div>
						<div class="main row">
							<div class="columns six">
								<img src="/images/contacts-icon-dashboard.png" alt="Contacts"/>
							</div>
							<p class="columns six">View and edit your warehouse contacts</p>
						</div>
					</div>
				</button>
			</div>
		</div>
	<%}%>
</div>
<script type="text/template"" id="video-popup">
	<%include ../video-popup%>
</script>