<div data-view="main" class="dashboard-container columns nine">
	<%if(completedTasks.allWarehousesCompleted === false && authorisations.tasks === true){%>
		<div class="columns twelve">
			<div class="content-box welcome-box">
				<div class="header">
					<h3>Welcome to Zupplychain</h3>
				</div>
				<div class="main row">
					<p>To manage and operate your Zupplychain account, please set up some contacts below.</p>
				</div>
			</div>
		</div>
		<div class="columns twelve">
			<div class="content-box tasks-box">
				<div class="header">
					<h3>Tasks and Notifications</h3>
				</div>
				<div class="main row">
					<table id="company-tasks">
						<thead>
							<tr>
								<th>Name</th>
								<th>Requests Sent</th>
								<th>Response Received</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td data-field="task"><a href="/contacts-setup">Introduction to contacts setup</a></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td data-field="task"><a data-go-to-link="view-tab-contacts" href="#contacts#master-contact">Add master contacts</a></td>
								<td><input disabled type="checkbox" name="task-completed" <%if(completedTasks.masterContact.allRequestsSent === true){%>checked<%}%>></td>
								<td><input disabled type="checkbox" name="response-sent" <%if(completedTasks.masterContact.allRequestsResponded === true){%>checked<%}%>></td>
							</tr>
						</tbody>
					</table>
					<%for(var i = 0; i<warehouses.length; i++){
						if(completedTasks[i][warehouses[i].id].contactSetupComplete === false){%>
							<div class="static warehouse-tasks-tray trays open">
								<a class="warehouse-name open-tray-link <%if(warehouses.length === 1 || parseInt(warehouses.length) - parseInt(completedTasks.numWarehousesCompleted) === 1){%>open<%}%>"><%=warehouses[i].name%></a>
								<div class="tray <%if(warehouses.length === 1 || parseInt(warehouses.length) - parseInt(completedTasks.numWarehousesCompleted) === 1){%>open<%}%>">
									<table id="tasks" data-warehouse-id="<%=warehouses[i].id%>">
										<thead>
											<tr>
												<th>Name</th>
												<th>Request Sent</th>
												<th>Response Received</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td data-field="task"><a data-go-to-link="view-tab-contacts" href="#contacts#warehouse-contacts#availability-controller">Add availability contacts</a></td>
												<td><input disabled type="checkbox" name="task-completed" <%if(completedTasks[i][warehouses[i].id].availabilityController.allRequestsSent === true){%>checked<%}%>></td>
												<td><input disabled type="checkbox" name="response-sent" <%if(completedTasks[i][warehouses[i].id].availabilityController.allRequestsResponded === true){%>checked<%}%>></td>
											</tr>
											<tr>
												<td data-field="task"><a data-go-to-link="view-tab-contacts" href="#contacts#warehouse-contacts#enquires-controller">Add enquiries contacts</a></td>
												<td><input disabled type="checkbox" name="task-completed" <%if(completedTasks[i][warehouses[i].id].enquiresController.allRequestsSent === true){%>checked<%}%>></td>
												<td><input disabled type="checkbox" name="response-sent" <%if(completedTasks[i][warehouses[i].id].enquiresController.allRequestsResponded === true){%>checked<%}%>></td>
											</tr>
											<tr>
												<td data-field="task"><a data-go-to-link="view-tab-contacts" href="#contacts#warehouse-contacts#transport-coordinator">Add transport coordinator</a></td>
												<td><input disabled type="checkbox" name="task-completed" <%if(completedTasks[i][warehouses[i].id].transportCoordinator.allRequestsSent === true){%>checked<%}%>></td>
												<td><input disabled type="checkbox" name="response-sent" <%if(completedTasks[i][warehouses[i].id].transportCoordinator.allRequestsResponded === true){%>checked<%}%>></td>
											</tr>
											<tr>
												<td data-field="task"><a data-go-to-link="view-tab-contacts" href="#contacts#warehouse-contacts#goods-in">Add goods-in contacts</a></td>
												<td><input disabled type="checkbox" name="task-completed" <%if(completedTasks[i][warehouses[i].id].goodsIn.allRequestsSent === true){%>checked<%}%>></td>
												<td><input disabled type="checkbox" name="response-sent" <%if(completedTasks[i][warehouses[i].id].goodsIn.allRequestsResponded === true){%>checked<%}%>></td>
											</tr>
											<tr>
												<td data-field="task"><a data-go-to-link="view-tab-contacts" href="#contacts#warehouse-contacts#picking-dispatch">Add picking and dispatch contacts</a></td>
												<td><input disabled type="checkbox" name="task-completed" <%if(completedTasks[i][warehouses[i].id].pickingDispatch.allRequestsSent === true){%>checked<%}%>></td>
												<td><input disabled type="checkbox" name="response-sent" <%if(completedTasks[i][warehouses[i].id].pickingDispatch.allRequestsResponded === true){%>checked<%}%>></td>
											</tr>
											<tr>
												<td data-field="task"><a data-go-to-link="view-tab-contacts" href="#contacts#warehouse-contacts#invoice-controller">Add invoice contacts</a></td>
												<td><input disabled type="checkbox" name="task-completed" <%if(completedTasks[i][warehouses[i].id].invoiceController.allRequestsSent === true){%>checked<%}%>></td>
												<td><input disabled type="checkbox" name="response-sent" <%if(completedTasks[i][warehouses[i].id].invoiceController.allRequestsResponded === true){%>checked<%}%>></td>
											</tr>
											<tr>
												<td data-field="task"><a data-go-to-link="view-tab-contacts" href="#contacts#warehouse-contacts#credit-controller">Add credit contact contacts</a></td>
												<td><input disabled type="checkbox" name="task-completed" <%if(completedTasks[i][warehouses[i].id].creditController.allRequestsSent === true){%>checked<%}%>></td>
												<td><input disabled type="checkbox" name="response-sent" <%if(completedTasks[i][warehouses[i].id].creditController.allRequestsResponded === true){%>checked<%}%>></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						<%}
					}%>
				</div>
			</div>
		</div>
	<%}%>
	<%if (dashboardAccessLvl === 0 || dashboardAccessLvl === 1){%>
		<div class="row types first-row">
			<div class="columns six tile-main">
				<button data-href="#admin" class="button tile-button">
					<div class="secondary content-box">
						<div class="header">
							<h3>Account</h3>
						</div>
						<div class="main row">
							<div class="columns six">
								<img src="/images/admin-icon-dashboard.png" alt="Admin"/>
							</div>
							<p class="columns six">View and edit your account details</p>
						</div>
					</div>
				</button>
			</div>
			<div class="columns six tile-main">
				<button data-href="#contacts" class="button tile-button">
					<div class="secondary content-box">
						<div class="header">
							<h3>Contacts</h3>
						</div>
						<div class="main row">
							<div class="columns six">
								<img src="/images/contacts-icon-dashboard.png" alt="Contacts"/>
							</div>
							<p class="columns six">View and edit your warehouse contacts</p>
						</div>
					</div>
				</button>
			</div>
		</div>
		<div class="row types dashboard-access-level-<%=dashboardAccessLvl%>">
			<div class="columns six tile-main">
				<button data-href="#warehouses" class="button tile-button">
					<div class="secondary content-box">
						<div class="header">
							<h3>Warehouses</h3>
						</div>
						<div class="main row">
							<div class="columns six">
								<img src="/images/warehouse-icon-dashboard.png" alt="Warehouse Details"/>
							</div>
							<p class="columns six">View and edit your warehouse details</p>
							<p class="columns six">Add additional warehouses</p>
						</div>
					</div>
				</button>
			</div>
			<div class="columns six tile-main">
				<button data-href="#messages" class="button tile-button">
					<div class="secondary content-box">
						<div class="header">
							<h3>Messages</h3>
						</div>
						<div class="main row">
							<div class="columns six">
								<img src="/images/user-icon-dashboard.png" alt="Users"/>
							</div>
							<p class="columns six">View your messages</p>
						</div>
					</div>
				</button>
			</div>
		</div>
	<%}else{%>
		<div class="row types first-row dashboard-access-level-2">
			<div class="columns six tile-main">
				<button data-href="#admin" class="button tile-button">
					<div class="secondary content-box">
						<div class="header">
							<h3>Account</h3>
						</div>
						<div class="main row">
							<div class="columns six">
								<img src="/images/admin-icon-dashboard.png" alt="Admin"/>
							</div>
							<p class="columns six">View and edit your account details</p>
						</div>
					</div>
				</button>
			</div>
			<div class="columns six tile-main">
				<button data-href="#messages" class="button tile-button">
					<div class="secondary content-box">
						<div class="header">
							<h3>Messages</h3>
						</div>
						<div class="main row">
							<div class="columns six">
								<img src="/images/user-icon-dashboard.png" alt="Users"/>
							</div>
							<p class="columns six">View your messages</p>
						</div>
					</div>
				</button>
			</div>
		</div>
		<div class="row types dashboard-access-level-2">
			<div class="columns six tile-main">
				<button data-href="#contacts" class="button tile-button">
					<div class="secondary content-box">
						<div class="header">
							<h3>Contacts</h3>
						</div>
						<div class="main row">
							<div class="columns six">
								<img src="/images/contacts-icon-dashboard.png" alt="Contacts"/>
							</div>
							<p class="columns six">View and edit your warehouse contacts</p>
						</div>
					</div>
				</button>
			</div>
		</div>
	<%}%>
</div>