<div data-view="main" class="dashboard-container columns nine">
	<div class="columns twelve">
		<div class="content-box welcome-box">
			<div class="header">
				<h3>Welcome</h3>
			</div>
			<div class="main row">
				<p><span>Welcome to Zupplychain.</span> In order to get started you need to complete the tasks below</p>
			</div>
		</div>
	</div>
	<div class="columns twelve">
		<div class="content-box tasks-box">
			<div class="header">
				<h3>Tasks and Notifications</h3>
			</div>
			<div class="main row">
				<table id="tasks">
					<thead>
						<tr>
							<th></th>
							<th>Name</th>
							<th>Done</th>
							<th>Completed</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Read your onboarding documents</td>
							<td>16:09:2015</td>
							<td><input type="checkbox" name="task-completed" checked></td>
						</tr>
						<tr>
							<td>2</td>
							<td><a href="#master-contacts">Add Master Contacts</a></td>
							<td>16:09:2015</td>
							<td><input type="checkbox" name="task-completed"></td>
						</tr>
						<tr>
							<td>3</td>
							<td>Add availability controllers</td>
							<td>16:09:2015</td>
							<td><input type="checkbox" name="task-completed"></td>
						</tr>
						<tr>
							<td>4</td>
							<td>Add enquires controller</td>
							<td>16:09:2015</td>
							<td><input type="checkbox" name="task-completed"></td>
						</tr>
						<tr>
							<td>5</td>
							<td>Add transport controller</td>
							<td>16:09:2015</td>
							<td><input type="checkbox" name="task-completed"></td>
						</tr>
						<tr>
							<td>6</td>
							<td>Add goods in contacts</td>
							<td>16:09:2015</td>
							<td><input type="checkbox" name="task-completed"></td>
						</tr>
						<tr>
							<td>7</td>
							<td>Add picking a dispatch contacts</td>
							<td>16:09:2015</td>
							<td><input type="checkbox" name="task-completed"></td>
						</tr>
						<tr>
							<td>8</td>
							<td>Add invoice contacts</td>
							<td>16:09:2015</td>
							<td><input type="checkbox" name="task-completed"></td>
						</tr>
						<tr>
							<td>9</td>
							<td>Add credit conroller contacts</td>
							<td>16:09:2015</td>
							<td><input type="checkbox" name="task-completed"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row types">
		<div class="columns six">
			<a href="#admin" class="button tile-button">
				<div class="secondary content-box">
					<div class="header">
						<h3>Account</h3>
					</div>
					<div class="main row">
						<div class="columns six">
							<img src="/images/admin-icon-dashboard.png" alt="Admin"/>
						</div>
						<p class="columns six">View and edit your account details</p>
					</div>
				</div>
			</a>
		</div>
		<div class="columns six">
			<a href="#contacts" class="button tile-button">
				<div class="secondary content-box">
					<div class="header">
						<h3>Contacts</h3>
					</div>
					<div class="main row">
						<div class="columns six">
							<img src="/images/contacts-icon-dashboard.png" alt="Contacts"/>
						</div>
						<p class="columns six">View and edit your warehouse contacts</p>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class="row types">
		<div class="columns six">
			<a href="#warehouses" class="button tile-button">
				<div class="secondary content-box">
					<div class="header">
						<h3>Warehouses</h3>
					</div>
					<div class="main row">
						<div class="columns six">
							<img src="/images/warehouse-icon-dashboard.png" alt="Warehouse Details"/>
						</div>
						<p class="columns six">View and edit your warehouse details</p>
					</div>
				</div>
			</a>
		</div>
		<div class="columns six">
			<a href="#users" class="button tile-button">
				<div class="secondary content-box">
					<div class="header">
						<h3>Users</h3>
					</div>
					<div class="main row">
						<div class="columns six">
							<img src="/images/user-icon-dashboard.png" alt="Users"/>
						</div>
						<p class="columns six">View and edit users on your account</p>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>