<div data-view="main" class="dashboard-container columns nine">
	<div class="row types">
		<div class="columns six">
			<div class="secondary content-box">
				<div class="header">
					<h3>Admin</h3>
				</div>
				<div class="main row">
					<div class="columns six">
						<img src="/images/admin-icon-dashboard.png" alt="Admin"/>
					</div>
					<p class="columns six">View and edit your account details</p>
				</div>
			</div>
		</div>
		<div class="columns six">
			<div class="secondary content-box">
				<div class="header">
					<h3>Contacts</h3>
				</div>
				<div class="main row">
					<div class="columns six">
						<img src="/images/contacts-icon-dashboard.png" alt="Contacts"/>
					</div>
					<p class="columns six">View and edit your warehouse contacts</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row types">
		<div class="columns six">
			<div class="secondary content-box">
				<div class="header">
					<h3>Warehouses</h3>
				</div>
				<div class="main row">
					<div class="columns six">
						<img src="/images/warehouse-icon-dashboard.png" alt="Warehouse Details"/>
					</div>
					<p class="columns six">View and edit your warehouse details</p>
				</div>
			</div>
		</div>
		<div class="columns six">
			<div class="secondary content-box">
				<div class="header">
					<h3>Users</h3>
				</div>
				<div class="main row">
					<div class="columns six">
						<img src="/images/user-icon-dashboard.png" alt="Users"/>
					</div>
					<p class="columns six">View edit and add user to your account</p>
				</div>
			</div>
		</div>
	</div>
</div>