<div class="row">
	<div class="view-edit-buttons">
		<a class="toggle-view-edit down" data-mode="view">View</a>
		<a class="toggle-view-edit" data-mode="edit">Edit</a>
	</div>
	<section class="tabs">
		<ul class="tabs">
			<a href="#step-1"><li class="four columns active checked"><span>Step 1</span> - Warehouse details</li></a>
			<a href="#step-2"><li class="four columns checked"><span>Step 2</span> - Define your storage</li></a>
			<a href="#step-3"><li class="four columns checked"><span>Step 3</span> - Price and availability</li></a>
		</ul>
	</section>
	<section class="tab-content view-edit-warehouse">
		<div id="step-1" class="tab active">
			<% include registration-1%>
		</div>
		<div id="step-2" class="tab">
			<% include registration-2%>
		</div>
		<div id="step-3" class="tab">
			<% include registration-3%>
		</div> 
	</section>
</div>