<p class="tag-line">
	View/Edit your warehouse
</p>
<div class="row">
	<section class="tabs">
		<ul class="tabs">
			<li class="four columns active checked"><span>Step 1</span> - <a href="#step-1">Warehouse details</a></li>
			<li class="four columns checked"><span>Step 2</span> - <a href="#step-2">Define your storage</a></li>
			<li class="four columns checked"><span>Step 3</span> - <a href="#step-3">Price and availability</a></li>
		</ul>
	</section>
	<section class="tab-content">
		<div id="step-1" class="tab active">
			<% include registration-1%>
		</div>
		<div id="step-2" class="tab">
			<% include registration-2%>
		</div>
		<div id="step-3" class="tab">
			<% include registration-3%>
		</div> 
	</section>
</div>
<!--<script type="text/template" id="reg-1">
	<% include registration-1%>
</script>-->