<tr data-status="new">
	<td>1*</td>
	<td data-field="name"><input type="text" name="name"/></td>
	<td data-field="email"><input type="email" name="email"/></td>
	<td data-field="phone-number"><input type="tel" name="phone-number"/></td>
	<td data-field="register-status"><p class="registered-status pending"><%=registerStatus[0]%></p></td>
	<td data-field="resend-email"></td>
</tr>