<div data-view="warehouses" class="dashboard-container columns nine hidden">
	<div class="secondary content-box" data-content="warehouses">
		<div class="header">
			<h3>Warehouses</h3>
		</div>
		<div class="main" data-data="warehouses">
			<% include warehouse-list%>
			<div class="columns twelve button-container">
				<button type="button" name="delete" class="button action hidden">Delete</button>
				<%if (authorisations.warehouse.createWarehouse === true){%>
					<div class="add-new-warehouse-container">
						<label for="add-new-warehouse">Add new warehouse</label>
						<a href="/add-new-warehouse" class="button add-button primary" data-action="add-new-warehouse"></a>
					</div>
				<%}%>
			</div>
		</div>
	</div>
	<div id="view-edit-warehouse" class="hidden">
	</div>
	<div id="add-new-warehouse" class="hidden">
	</div>
</div>