<div data-view="warehouses" class="dashboard-container columns nine" style="display:none">
	<div class="secondary content-box" data-content="warehouses">
		<div class="header">
			<h3>Warehouses</h3>
		</div>
		<div class="main">
			<% include warehouse-list%>
			<div class="add-new-warehouse-container">
				<label for="add-new-warehouse">Add new warehouse</label>
				<a href="/add-new-warehouse" class="button add-button primary" data-action="add-new-warehouse"></a>
			</div>
		</div>
	</div>
	<div id="view-edit-warehouse" style="display:none;">
	</div>
	<div id="add-new-warehouse" style="display:none;">
	</div>
</div>