 <% include ./partials/top %>   
            
	<main>
		<section>
			
				<div class="main error-page page-403">
					<div class="content-box primary">
							<h1>Ooops! It looks like a security error has occurred, but don't worry we have blocked it and cleaned it up</h1>
                            <p>Click <a href="/login">here</a> to log in or <a href="/">go to the homepage</a>
					</div>
				</div>
			
		</section>
	</main>
 <% include ./partials/bottom %>   