 <% include ./partials/top %>   
            
	<main>
		<section>
			
				<div class="main error-page page-404">
					<div class="content-box primary">
							<h1>Ooops! We couldn't find the page you were looking for</h1>
                            <p>Use the back button to try the link again or <a href="/">go to the homepage</a>
					</div>
				</div>
			
		</section>
	</main>
 <% include ./partials/bottom %>   