 <% include ./partials/top %>   
            
	<main>
		<section>
			
				<div class="main error-page page-500">
					<div class="content-box primary">
							<h1>Ooops! Something went wrong</h3>
                            <p>There was an error loading your page, sorry!</p>
                            <p>Use the back button to try again or <a href="/">go to the homepage</a>
					</div>
				</div>
			
		</section>
	</main>
 <% include ./partials/bottom %>   