 <% include ./partials/top %>      
	<main id="about-us">
		<div class="banner">
			<h1>About us</h1>
		</div>
		<section class="intro">
			<div class="main">
				<div class="secondary content-box what-is-zupply">
					<div class="header">
                        <h2>WHAT IS ZUPPLYCHAIN?</h2>
                    </div>
					<div class="main">
						<p>Zupplychain is a brand new concept – a dynamic marketplace to match empty warehouse space to customers in search of pallet storage. Whether you have a completely empty warehouse, or a few spare bays; if you have available space for a month or a year; or you have 10 pallets to store for a month, or 500 pallets for a year, Zupplychain finds pallets for space and space for pallets! 
							Whether you have outgrown your own storage resources, or have a seasonal or unplanned peak in requirements, or want to store your product closer to customers, Zupplychain can help you find space to match your requirements!
						</p>
					</div>
				</div>
				<div class="row types">
					<div class="columns six">
						<div class="secondary content-box">
							<div class="header">
								<div class="providers-header">
									<h3>OFFERING STORAGE</h3>
								</div>
								<a href="/provider-registration-1" class="button mini action register-now">Offer Storage Now</a>
							</div>
							<div class="main row">
								<p class="columns eight">Our providers of warehouse space simply register an account and list the type of space they have, how many pallet spaces they have available, and their pricing.</p>
								<div class="columns four">
									<img src="/images/provider-icon.png" alt="Zupplychain Providers" width="137px" height="137px"/>
								</div>
							</div>
						</div>
					</div>
					<div class="columns six">
						<div class="secondary content-box">
							<div class="header">
								<div class="customers-header">
									<h3>SEARCHING FOR STORAGE</h3>
								</div>
								<a href="/search" class="button mini action available-soon">Go to example search</a>
							</div>
							<div class="main">
								<p class="columns eight">Customers can search any location by specifying the type and quantity of pallets they have to store. Our database finds the best fit to your requirements.</p>
								<div class="columns four">
									<img src="/images/user-icon.png" alt="Zupplychain Users" width="137px" height="137px"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="service">
			<div class="header curved">
				<h2>Our unique service</h2>
			</div>
			<div class="main">
				<div class="row">
					<div class="service-box columns four">
						<div class="service-image">
							<img src="/images/match-icon.png" alt="Instant Matching"/>
						</div>
						<div class="service-info">
							<h3>Instant Matching</h3>
							<p>Instant matching up of detailed requirements with appropriate available space. No time wasted researching dead ends.</p>
						</div>
					</div>
					<div class="service-box columns four">
						<div class="service-image">
							<img src="/images/quote-icon.png" alt="Upfront quotes"/>
						</div>
						<div class="service-info">
							<h3>Upfront quotes</h3>
							<p>Full transparency of available space and pricing.</p>
						</div>
					</div>
					<div class="service-box columns four">
						<div class="service-image">
							<img src="/images/tracking-icon-radar.png" alt="Online tracking"/>
						</div>
						<div class="service-info">
							<h3>Online tracking</h3>
							<p>On-line management system, coupled with pallet barcodes, to track each pallet and request its further movement.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="service-box columns four offset-by-two">
						<div class="service-image">
							<img src="/images/uptodate-icon.png" alt="Up-to date info"/>
						</div>
						<div class="service-info">
							<h3>Up-to date info</h3>
							<p>Fully automated communications between storage providers and customers. No need for phone calls, meetings, etc.</p>
						</div>
					</div>
					<div class="service-box columns four">
						<div class="service-image">
							<img src="/images/rating-icon.png" alt="Rating system"/>
						</div>
						<div class="service-info">
							<h3>Rating system</h3>
							<p>Customer and Storage Provider ratings.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="how-it-works">
			<div class="header curved">
				<h2>How it works</h2>
			</div>
			<div class="main">
				<div class="secondary content-box">
					<div class="header">
						<div class="providers-header">
                        	<h2>Register Warehouse space</h2>
						</div>
						<a href="/provider-registration-1" class="button action register-now">Offer Storage Now</a>
						<button class="button action view-example" data-url="videos/Zupplychain-Registration-Animation.mp4" data-action="view-reg-example">View Example</button>
                    </div>
					<div class="main row">
						<div class="columns eight">
							<ol>
								<li><span>Provide basic details on the warehouse (additional warehouses can be added later).</span></li>
								<li><span>Upload photos and documents to help demonstrate your quality and service.</span></li>
								<li><span>Detail your type of space, how much you've got and how much you want to charge.</span></li>
								<li><span>Different pricing and availability for future periods can be stated.</span></li>
								<li><span>Give us details of your warehouse contacts.</span></li>
								<li><span>Update your availability and pricing whenever it changes.</span></li>
							</ol>
						</div>
						<div class="columns four">
							<img src="/images/register-screen.png" alt="Register Warehouse space"/>
						</div>
					</div>
				</div>
				<div class="secondary content-box">
					<div class="header">
						<div class="customers-header">
                        	<h2>Search for warehouse space</h2>
						</div>
						<a href="/search" class="button action available-soon">Go to example search</a>
                    </div>
					<div class="main row">
						<div class="columns eight">
							<ol>
								<li><span>Specify where you want to search, how many pallets you have to store, and what type of pallet.</span></li>
								<li><span>Press SEARCH!</span></li>
								<li><span>Select a storage provider and review its profile in detail.</span></li>
								<li><span>Send your enquiry. The provider will respond within 48hours to confirm availability.</span></li>
								<li><span>You can send the same enquiry to up to 3 providers.</span></li>
							</ol>
						</div>
						<div class="columns four">
							<img src="/images/search-screen.png" alt="Search for warehouse space"/>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="footer form-footer">
			<div class="container">
				<a class="button simple home" href="/">Home</a>
			</div>
		</div>
	</main>
 <% include ./partials/bottom %>   
 <script type="text/template"" id="video-popup">
	<%include ./partials/video-popup%>
</script>