 <% include ./partials/top%>   
	<main class="warehouse-profile contract-confirmed">
		<div class="banner">
			<h1>Contract Confirmed</h1>
		</div>
		<section>
            <div class="main">
            <div class="content-box primary">
            <div class="main">
                <h2>The Contract has been confirmed</h2>
                <p>An email containing the invoice will be sent to you and the customer</p>
                <a href="/">back to home page</a>
                </div>
                </div>
			</div>
		</section>
	</main>
    
 <% include ./partials/bottom%>
 
