<% include ./partials/top %> 
<main class="contact-setup">
	<div class="banner row">
		<h1>Contact Setup</h1>
	</div>
	<section>
		<div class="main">
			<div class="columns twelve">
				<div class="secondary content-box">
					<fieldset class="main">
						<div class="container">
							<p>Now you have registered your warehouse, we would like you to set up on Zupplychain the contacts within your business to respond to customer enquiries and manage transactions and operations.</p>
							<p>For each type of contact, we will ask for two names. The second name will only be contacted should the first one not respond within a set period of time, usually 24 hours. The first contact will be copied on any messages sent to the second contact.</p>
							<p>The same names can be used for different contact roles or as second contacts for other roles. You can not specify the same name as first and second contact for a specific role.</p>
							<p>Phone numbers ae optional and will not be provided to customers. The Zupplychain system will automatically mail your contacts and those of the customer whenever there is a need to provide or respond to information. Many of the e-mails will just require a ‘confirmation’ or a tick box response. Zupplychain makes it that easy! There’s no need to remember or record customer contact details, phone numbers or e mail addresses. And all your inbound and outbound messages – whether concerning enquiries, agreed contracts or operational matters – can be found on your dashboard. As well as receiving messages via the dashboard, all nominated contacts will receive the messages relevant to their role in their specified e-mail inbox.</p>
							<p>Firstly, we need two (and an optional third) Master Contacts for the business who are the sole people who can set or amend pricing. The Master Contact can also amend availability and registration details and add further contacts to the account.</p>
							<p>All further contacts can be warehouse specific. In all cases, we will need two contacts for each role. </p>
							<p>Next, you can add two Availability Controllers. These contacts are the only ones, other than the Master Contact and the Enquiries Controller, who can add or amend registration and contact details for the specified warehouse, including availability (but not pricing).</p>
							<p>When a potential customer chooses your warehouse, we will send a detailed enquiry to a specified contact – the Enquiries Controller. The enquiry will detail the customer’s search criteria and your storage name and pricing to which it has been matched. This contact will need to respond within 48 hours confirming availability, offering payment terms and, where requested, offering an in-bound transport price. Or this contact will decline the enquiry.</p>
							<p>The Enquiries Controller will be able to add or amend registration details and availability (but not pricing) for the specified warehouse. Two Enquiries Controllers will be required, though they can be the same contacts as the Availability Controller.</p>
							<p>If a customer has agreed an inbound transport quotation, we need a contact for transport. Once you have an agreed contract with a customer, we will start messaging both parties to confirm delivery dates, times and exact quantities. For this, you need to nominate a Goods-in contact.</p>
							<p>For outbound movements, please specify a Picking and Dispatch contact.</p>
							<p>Zupplychain will send you and the customer a pro forma invoice to send to the customer, based on Zupplychain’s records of the number of pallets held and your contract pricing. Please specify an invoicing contact.</p>
							<p>Zupplychain will monitor customer payment history. Please nominate a Credit Controller we can contact.</p>
							<p>Thank you. As you set up contacts on the Dashboard, we will send e-mails to those nominated informing them of and explaining their role and inviting them to set up a password.</p>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</section>
</main>
<% include ./partials/bottom %>