< <% include ./partials/top %>   
    <div class="row">
                <h3>Below are demo styles for some common UI elements</h3>
            </div>
            <div class="row">
            <h1>This is a h1</h1>
            <h2>This is a h2</h2>
            <h3>This is a h3</h3>
            <h4>This is a h4</h4>
            <h5>This ia a h5</h5>
            </div>
            

            <div class="row">
                <div class="six columns"></div>
                <div class="three columns"></div>
                <div class="three columns"></div>
            </div>
            <div class="row">
                <div class="four columns">
                    <p>These are generic p elements inside the skeleton grid system. This allows us to have columns postiioned on a 12 column grid for ease of layout design</p>
                </div>
                <div class="four columns">
                <p>These are generic p elements inside the skeleton grid system. This allows us to have columns postiioned on a 12 column grid for ease of layout design</p>
                </div>
                <div class="four columns">
                <p>These are generic p elements inside the skeleton grid system. This allows us to have columns postiioned on a 12 column grid for ease of layout design</p>
                </div>
            </div>
            <div class="row">
                <h5>Here is a ul element</h5>
                <ul>
                <li>This is a list element</li>
                <li>This is a list element</li>
                <li>This is a list element</li>
                <li>This is a list element</li><li>This is a list element</li>
                </ul>
            
            </div>
            <div class="row">
                <a href="#">This is a basic link</a><br/>
                <a href="#" class="action">This is an action link >></a><br/>
                <a href="#" class="primary">This is a primary link >></a><br/>
                <a href="#" class="secondary">This is a secondary link >></a></br>
                <button href="#" class="mini action">This is a mini action button</button></br>
                <button href="#" class="mini primary">This is a mini primary button</button></br>
                <button href="#" class="secondary">This is a secondary button</button></br>
                <button href="#" class="tertiary">This is a tertiary button</button></br>
                <button href="#" class="simple">This is a simple button</button></br>
                
                
                <button href="#" class="action pending">This has a pending class set</button></br>
                <button href="#" class="action success">This has a success class set</button></br>
                <button href="#" class="action error">This has an error class set</button></br>
                <button href="#" class="config primary">This is a primary button config</button></br>
                <button href="#" class="secondary down">This is a secondary button</button></br>
                <button href="#" class="tertiary back">This is a tertiary button</button></br>
                <button href="#" class="simple forward">This is a simple button</button></br>
                
                <button href="#" class="add-button"><span>Add</span></button>
                <button href="#" class="trash-button"><span>Delete</span></button>
                
                
                <button href="#" class="action next">Action next</button></br>
                <button href="#" class="action go">Action go<br/><em>Click me</em></button></br>
                <button href="#" class="primary prev">Primary prev</button></br>
                <button href="#" class="secondary cancel">secondary cancel</button></br>
                <button href="#" class="tertiary forward">This is a tertiary button</button></br>
            </div>
            <div class="row">
                <section>
                    <div class="header">
                        <h2>This is a header within a section > section-header</h2>
                    </div>
                    <div class="main">
                        <p>This is a div with some content also within the section</p>
                        <div class="content-box primary">
                            <div class="header">
                                <h3>This is a primary content box</h3>
                            </div>
                            <div class="main">
                                <p>And this is the main content area of the content box</p>
                            </div>
                            <div class="footer">
                                <h5>Some footer content goes in here</h5>
                            </div>
                        </div>
                        
                         <div class="content-box info ">
                            <div class="header">
                                <h5>This is an info box</h3>
                            </div>
                            <div class="main">
                                <p>And this is the main content area of the content box</p>
                                <table>
                                    <thead>
                                    <tr>
                                        <th>NAME</th>
                                        <th>PRICING</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>A</td>
                                        <td><button class="secondary mini edit">EDIT</button></td>
                                    </tr>
                                    <tr>
                                        <td>B</td>
                                        <td>CLICK</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="footer">
                                and this is the footer
                            </div>
                        </div>
                        
                         <div class="content-box secondary ">
                            <div class="header">
                                <h5>This is a secondary box</h3>
                            </div>
                            <div class="main">
                                <p>And this is the main content area of the content box</p>
                            </div>
                            <div class="footer">
                                With a footer
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <h5>Some footer content goes in here</h5>
                    </div>
                </section>
            
            </div>
            
             <div class="row">
                <section>
                    <div class="header">
                        <h2>This is a header within a section > section-header</h2>
                    </div>
                    <div class="main">
                        
                        <div class="four columns">
                         <div class="content-box">
                            <div class="header">
                                <h5>This is a content box</h3>
                            </div>
                            <div class="main">
                                <p>And this is the main content area of the content box</p>
                            </div>
                         </div>
                        </div>
                        <div class="four columns">
                         <div class="content-box">
                            <div class="header">
                                <h5>This is a content box</h3>
                            </div>
                            <div class="main">
                                <p>And this is the main content area of the content box</p>
                            </div>
                         </div>
                        </div>
                        <div class="four columns">
                         <div class="content-box">
                            <div class="header">
                                <h5>This is a content box</h3>
                            </div>
                            <div class="main">
                                <p>And this is the main content area of the content box</p>
                            </div>
                         </div></div>
                    
                    </div>
                    
                </section>
            
            </div>
            <div class="row">
                <form action="/">
                    <div class="six columns">
                        <div class="input-field">
                            <label for="name">Name</label><input type="text" placeholder="Please enter your name"></input>
                            <div class="messages">
                                <p class="hint">This message is a hint as to the field contents</p>
                            </div>
                        </div>
                        <div class="input-field valid">
                            <label for="name">Email</label><input type="email" placeholder="A valid field"></input>
                            <div class="messages">
                                <p class="valid">This message confirms the field is valid</p>
                            </div>
                        </div>
                        <div class="input-field invalid">
                            <label for="name">Address 1</label><input type="text" placeholder="An invalid field"></input>
                            <div class="messages">
                                <p class="invalid">This message says why the field is invalid.</p>
                            </div>
                        </div>
                        <div class="input-field">
                            <label for="name">Name</label><input type="text" placeholder="Please enter your name"></input>
                            <div class="messages">
                                <p class="hint">This message is a hint as to the field contents</p>
                            </div>
                        </div>
                        <div class="input-field">
                            <label for="name">Name</label><input type="text" placeholder="Please enter your name"></input>
                            <div class="messages">
                                <p class="hint">This message is a hint as to the field contents</p>
                            </div>
                        </div>
                    </div>    
                    <div class="six columns">
                        <div class="input-field">
                            <label for="name">Name</label><input type="text" placeholder="Please enter your name"></input>
                            <div class="messages">
                                <p class="hint">This message is a hint as to the field contents</p>
                            </div>
                        </div>
                        <div class="input-field">
                            <label for="name">Name</label><input type="text" placeholder="Please enter your name"></input>
                            <div class="messages">
                               
                            </div>
                        </div>
                        <div class="input-field">
                            <label for="name">Name</label><input type="text" placeholder="Please enter your name"></input>
                            <div class="messages">
                                
                            </div>
                        </div>
                        
                        <div class="input-field">
                            <label for="name">Name</label><input type="text" placeholder="Please enter your name"></input>
                            <div class="messages">
                                <p class="hint">This message is a hint as to the field contents</p>
                            </div>
                        </div>
                        <div class="input-field">
                            <label for="name">name</label>
                            <select>
                                <option>One</option>
                                <option>Two</option>
                                <option>Three</option>
                            </select>
                            <div class="messages">
                                <p class="hint">This message is a hint as to the field contents</p>
                            </div>
                        </div>
                        
                    </div>    

                    
                </form>
            
            </div>
     <% include ./partials/bottom %>   