 <% include ./partials/top %>      
	<main id="faq">
		<div class="banner">
			<h1>FAQs</h1>
		</div>
        <section class="faq">
            <div class="main">
                <div class="secondary content-box">
                    <div class="header">
                        <h2>Storage Provider FAQs</h2>
                    </div>
                    <div class="main">
                        <div class="static trays open">
                            <a class="open-tray-link">Do I need to complete the registration?</a>
                            <div class="tray">
                                <div class="main">
                                    <p>No - you can save a partly completed registration and come back later to finish it or add uploads. When you save, you will be asked for a password. Next time, just log in to your account and you can edit and complete your registration on your dashboard. If you want to complete your registration in one go, use ‘save and continue’ after steps 1 and 2.</p>
                                </div>
                            </div>
                          </div>
                          <div class="static trays open">
                            <a class="open-tray-link">How accurate does my estimated availability need to be?</a>
                            <div class="tray">
                                <div class="main">
                                    <p>We realise you won’t know your exact pallet space availability even next week, and it will be less accurate further away. Use estimates that you think in general you would be able to honour. When you get an enquiry, you will have the opportunity to decline it if you do not have enough space. Remember, the more space you make available, and the longer the period of availability, the more customer searches you will appear in. You can revise your availability at any time via your dashboard. If you secure a contract via Zupplychain, Zupplychain will automatically update your availability to reflect it.</p>
                                </div>
                            </div>
                          </div>
                          <div class="static trays open">
                            <a class="open-tray-link">How accurate does my pricing need to be?</a>
                            <div class="tray">
                                <div class="main">
                                    <p>You need to be happy that you can honour your pricing on Zupplychain. You will get a chance to decline an enquiry but you won’t be able to re-price it during the enquiry. You can change your prices via the dashboard at any time. </p>
                                </div>
                            </div>
                          </div>
                          <div class="static trays open">
                            <a class="open-tray-link">When will potential customers be able to use Zupplychain’s search facility?</a>
                            <div class="tray">
                                <div class="main">
                                    <p>We are currently recruiting storage providers to register on Zupplychain. We will launch the search facility once we have enough registrations to deliver meaningful results for customer searches. We hope this won’t be long and will keep you informed. Please tell your friend in the logistics industry about us! In the meantime, we have set up an example search with some invented warehouses so you can see how it works. Just go to ‘looking for space’.</p>
                                </div>
                            </div>
                          </div>
                          <div class="static trays open">
                            <a class="open-tray-link">What happens when a customer wants to submit a storage request?</a>
                            <div class="tray">
                                <div class="main">
                                    <p>When a customer selects a warehouse, they will see their search details and those of the selected warehouse and will be asked for some further details. This information will be sent to the selected storage provider to respond within 48 hours with confirmation of its storage offer, including payment terms (or a decline). The customer can then accept this offer, which forms an order, or decline it. Finally, the storage provider acknowledges this order, or has a final opportunity to decline it.</p>
                                </div>
                            </div>
                          </div>
                          <div class="static trays open">
                            <a class="open-tray-link">Will we have the opportunity to transport the Zupplychain customers’ product that will be stored with us?</a>
                            <div class="tray">
                                <div class="main">
                                    <p>Yes. When submitting a request, the customer has the option to choose its own transport or to ask the storage provider for a quote for in-bound transport. Zupplychain will then provide you with the details for that the transport quote, including the estimated mileage. Once a contract has been secured, you will have the opportunity to quote for outbound transport also.</p>
                                </div>
                            </div>
                          </div>
                          <div class="static trays open">
                            <a class="open-tray-link">Is there a minimum quantity or storage period?</a>
                            <div class="tray">
                                <div class="main">
                                    <p>There is no minimum quantity for customer storage searches, nor minimum storage period. A part week is defined as a week for charging.</p>
                                </div>
                            </div>
                          </div>
                          <div class="static trays open">
                            <a class="open-tray-link">What payment terms will customers be on?</a>
                            <div class="tray">
                                <div class="main">
                                    <p>You choose – when a customer submits a request, you will have the opportunity to propose payment terms, payment format (to invoice, BACs etc), prepayment and final payment. The customer is then asked to confirm these terms (or decline the offer). The customer can choose up to 3 potential storage providers from the search results and will be getting offers and payment terms from the interested storage providers. </p>
                                </div>
                            </div>
                          </div>
                          <div class="static trays open">
                            <a class="open-tray-link">Does the customer or Zupplychain pay me? </a>
                            <div class="tray">
                                <div class="main">
                                    <p>The contract is between you and the customer, so the customer pays you – Zupplychain’s role is to bring you together.</p>
                                </div>
                            </div>
                          </div>
                          <div class="static trays open">
                            <a class="open-tray-link">Can I decline a request for storage?</a>
                            <div class="tray">
                                <div class="main">
                                    <p>Yes, if you no longer have the availability that you showed on Zupplychain. If you decline a request, we will ask you for a reason code. This is just to help us understand how we can improve Zupplychain.com to ensure more customer requests find a storage provider.</p>
                                </div>
                            </div>
                          </div>
                          <div class="static trays open">
                            <a class="open-tray-link">Can I cancel a contract? Can the customer cancel?</a>
                            <div class="tray">
                                <div class="main">
                                    <p>No - you can save a partly completed registration and come back later to finish it or add uploads. When you save, you will be asked for a password. Next time, just log in to your account and you can edit and complete your registration on your dashboard. If you want to complete your registration in one go, use ‘save and continue’ after steps 1 and 2.</p>
                                </div>
                            </div>
                          </div>
                          <div class="static trays open">
                            <a class="open-tray-link">When I register, Zupplychain asks me to set up various contacts in my business. Why?</a>
                            <div class="tray">
                                <div class="main">
                                    <p>We want to make it very easy for you to handle lots of Zupplychain storage requests and contracts! So we have built a system where all communications are automated between the relevant contacts in the storage provider and customer. There is an explanation of the roles of the contacts on your dashboard, one you have registered.</p>
                                </div>
                            </div>
                          </div>
                          <div class="static trays open">
                            <a class="open-tray-link">What role does Zupplychain play once I have agreed a storage contract with a customer?</a>
                            <div class="tray">
                                <div class="main">
                                    <p>Zupplychain will generate automated e mails for the customer to confirm quantities and delivery details to you. When the customer wants to move some or all of its pallets out of your warehouse, they do this on Zupplychain also. Each pallet that a Zupplychain customer stores with you will have a unique pallet number and label provided by Zupplychain which links that pallet to the Zupplychain database.</p>
                                </div>
                            </div>
                          </div>
                          <div class="static trays open">
                            <a class="open-tray-link">How does the rating system work?</a>
                            <div class="tray">
                                <div class="main">
                                    <p>After a contract has finished, or during the contract if it is a long one, we will ask the customer to provide a rating of the storage provider. We will also ask you for rating for the customer. Your ratings from customers will be shown in searches and potential customers will be able to rank their search results by provider rating to see the best rated providers at the top of the list.</p>
                                </div>
                            </div>
                          </div>
                          <div class="static trays open">
                            <a class="open-tray-link">Does Zupplychain charge for this service?</a>
                            <div class="tray">
                                <div class="main">
                                    <p>No. We are providing the Zupplychain service for free for now. We are much more interested in your feedback, whether you like it! So please let us know via the ‘Contact Us’ page! We may move to a charging model at some stage, and will give you plenty of notice if that happens.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="secondary content-box">
                    <div class="header">
                        <h2>Customer FAQs</h2>
                    </div>
                    <div class="main">
                        <div class="static trays open">
                            <a class="open-tray-link">Why or when might I use Zupplychain?</a>
                            <div class="tray">
                                <div class="main">
                                    <p>Anyone who has pallets to store, whether a handful or hundreds, for a week or two or for months, can use Zupplychain to find space. We hope to be able to help seasonal businesses, small businesses without enough space and growing businesses, saving them adding more of their own storage, when Zupplychain can find them available space at the best prices. Also, you could use Zupplychain to find space outside your usual areas, maybe because you want to store product closer to a customer or close to an inbound or outbound port. Or you may just want some slow moving stock out of the way!</p>
                                </div>
                            </div>
                        </div>
                        <div class="static trays open">
                            <a class="open-tray-link">When will Zupplychain’s search facility be ready to use?</a>
                            <div class="tray">
                                <div class="main">
                                    <p>We are currently recruiting storage providers to register on Zupplychain. We will launch the search facility once we have enough registrations to deliver meaningful results for customer searches. We hope this won’t be long and will keep you informed. Please tell your friend in the logistics industry about us! In the meantime, we have set up an example search with some invented warehouses so you can see how it works. Just go to ‘looking for space’.</p>
                                </div>
                            </div>
                        </div>
                        <div class="static trays open">
                            <a class="open-tray-link">What happens ‘behind the scenes’ when I do a search?</a>
                            <div class="tray">
                                <div class="main">
                                    <p>We will give you a list of all the warehouses that match your search – these will be within the search area you specified and with enough space, of the right type, for your first week’s storage requirements. Once you go into ‘view details’ for a specific warehouse, you can change the quantities in each week of your search period to see if the warehouse is a complete fit to your requirements.</p>
                                </div>
                            </div>
                        </div>
                        <div class="static trays open">
                            <a class="open-tray-link">If a warehouse does not have enough room for my requirements, can I still send it an enquiry?</a>
                            <div class="tray">
                                <div class="main">
                                    <p>No. You can only send a request to those warehouses that have enough space for your request in each week of the specified period. If not, the ‘submit request’ button will not appear. However, it will re-appear if you amend your requirements week by week and the warehouse can meet them.</p>
                                </div>
                            </div>
                        </div>
                        <div class="static trays open">
                            <a class="open-tray-link">What happens when I submit a storage request?</a>
                            <div class="tray">
                                <div class="main">
                                    <p>When you select a warehouse, you will see your search details and the details of the selected warehouse and you will be asked for some further details. This information will be sent to the selected storage provider to respond within 48 hours with confirmation of its storage offer, including payment terms (or a decline). You can then accept this offer, which forms an order, or decline it. Finally, the storage provider acknowledges this order, or has a final opportunity to decline it.</p>
                                </div>
                            </div>
                        </div>
                        <div class="static trays open">
                            <a class="open-tray-link">How many storage requests can I make for each search enquiry?</a>
                            <div class="tray">
                                <div class="main">
                                    <p>You can make up to 3 requests per search. This means that if a selected storage provider can’t meet your requirements (perhaps because the space shown on Zupplychain has just been filled), you will have other providers making offers.</p>
                                </div>
                            </div>
                        </div>
                        <div class="static trays open">
                            <a class="open-tray-link">Can I arrange transport through Zupplychain also?</a>
                            <div class="tray">
                                <div class="main">
                                    <p>Yes. You can request the selected storage provider to provide you with a quote for the inbound delivery. Many storage providers will be able to offer a distribution service also, or you can arrange your own transport.</p>
                                </div>
                            </div>
                        </div>
                        <div class="static trays open">
                            <a class="open-tray-link">Can I cancel a contract?</a>
                            <div class="tray">
                                <div class="main">
                                    <p>You can cancel without cost up to 28 days before delivery. Within 28 days, the storage provider may charge you the value of the first week’s storage under the Terms and Conditions if it wishes to.</p>
                                </div>
                            </div>
                        </div>
                        <div class="static trays open">
                            <a class="open-tray-link">Will I be paying Zupplychain or the storage provider?</a>
                            <div class="tray">
                                <div class="main">
                                    <p>The contract is between you and the storage provider, so you pay the storage provider – Zupplychain’s role is to bring you together.</p>
                                </div>
                            </div>
                        </div>
                        <div class="static trays open">
                            <a class="open-tray-link two-line"><span>What happens when it is time to send my product to the storage provider? What happens when I want the product back or delivered elsewhere?<span></a>
                            <div class="tray">
                                <div class="main">
                                    <p>Zupplychain will generate automated e mails for you to confirm quantities and delivery details to the storage provider. When you want to move some or all of your pallets out, you do this on Zupplychain also. Each pallet that a Zupplychain customer sends to a storage provider will have a unique pallet number and label provided by Zupplychain which links that pallet to the Zupplychain database. We will ask you to attach this label to the pallet.</p>
                                </div>
                            </div>
                        </div>
                        <div class="static trays open">
                            <a class="open-tray-link">How many contracts can I have through Zupplychain?</a>
                            <div class="tray">
                                <div class="main">
                                    <p>As many as you like! Zupplychain wlll help you store your product in multiple locations. This may help you reduce storage costs and, by storing product in better locations, reduce your logistics costs.</p>
                                </div>
                            </div>
                        </div>
                        <div class="static trays open">
                            <a class="open-tray-link">Does Zupplychain charge for this service?</a>
                            <div class="tray">
                                <div class="main">
                                    <p>No. We are providing the Zupplychain service for free for now. We are much more interested in your feedback, whether you like it! So please let us know via the ‘Contact Us’ page! We may move to a charging model at some stage, and will give you plenty of notice if that happens.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </section>
            <div class="footer form-footer">
            <div class="container">
                <a class="button simple home" href="/">Home</a>
            </div>
        </div>
        </main>
   </main>
    <% include ./partials/bottom %>  