
        <% include ./partials/top %>	
        <main id="home-page">
          <div class="main-box">
            <div class="banner row">
                <div class="columns five">
                <h1>We solve all your<br/> warehouse requirements</h1>
                <h3>Whether you're providing warehouse space or searching for storage.</h3>
                <div class="free-registration">
                        <a href="/provider-registration-1"><button><img src="/images/free-registration.png" alt="Free registration"/></button></a>
                </div>
                </div>
            </div>
            
            <div class="row boxes">
                <div class="six columns  fill-your-warehouse">
                    <div class="secondary content-box">
                        <div class="header">
                        <h2>Looking to <strong>OFFER</strong> storage space?</h2><a href="/provider-registration-1"><button class="action mini">register</button></a>
                        </div>
                        <div class="main">
                        <h3>Zupplychain can help you...</h3>
                                <ul class="large-bullets">
                                        <li>Find new customers</li>
                                        <li>Grow your business</li>
                                        <li>Get instant online enquires</li>
                                        <li>Fill your empty space</li>
                                    </ul>
                                <div class="helper-icon">
                                    <img src="/images/warehouse-icon.png" alt="Offer storage space"/>
                                </div> 
                        </div>
                        <!--<div class="footer">
                        Offer your storage space <a href="/provider-registration-1"><button class="action mini">start</button></a>
                        </div>-->
                    </div>
                </div>
                <div class="six columns  find-warehouse-space">
                <div class="secondary content-box">
                    <div class="header">
                    <h2>Looking to <strong>BOOK</strong> storage space</h2><a href="/search"><button class="action mini ">search</button></a>
                    </div>
                    <div class="main">
                    <h3>Zupplychain can help you...</h3>
                   
                        <ul class="large-bullets">
                                <li>Compare prices and availability</li>        
                                <li>Find the lowest prices near you</li>
                                <li>Find short and long term storage</li>
                                <li>Get an instant quote</li>
                            </ul>
                        <div class="helper-icon">
                            <img src="/images/user-search-icon.png" alt="Book storage space"/>
                        </div>
                                    
                    </div>
                    <!--<div class="footer">
                    Look for storage space <a href="/search"><button class="action mini ">start</button></a>
                    </div>-->
                    </div>
                </div>
            </div>
            </div>
            <div class="main-box-footer  testimonial-footer ">
                <blockquote class="quotes">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum<span>Joe Bloggs, Company A</span></blockquote>
                
            </div>
         </main>   
       <% include ./partials/bottom %>