<!doctype html>
<html class="no-js" lang="">
    <% include ./partials/head %>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        
        <% include ./partials/header %>
        
        
        <div class="container">
            
            <main>
            <div class="row call-to-action">
                <div class="six columns fat fill-your-warehouse">
                    <div class="mini-content-box">
                        <h2><span>Fill your warehouse</span><br/>&amp; find new customers</h2>
                        <a href="/provider-registration"><button class="action forward large">CLICK HERE</button></a>
                    </div>
                </div>
                <div class="big-OR">OR</div>
                <div class="six columns fat find-warehouse-space">
                <div class="mini-content-box">
                    <h2><span>Find the lowest priced</span><br/>warehouse space near you</h2>
                    <a href="/find-storage"><button class="action forward large">CLICK HERE</button></a>
                    </div>
                </div>
            </div>
            
            
            <div class="row banner">
                <h1>Here to match your...</h1>
            </div>
            
            <div class="row">
                <div class="six columns fat">
                    <div class="content-box secondary match-your">
                        <div class="header">
                           <h5>... warehouse space to potential customers</h5>
                        </div>
                        <div class="main">
                            <div class="content-box info what-is">
                                <div class="header">
                                    <h3>What is Zupply chain?</h3>
                                </div>
                                <div class="main">
                                    <ul class="large-bullets">
                                        <li>Offer space to customers</li>
                                        <li>Grow your business</li>
                                        <li>Lorem ipsum</li>
                                        <li>Dolor sit</li>
                                    </ul>
                                    
                                </div>
                                <div class="footer">
                                    <button class="simple forward mini">MORE</button>
                                </div>
                            </div>
                        </div>
                        <div class="footer testimonial-footer quotes">
                            <h5>Testimonial</h5>
                            <blockquote>
                            Lorem ipsum dolor sit amet. adpliscing alorum capet. Lorem ipsum dolor sit amet. adpliscing alorum capet. Lorem ipsum dolor sit amet. adpliscing alorum capet. Lorem ipsum dolor sit amet. adpliscing alorum capet. Lorem ipsum dolor sit amet. adpliscing alorum capet. Lorem ipsum dolor sit amet. adpliscing alorum capet. Lorem ipsum dolor sit amet. adpliscing alorum capet.
                            </blockquote>
                            <span>Joe Blogs, company N
                        </div>
                    </div>
                </div>
                <div class="six columns fat">
                    <div class="content-box secondary match-your">
                        <div class="header">
                           <h5>... pallet storage requirements to our unique database of providers</h5>
                        </div>
                        <div class="main">
                            <div class="content-box info  what-is">
                                <div class="header">
                                    <h3>What is Zupply chain?</h3>
                                </div>
                                <div class="main">
                                    <ul class="large-bullets">
                                        <li>Offer space to customers</li>
                                        <li>Grow your business</li>
                                        <li>Lorem ipsum</li>
                                        <li>Dolor sit</li>
                                    </ul>
                                    
                                </div>
                                <div class="footer">
                                    <button class="simple forward mini">MORE</button>
                                </div>
                            </div>
                        </div>
                        <div class="footer testimonial-footer quotes">
                            <h5>Testimonial</h5>
                            <blockquote>
                            Lorem ipsum dolor sit amet. adpliscing alorum capet. Lorem ipsum dolor sit amet. adpliscing alorum capet. Lorem ipsum dolor sit amet. adpliscing alorum capet. Lorem ipsum dolor sit amet. adpliscing alorum capet. Lorem ipsum dolor sit amet. adpliscing alorum capet. Lorem ipsum dolor sit amet. adpliscing alorum capet. Lorem ipsum dolor sit amet. adpliscing alorum capet.
                            </blockquote>
                            <span>Joe Blogs, company N
                        </div>
                    </div>
                </div>
            </div>
            
            
        </main>
		</div>
        <% include ./partials/footer %>
    </body>
</html>
