 <% include ./partials/top %>   
	<main id="login">
		<div class="banner">
			<h1>Login</h1>
		</div>
		<section>
			<form class="loom-form" action="/login-user" id="login-form" novalidate>
				<div class="main">
					<div class="content-box primary">
						<div class="header">
							<h3>Login</h3>
						</div>
						<fieldset class="main">
							<div class="main-container">
								<div class="columns six">
									<div class="input-field">
										<label for="name">Email*</label><input type="email" name="email" id="email" required>
									</div>
								</div>
								<div class="columns six">
									<div class="input-field">
										<label for="email">Password*</label><input type="password" name="password" id="password" required>
									</div>
									<div class="button-container">
										<a class="forgot-password text-link" href="#" >Forgot your password</a>
										<button class="action primary">Login</button>
									</div>
								</div>
							</div>
							<% if( typeof loginFailed != "undefined" && loginFailed ){%>
								<p>Login Failed</p>
							<%}%>
								<div class="not-registered-container">
									<div class="columns six not-registered">
										<p>Not Registered?</p>
										<a href="/provider-registration-1" class="text-link">I am a Storage Provider and would like to offer storage space</a>
									</div>
									<div class="columns six not-registered">
										<a href="/search" class="text-link">I am a Customer and would like to search for storage space</a>
									</div>
								</div>
						</fieldset>
					</div>
					<p>*Required Fields</p>
				</div>
			</form>
		</section>
		<div class="continue-links footer form-footer">
			<div class="container">
				<a href="/" class="button simple home">home</a>
			</div>
		</div>
	</main>
 <% include ./partials/bottom %>   