 <% include ./partials/top %>   
            
			<main>
				<div class="row carousel">
					<img src="/images/provider-banner.png" alt="Complete your registration"/>
					<h1 class="title large-font">
						<span>Complete your</span>
						<br/>
						registration
					</h1>
					<p class="desc medium-font">Complete your registration &amp; help customers choose your warehouse</p>
				</div>
				<div class="row">
					<ul class="tabs">
						<li class="four columns checked">Step 1</li>
						<li class="four columns checked">Step 2</li>
						<li class="four columns active checked">Step 3</li>
					</ul>
					<section class="tab-content">
						<form method="post" action="/provider-registration-3.html">
							<div class="main">
								<div class="content-box primary">
									<div class="header">
										<h3>Price and availability</h3>
									</div>
									<fieldset class="main">
										<table class="max price-and-availability">
											<thead>
												<tr>
													<th>Storage Name</th>
													<th>Price per week*</th>
													<th>Handling charge*</th>
													<th>Availabile pallets</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="text">
														<span>Pallet One</span>
													</td>
													<td>
														<input type="text"/>
													</td>
													<td>
														<input type="text"/>
													</td>
													<td>
														<input type="text"/>
													</td>
												</tr>
											</tbody>
										</table>
										<div class="row">
											<div class="columns six checkbox">
												<input type="checkbox" name="accept" id="accept"/>
												<label for="accept">*I accept that the ZupplyChain commission is x%.</label>
											</div>
											<div class="columns six">
												<button href="#" class="tertiary forward mini">View Terms &amp; Conditions</button>
												<button href="#" class="view-list tertiary forward mini">View list of Documentation</button>
											</div>
										</div>
									</fieldset>
								</div>
							</div>
							<fieldset class="form-footer">
								<button class="back">Back</button>
								<button class="action next">Save &amp; Finish</button>
							</fieldset>
						</form>
					</section>
				</div>
			</main>
         <% include ./partials/bottom %>   