 <% include ./partials/top%>   
	<main class="warehouse-profile quote-request-confirm">
		<div class="banner">
			<h1>Quotation request confirmation</h1>
		</div>
		<section>
            <div class="main">
            <div class="content-box primary">
            <div class="main">
                <h2>Your quotation request has been sent to the storage provider</h2>
                <p>You will receive an email notification within 2 working days</p>
                <a class="button action" href="/search">Choose another warehouse</a> 
                <a class="button secondary" href="/search">back to search page</a>
                </div>
                </div>
			</div>
		</section>
	</main>
    
 <% include ./partials/bottom%>
 
