 <% include ./partials/top%>   
	<main class="warehouse-profile quote-request-confirm">
		<div class="banner">
			<h1>Request for storage confirmation</h1>
		</div>
		<section>
            <div class="main">
            <div class="content-box primary">
            <div class="main">
                <h2>Your request for storage has been sent to the storage provider</h2>
                <p>You will receive a response within 2 working days</p>
                <a class="button action" href="/search">Choose another warehouse*</a> 
                <a class="button secondary" href="/search">back to search page</a>
                <br/><br/>
                <p>* You can choose up to three warehouses per search.</p>
                </div>
                </div>
			</div>
		</section>
	</main>
    
 <% include ./partials/bottom%>
 
