 <% include ./partials/top %>   
            <%
				warehouse={};
				if( user.warehouses && user.warehouses.length  ){
					warehouse=user.warehouses[0];
				}
				if(!warehouse.storage.length){
					warehouse.storage=[];
				}
			%>
			<main>
				<div class="row carousel">
					<img src="/images/provider-banner.png" alt="Complete your registration"/>
					<h1 class="title large-font">
						<span>Complete your</span>
						<br/>
						registration
					</h1>
					<p class="desc medium-font">Complete your registration &amp; help customers choose your warehouse</p>
				</div>
				<div class="row">
					<ul class="tabs">
						<li class="four columns checked">Step 1</li>
						<li class="four columns checked">Step 2</li>
						<li class="four columns active checked">Step 3</li>
					</ul>
					<section class="tab-content">
						<form method="post" action="/provider-registration-complete" class="responsive-table">
							<div class="main">
								<div class="content-box primary">
									<div class="header">
										<h3>Price and availability</h3>
									</div>
									<fieldset class="main">
										<table class="max price-and-availability">
											<thead>
												<tr>
													<th>Storage Name</th>
													<th>Pricing</th>
													<th>Volume Discount</th>
													<th>Availabile Pallets</th>
												</tr>
											</thead>
											<tbody>
												<%for( var i=0; i<warehouse.storage.length;i++ ){%>
												<tr data-id="<%=warehouse.storage[i]._id %>">
													
													<td class="text" data-th="Storage Name">
														<span><%=warehouse.storage[i].name%></span>
													</td>
													<td class="button-cell" data-th="Pricing">
														<button data-template="pricing" type="button" class="secondary popup mini">click here</button>
													</td>
													<td class="button-cell" data-th="Volume Discount">
														<button data-template="volume"  type="button" class="secondary popup mini">click here</button>
													</td>
													<td class="button-cell" data-th="Available Pallets">
														<button data-template="pallets" type="button" class="secondary popup mini">click here</button>
													</td>
											    </tr>
											    <%}%>
											</tbody>
										</table>
										<div class="row">
											<div class="columns six checkbox">
												<input type="checkbox" name="accept" id="accept"/>
												<label for="accept">*I accept that the ZupplyChain commission is x%.</label>
											</div>
											<div class="columns six">
												<button href="#" class="tertiary forward mini">View Terms &amp; Conditions</button>
												<button href="#" class="view-list tertiary forward mini">View list of Documentation</button>
											</div>
										</div>
									</fieldset>
								</div>
							</div>
							<fieldset class="form-footer">
								<a href="/provider-registration-2"><button class="back" type="button">Back</button></a>
								<button class="action next">Save &amp; Finish</button>
							</fieldset>
						</form>
					</section>
				</div>
			</main>
         <% include ./partials/bottom %> 
		 <script type="text/template" id="pricing">
			<div class="popup-window">
				<div class="inner">
					<button class="close no-resize"><span>close</span></button>
					<table class="show-title responsive-table" data-title="Pricing">
						<thead>
							<tr>
								<th>From</th>
								<th>To</th>
								<th>Price per pallet per week</th>
								<th>Handling charge per pallet (In and Out)</th>
								<th>Cost to reserve</th>
								<th/>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<button class="action add">add row</button>
					<button class="action">done</button>
				</div>
			</div>
		 </script>
		 <script type="text/template" id="pricing-row">
		    <% include ./partials/pricing-row %> 
		 </script>
		 <script type="text/template" id="volume">
			<div class="popup-window">
				<div class="inner">
					<button class="close no-resize"><span>close</span></button>
					<table class="show-title responsive-table" data-title="Volume Discount">
						<thead>
							<th>Number of Pallets</th>
							<th>% Discount</th>
							<th>Discount Value
						</thead>
						<tbody>
							<tr>
								<td data-th="No Pallets"><span>11 - 50 pallets</span></td>
								<td data-th="% Discount"><input type="text"/></td>
								<td data-th="Discount Value"><input type="text"/></td>
							</tr>
							<tr>
								<td data-th="No Pallets"><span>50 - 100 pallets</span></td>
								<td data-th="% Discount"><input type="text"/></td>
								<td data-th="Discount Value"><input type="text"/></td>
							</tr>
							<tr>
								<td data-th="No Pallets"><span>100 - 250 pallets</span></td>
								<td data-th="% Discount"><input type="text"/></td>
								<td data-th="Discount Value"><input type="text"/></td>
							</tr>
							<tr>
								<td data-th="No Pallets"><span>250 - 500 pallets</span></td>
								<td data-th="% Discount"><input type="text"/></td>
								<td data-th="Discount Value"><input type="text"/></td>
							</tr>
							<tr>
								<td data-th="No Pallets"><span>500+ pallets</span></td>
								<td data-th="% Discount"><input type="text"/></td>
								<td data-th="Discount Value"><input type="text"/></td>
							</tr>
						</tbody>
					</table>
					<button class="action">done</button>
				</div>
			</div>
		 </script>
		 <script type="text/template" id="pallets">
			<div class="popup-window">
				<div class="inner">
					<button class="close no-resize"><span>close</span></button>
					<table class="show-title responsive-table" data-title="Available Pallets">
						<thead>
							<tr>
								<th>From</th>
								<th>To</th>
								<th>Total Pallets</th>
								<th>Estimated in Use</th>
								<th>Estimated Free</th>
								<th/>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td data-th="From"><input type="date" class="datepicker" /></td>
								<td data-th="To"><input type="date" class="datepicker"/></td>
								<td data-th="Total Pallets"><input type="text"/></td>
								<td data-th="Estimated in Use"><input type="text"/></td>
								<td data-th="Estimated Free"><input  type="text"/></td>
								<td data-th="Remove"><button type="button" class="trash-button"><span>Delete</span></button></td>
							</tr>
						</tbody>
					</table>
					<button class="action">add row</button>
					<button class="action">done</button>
				</div>
			</div>
		 </script>