 <% include ./partials/top%>  
	<main class="reviews">
		<div class="banner">
			<h1>
				Reviews
			</h1>
		</div>
        <section>
			<% include ./partials/coming-soon%>
		</section>
	</main>
<% include ./partials/bottom%>