<% include ./partials/top %>   
<main id="customer">
	<div class="banner row">
		<div class="columns five">
			<!--<img src="/images/provider-banner.png" alt="Search for warehouse space"/>
			<h1 class="title large-font">
				<span>Zupplychain</span>
				<br/>here to find space<span class="medium-font">for your pallets</span>
			</h1>-->
			<h1>Search for space now!</h1>
		</div>
	</div>
	<section class="start-search">
		<div class="title">
			<h2 class="large-font">Search for Warehouse space now</h2>
			<a href="/search" class="button action large forward">Click here</a>
		</div>
		<p>Are you looking to sell your warehouse space? <a href="/provider-registration-1" class="button forward">Click here</a></p>
	</section>
	<div class="row">
		<div class="six columns fat">
			<div class="content-box secondary match-your">
				<div class="main">
					<div class="content-box info what-is">
						<div class="header">
							<h3>What is Zupplychain?</h3>
						</div>
						<div class="main four-points">
							<ul class="large-bullets">
								<li>Compare prices and availability</li>
								<li>Find the lowest prices near you</li>
								<li>Find short and long term storage</li>
								<li>Get an instant quote</li>
							</ul>
							
						</div>
						<div class="footer">
							<a href="/search" class="button simple forward mini">Search for warehouse space</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="six columns fat">
			<div class="content-box secondary match-your">
				<div class="main">
					<div class="content-box info  what-is">
						<div class="header">
							<h3>How it works...</h3>
						</div>
						<div class="main">
							<ul class="large-bullets">
								<li>Specify where you want to search</li>
								<li>Provide details of pallets</li>
								<li>Press SEARCH!</li>
								<li>Review instant results</li>
								<li>SELECT A WAREHOUSE!</li>
							</ul>
							
						</div>
						<div class="footer">
							<a href="/search" class="button simple forward mini">Search for warehouse space</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="banner">
		<!--<h3>Testimonials</h3>-->
		<div class="row">
		<!--<div class="three columns fat">
			<div class="quote-box quotes">
				<blockquote>Lorem Ipsums dolor sit amet, this is some quote text from a customer who was very impressed with the service. Lorem Ipsums dolor sit amet, this is some quote text from a customer who was very impressed with the service.</blockquote>
				<span>Joe Blogs, Company A</span>
			</div>
		</div>
		<div class="three columns fat">
			<div class="quote-box quotes">
				<blockquote>Lorem Ipsums dolor sit amet, this is some quote text from a customer who was very impressed with the service. Lorem Ipsums dolor sit amet, this is some quote text from a customer who was very impressed with the service.</blockquote>
				<span>Joe Blogs, Company A</span>
			</div>
		</div>
		<div class="three columns fat">
			<div class="quote-box quotes">
				<blockquote>Lorem Ipsums dolor sit amet, this is some quote text from a customer who was very impressed with the service. Lorem Ipsums dolor sit amet, this is some quote text from a customer who was very impressed with the service.</blockquote>
				<span>Joe Blogs, Company A</span>
			</div>
		</div>
		<div class="three columns fat">
			<div class="quote-box quotes">
				<blockquote>Lorem Ipsums dolor sit amet, this is some quote text from a customer who was very impressed with the service. Lorem Ipsums dolor sit amet, this is some quote text from a customer who was very impressed with the service.</blockquote>
				<span>Joe Blogs, Company A</span>
			</div>
		</div>-->
			<div class="service-box columns four">
				<div class="service-image">
					<img src="/images/match-icon.png" alt="Instant Matching"/>
				</div>
				<div class="service-info">
					<h3>Instant Matching</h3>
					<p>Instant matching up of detailed requirements with appropriate available space. No time wasted researching dead ends.</p>
				</div>
			</div>
			<div class="service-box columns four">
				<div class="service-image">
					<img src="/images/quote-icon.png" alt="Upfront quotes"/>
				</div>
				<div class="service-info">
					<h3>Upfront quotes</h3>
					<p>Full transparency of available space and pricing.</p>
				</div>
			</div>
			<div class="service-box columns four">
				<div class="service-image">
					<img src="/images/tracking-icon-radar.png" alt="Online tracking"/>
				</div>
				<div class="service-info">
					<h3>Online tracking</h3>
					<p>On-line management system, coupled with pallet barcodes, to track each pallet and request its further movement.</p>
				</div>
			</div>
		</div>
	<!--</div>-->
</div>
</main>   
<% include ./partials/bottom %>   