 <% include ./partials/top %> 
    <main class="search-results-page">
		<div class="search-top-section">
				<div class="banner">
						<h1>Get an instant quote</h1>
					</div>
		</div>
		<% include ./partials/search-criteria %>
        <% include ./partials/results-map %>
        <% include ./partials/register-email %>
        <% include ./partials/search-description %>
        <div class="row info-boxes">
            <div class="three columns fat">
                <div class="info-box">
                    <span class="icon">£</span>
                    <h4>Lowest Price</h4>
                    <p>Search for the lowest priced warehouse spaces near you.</p>
                </div>
            </div>
            <div class="three columns fat">
                <div class="info-box">
                    <span class="icon ion-clipboard"></span>
                    <h4>Compare Price</h4>
                    <p>No registration needed when you compare prices and availability.</p>
                </div>
            </div>
            <div class="three columns fat">
                <div class="info-box">
                    <span class="icon ion-android-stopwatch"></span>
                    <h4>Short Term</h4>
                    <p>Solve problems of excess stock or seasonal variation.</p>
                </div>
            </div>
            <div class="three columns fat">
                <div class="info-box">
                    <span class="icon ion-calendar"></span>
                    <h4>Long Term</h4>
                    <p>Full 3PL service package for longer term storage.</p>
                </div>
            </div>
        </div>
        <% include ./partials/results-table %>
        <div class="banner testimonials">
            <h3>Testimonials</h3>
            <div class="row">
            <div class="three columns fat">
                <div class="quote-box quotes">
                    <blockquote>Lorem Ipsums dolor sit amet, this is some quote text from a customer who was very impressed with the service. Lorem Ipsums dolor sit amet, this is some quote text from a customer who was very impressed with the service.</blockquote>
                    <span>Joe Blogs, Company A</span>
                </div>
            </div>
            <div class="three columns fat">
                <div class="quote-box quotes">
                    <blockquote>Lorem Ipsums dolor sit amet, this is some quote text from a customer who was very impressed with the service. Lorem Ipsums dolor sit amet, this is some quote text from a customer who was very impressed with the service.</blockquote>
                    <span>Joe Blogs, Company A</span>
                </div>
            </div>
            <div class="three columns fat">
                <div class="quote-box quotes">
                    <blockquote>Lorem Ipsums dolor sit amet, this is some quote text from a customer who was very impressed with the service. Lorem Ipsums dolor sit amet, this is some quote text from a customer who was very impressed with the service.</blockquote>
                    <span>Joe Blogs, Company A</span>
                </div>
            </div>
            <div class="three columns fat">
                <div class="quote-box quotes">
                    <blockquote>Lorem Ipsums dolor sit amet, this is some quote text from a customer who was very impressed with the service. Lorem Ipsums dolor sit amet, this is some quote text from a customer who was very impressed with the service.</blockquote>
                    <span>Joe Blogs, Company A</span>
                </div>
            </div>
        </div>
        </div>
        <div class="continue-links footer form-footer" style="display:none">
               
                
            </div>
        
    </main>

    <% include ./partials/bottom %>   
    