 <% include ./partials/top%>   
	<main class="warehouse-profile registration-complete">
		<div class="banner">
			<h1>warehouse registration confirmation</h1>
		</div>
		<section>
            <div class="main">
            	<div class="content-box primary">
					<div class="main">
						<h2>Thank you for registering your first warehouse with ZupplyChain.</h2>
					</div>
                </div>
		    </div>
			<fieldset class="form-footer">
				<a class="button action" href="/dashboard#warehouses">Add another warehouse</a>
				<span>OR</span> 
				<a class="button action" href="/dashboard">Go to your dashboard</a>
			</fieldset>
		</section>
	</main>
    
 <% include ./partials/bottom%>
 
