</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr style="background-color:#6a6666;font-family:'arial' sans-serif;font-weight:bold;">
                <td style="padding:20px;" >
                    <table align="center" style="border:1px solid #ccc;padding: 10px 20px 10px 20px">
                        <tr style="padding:10px;">
                            <td style="color:#96c11f; text-align:center;">Need more help?</td>
                        </tr >
                        <tr style="color:#fff;">
                            <td align="center" style="padding:10px;"><b style="color:#96c11f;">T:</b><%= config.companyDetails.telephone %><b style="color:#96c11f"> F:</b><%= config.companyDetails.fax %><br/>
                                <b style="color:#96c11f">E:</b><a style="color:#fff; text-decoration:none;" href="mailto:info@zupplychain.com">info@zupplychain.com</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                     <img src="/images/email/email-footer.png" />
                </td>
            </tr>
        </table>
    </td>
    </tr>
<table>
<table>
</body>
</html>