<% 
title = "ACCCEPTED QUOTATION";
subtitle = "Please review the details below"; 
%>
<% include ./partials/header %> 
<b><%= quote.userData.companyName %></b> has accepted your quotation for storage within your warehouse <b><%= quote.warehouse.name%></b>.<br/><br/><br/>
                            <a href="" style="color:#fff;background-color:#f1901a;padding:10px 15px;border-radius:5px;text-decoration:none;">CLICK TO CONFIRM</a>
<% include ./partials/footer %> 