<% 
title = "REQUEST FOR STORAGE";
subtitle = "Please review the details below"; 
%>
<% include ./partials/header %> 
<b><%= quote.userData.companyName %></b> has submitted a request for storage in your warehouse, <b><%= quote.warehouse.name %></b><br/><br/><br/>
                            <a href="/provider-offer/<%= quote._id %>" style="color:#fff;background-color:#f1901a;padding:10px 15px;border-radius:5px;text-decoration:none;">CLICK TO RESPOND</a>
<% include ./partials/footer %> 