<% include ./partials/header %> 
	<p>You have successfully registered as a Zupplychain user with the username <%=email%></p>
	<p>To utilise Zupplychain to its fullest please log onto the site <a href="<%=loginUrl%>">here</a>. Once you are logged onto the site you will be directed to the dashboard</p>
	<p>Welcome to Zupplychain!</p>
<% include ./partials/footer %> 