<html>
<head>
</head>
<body style="font-family:'arial', sans-serif;color:#888;">
    <h1>Zupply Email Previews</h1>
    <ul>
            <li>
            <a style="color:#888"  href="emails/provider-request">Provider Request</a>
            
        </li>
            <li>
            <a style="color:#888"  href="/emails/quotation-offer">Quotation Offer</a>
        </li>
        <li>
            <a style="color:#888" href="/emails/provider-quotation">Provider Quotation</a>
        </li>
        


        <li>
            <a style="color:#888"  href="emails/order-confirmation">Order Confirmation</a>
            
        </li>
    </ul>
</body>
</html>