<% 
title = "TASK REMINDER";
subtitle = "Please review the details below"; 
%>
<% include ./partials/header %> 
	<p>This is an automatic reminder reminding you to log into your dashboard and set up all of your contacts.</p>
	<p>if you have already done this please ignore this email. Thank you.</p>
<% include ./partials/footer %> 