<% 
title = "Contact Assignment";
subtitle = "Please review the details below"; 
%>
<% include ./partials/header %> 
	<%-content%>
	<p>You are already registered as a Zupplychain user and as such no further action is required</p>
	<p>Thank you for using Zupplychain!</p>
<% include ./partials/footer %> 