<div class="eight columns">
	<div class="news-post-container">
		<div class="news-post content-box">
			<div class="header">
				<h3>News Post 2</h3>
			</div>
			<div class="image-container">
				<img src="./images/map-test.png" alt="placeholder"/>
			</div>
			<div class="main">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac lacus a enim convallis efficitur sit amet vel felis. Morbi at lacus rutrum, vehicula lectus in, aliquam felis.</p>
				<p>Nunc vitae tellus nibh. Ut lacinia leo in massa varius, at scelerisque nunc fringilla. Proin tincidunt augue ut tristique ullamcorper. In ullamcorper eu turpis sit amet pellentesque. Integer elit sapien, rutrum et felis a, elementum aliquam massa. Morbi imperdiet pretium arcu et pellentesque. In et nibh a nulla vulputate laoreet non id eros. Cras tincidunt tellus vel enim interdum, at ultrices mauris cursus. Suspendisse pretium auctor finibus. Nunc leo arcu, pretium sed sollicitudin vitae, consequat quis lacus.</p>
				<p>Nunc dictum rutrum pellentesque. Ut euismod maximus lacinia. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean in diam eget diam sodales porttitor. Cras efficitur nunc nec magna tincidunt, ut vehicula turpis euismod. In bibendum sed orci quis ultrices. Vivamus pharetra nisl id orci elementum, vel viverra augue molestie. Quisque ultrices at felis sed condimentum. Ut sollicitudin vulputate augue, vitae vulputate tellus scelerisque nec. Donec nulla felis, tincidunt et ante ut, suscipit tincidunt purus. Integer ullamcorper nec purus sed luctus.</p>
				<p>Phasellus tincidunt ipsum turpis, ut malesuada diam fringilla congue. Nulla ante mauris, dapibus sed semper sit amet, mollis vitae diam. Duis suscipit eros mollis, vulputate ligula vel, iaculis neque. Quisque quis purus eu quam iaculis rutrum eleifend vitae nisi. Quisque sollicitudin maximus magna, in malesuada ex tempor bibendum. Proin sodales risus et varius tincidunt. Phasellus vestibulum arcu sapien, vel hendrerit ex convallis ac. Nam quis nibh vel libero malesuada imperdiet. Nunc interdum nec justo in lacinia. Nulla facilisi. Aliquam semper, lorem id laoreet egestas, elit odio blandit quam, quis consequat nisi turpis nec lacus. Duis sodales iaculis aliquet. Pellentesque eleifend magna justo, malesuada dapibus est scelerisque in.</p>
			</div>
		</div>
	</div>
	<a href="/news" class="back">BACK</a>
</div>