<div class="eight columns">
	<div class="news-post-container">
		<div class="news-post content-box">
			<div class="header">
				<h3>Zupplychain: how it works</h3>
			</div>
			<div class="image-container">
				<img src="./images/bury-search-results.png" alt="Example Search Results" width="783"/>
			</div>
			<div class="main">
				<p>Zupplychain provides a full circle b2b portal for storage providers and customers, not only helping them find each other but enabling the whole relationship and contract to be managed on-line! </p>
				
				<p>And is very simple to use!</p>
				
				<p>Storage providers need to register. Registration is by listing a warehouse in which some pallet spaces are available for Zuppychain users. Multiple warehouses can be subsequently listed under the same registration.</p>
				
				<p>For the registration, the storage provider will need:</p>
				
				<ul>
					<li>Basic company and warehouse address information.</li>
					<li>The overall size and specification of warehouse and services offered (optional).</li>
					<li>Photos of the warehouse (optional).</li>
					<li>Documents to upload (optional) such as fire safety certificates, insurance details, trade body memberships.</li>
					<li>A summary of the different types of racking or space within the warehouse, which either have different height/weight characteristics, or might be priced differently.</li>
					<li>The price per pallet per week and the in/out handling charge for each of the areas listed above. This price can be varied in advance for different seasons.</li>
					<li>The number of pallets available for Zupplychain users in each of the areas of the warehouse. Again, this can be varied by time of year, and can be set at zero. Where no availability is indicated, Zupplychain will assume zero.</li>
				</ul>
				
				<p>For a search, the customer specifies:</p>
				
				<ul>
					<li>A search point (either with the first part of a postcode, e.g., NG1; or a town or city), and a maximum search radius around it.</li>
					<li>The number of pallets to be stored, a start date and an expected duration (for the last pallet to leave).</li>
					<li>The max height and weight of the pallets.</li>
					<li>The product description.</li>
					<li>The type of pallet and the storage temperature (or ‘bonded’ or ‘outside’).</li>
				</ul>
				
				<p>On pressing ‘Search’, Zupplychain instantly returns all the warehouses within the specified search zone that can accommodate the type and quantity of pallets specified in the first week of the search requirement. These warehouses are ordered by distance from the centre of the search, but can be re-ordered by rating, price per pallet per week or expected total cost. The total cost assumes the full quantity of pallets for the full expected duration: however, the customer can specify the expected pallets for each week at a later stage to fine tune the search and expected cost.</p>
				
				<p>From the results listing, the customer can review each warehouse’s profile page, and detail on pricing and availability.</p>
				
				<p>‘Chose a warehouse’ starts the enquiry process. For each search, a customer can choose up to three warehouses. Zupplychain then sends the enquiry details to the storage provider, who will respond within 48 hours to confirm availability and propose payment terms. Acceptance by the customer effectively creates the order for storage!</p>
				
				<p>But Zupplychain does not stop there! Once the two parties are matched, Zupplychain becomes the portal for all communications between the parties. Key to this is its pallet by pallet database, enabling customers to specify pallet movements online to the storage provider using a unique reference number, backed up by a barcode. This means that at any one moment, a customer can see all its Zupplychain pallets in all its Zupplychain locations and ensure they are delivered out in the preferred order, where product dates or different product variations are important. Both storage providers and customers have User Dashboards they can log into to find all e-mails and notifications, sorted by both type and contract. The dashboards have different security and menus for different functions, e.g. warehouse, finance, general management.</p>
				
				<p>Finally, both storage providers and customers will have the opportunity to rate each other at the end of the contract, so as to help other users identify the highest rated providers and customers.</p>
				
				<p>Storage providers are currently being recruited. Zupplychain is targeting January 2016 for fully launching the search facility.</p>
			</div>
		</div>
	</div>
	<a class="button action mini prev" href="/news" class="back">BACK</a>
</div>