<div class="ten columns offset-by-one">
	<div class="news-post-container">
		<div class="news-post content-box">
			<div class="header">
				<h3>Zupplychain launches ad campaign to recruit storage providers</h3>
			</div>
			<div class="image-container">
				<img src="./images/whouse4.jpg" alt="placeholder"/>
			</div>
			<div class="main">
				<p>Zupplychain, the recently launched b2b portal which finds pallets for space and space for pallets, has launched a significant 12 month advertising and marketing campaign.</p>
				
				<p>The initial campaign will focus on recruiting storage providers from the UK 3PL community. The message is simple: if you have space for new customers, visit our site and register for free! With such a singular message, the execution has to be eye-catching!</p>
				
				<p>Once sufficient storage providers have been recruited so that those searching return meaningful results, Zupplychain will launch a campaign targeting potential customers.</p>
			</div>
		</div>
	</div>
	<a class="button mini action prev" href="/news" class="back">BACK</a>
</div>