<div class="ten columns offset-by-one">
	<div class="news-post-container">
		<div class="news-post content-box">
			<div class="header">
				<h3>Zupplychain launched!</h3>
			</div>
			<div class="image-container">
				<img src="./images/general-landing-page.png" alt="general-landing-page" width="785"/>
			</div>
			<div class="main">
				<p>Zupplychain, a brand new b2b website to match warehouse space with pallets needing storage, has been launched today!</p>
				
				<p>Zupplychain has been inspired by its founder’s and Managing Director’s experience of running manufacturing and distribution businesses - with space requirements and stock often yo-yo-ing – and the growing market in ‘peer to peer’ or ‘aggregating’ sites such as Airb2b and Uber.</p>
				
				<p>As Managing Director Martin Elgood explains: ‘Much as we tried, we often didn’t have the stock levels we predicted: either our customers sold more than expected, or less; add in stock builds for supplier annual shutdowns and customer promotions, and large range changes, and we were often in need of additional short term 3rd party warehousing. And when we were growing fast, it made little sense to take on a long lease for a new warehouse until we were clearer on our long term requirements. We didn’t have a Zupplychain….so we just took short term leases close by, without looking at the wider market. With Zupplychain, you can choose exactly the quantity you want and the period, without long contracts or commitments.’</p>
				
				<p>For 3PL storage providers, Zupplychain is an opportunity to access customers who usually do not use third party warehousing; or who traditionally rely on established contacts; or who are out of the area but want to store product closer to customers or inbound/outbound ports. Zupplychain makes it easy to be found by these customers, quote to them simply and consistently, and deal with them operationally through the Zupplychain portal – no need for meetings; manually generated e-mails; time consuming phone calls.</p>
				
				<p>For customers, Zupplychain provides the opportunity to search the local market in any area for the best providers; to solve warehousing problems in more creative ways; and to use the 3PL industry’s storage capacity without having to lease or build additional warehousing.</p>
				
				<p>Elgood continues, ‘As well as a database and algorithm to best match storage providers and customers, we also have the full communication channel to transact between the parties on-line and, most importantly, manage the relationship operationally afterwards. The database is built by our own team on SAP, so has excellent scale-ability. We’ve also built in the opportunity to price differentially for busier and quieter periods’.</p>
				
				<p>Zuppychain’s founder is Chris Hopkinson, whose previous experience includes owning a distribution business and, in the internet sector, being a founding investor and non-exec of AO.com. Chris concludes, ‘we think there is a significant opportunity for a market maker in the storage sector. We have launched a website that is quick and easy to use for both providers and customers, with instant listings of the best matches.’</p>
			</div>
		</div>
	</div>
	<a class="button action mini prev" href="/news" class="back">BACK</a>
</div>